n8n-workflow-with-unitLink-v3.1.json
{
  "name": "GoogleFileValidation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "validate-document",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e00078b4-7dab-42e6-af88-2e3ca10812cb",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-1328, 304],
      "webhookId": "validate-document"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  vd.id as validation_detail_id,\n  vd.summary_id,\n  vd.namespace_code,\n  vs.\"unitLink\",\n  vs.\"unitCode\",\n  vs.\"rtoCode\",\n  uoc.\"Link\" as unit_link,\n  uoc.\"Title\" as unit_title\nFROM validation_detail vd\nINNER JOIN validation_summary vs ON vd.summary_id = vs.id\nLEFT JOIN \"UnitOfCompetency\" uoc ON vs.\"unitLink\" = uoc.\"Link\"\nWHERE vd.id = {{ $json.body.validationDetailId }}",
        "options": {}
      },
      "id": "e46e548e-dcbf-4f81-9d83-bad34aad2f52",
      "name": "Fetch Validation Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [-1136, 304],
      "credentials": {
        "postgres": {
          "id": "jkimYLj5JZa13Ude",
          "name": "Supabase Nytro"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Webhook Trigger').item.json.body.signedUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "37f03340-fc08-43ff-aca7-c01950978944",
      "name": "Get File from Supabase Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-928, 304]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/fileSearchStores",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Get File Search Stores",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-800, 304],
      "credentials": {
        "httpQueryAuth": {
          "id": "95KTf4aTJIpPe9Lq",
          "name": "Nytro Gemini API Key - File"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Find file search store by display name\nconst displayName = $node['Webhook Trigger'].json.body.fileSearchStore;\nconst stores = $json.fileSearchStores || [];\n\nconst store = stores.find(s => s.displayName === displayName);\n\nif (!store) {\n  throw new Error(`File Search Store not found: ${displayName}`);\n}\n\nconsole.log('[Find Store] Found:', store.name, 'for display name:', displayName);\n\n// Pass through file data and add store name\nreturn {\n  fileSearchStoreName: store.name,  // e.g., 'fileSearchStores/abc123'\n  data: $node['Get File from Supabase Storage'].json.data,  // Pass through file binary data\n  fileName: $node['Webhook Trigger'].json.body.fileName,\n  validationContext: $node['Fetch Validation Context'].json\n};"
      },
      "id": "b2c3d4e5-f6g7-8901-bcde-f12345678901",
      "name": "Find File Search Store",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [-672, 304]
    },
    {
      "parameters": {
        "url": "=https://generativelanguage.googleapis.com/upload/v1beta/{{ $json.fileSearchStoreName }}:uploadToFileSearchStore",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "inputDataFieldName": "data",
              "parameterType": "formBinaryData"
            },
            {
              "name": "metadata",
              "value": "={{ JSON.stringify({ displayName: $json.fileName, customMetadata: [{ key: 'rto-code', stringValue: $json.validationContext.rtoCode }, { key: 'unit-code', stringValue: $json.validationContext.unitCode }, { key: 'unit-link', stringValue: $json.validationContext.unit_link }, { key: 'document-type', stringValue: 'assessment' }, { key: 'namespace', stringValue: $json.validationContext.namespace_code }] }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "859fe7ed-9a86-4ab2-a3a8-452fe7b2bd91",
      "name": "Upload to Gemini File Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-544, 304],
      "credentials": {
        "httpQueryAuth": {
          "id": "95KTf4aTJIpPe9Lq",
          "name": "Nytro Gemini API Key - File"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Fetch Validation Context", "type": "main", "index": 0}]]
    },
    "Fetch Validation Context": {
      "main": [[{"node": "Get File from Supabase Storage", "type": "main", "index": 0}]]
    },
    "Get File from Supabase Storage": {
      "main": [[{"node": "Get File Search Stores", "type": "main", "index": 0}]]
    },
    "Get File Search Stores": {
      "main": [[{"node": "Find File Search Store", "type": "main", "index": 0}]]
    },
    "Find File Search Store": {
      "main": [[{"node": "Upload to Gemini File Search", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["validation", "citations", "gemini", "rag", "unitLink"],
  "triggerCount": 1,
  "updatedAt": "2025-11-26T00:00:00.000Z",
  "versionId": "3.1"
}
