n8n-flows/AI Validation Flow - Enhanced (Individual + Session Context).json
{
  "name": "AI Validation Flow - Enhanced (Individual + Session Context)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-validation-enhanced",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bd5f13dc-93b9-4d70-9e9d-c3179720c290",
      "name": "Webhook - Start Validation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2944,
        -144
      ],
      "webhookId": "ai-validation-enhanced-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"success\": true, \"validation_detail_id\": $json.body.validation_detail_id, \"message\": \"Validation started\"} }}",
        "options": {}
      },
      "id": "e2253835-b49d-4c70-bdc8-02b2fcb79c7b",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        432,
        -144
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE validation_detail SET validation_status = 'processing' WHERE id = {{ $json.body.validation_detail_id }}",
        "options": {}
      },
      "id": "e4ffd977-6488-4138-8a9e-f1856b8a5ebb",
      "name": "Update Status: Processing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -2736,
        -144
      ],
      "credentials": {
        "postgres": {
          "id": "jkimYLj5JZa13Ude",
          "name": "Supabase Nytro"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT vd.*, vs.id as summary_id, vs.\"unitCode\", vs.\"unitLink\", vs.\"rtoCode\", vs.created_at as summary_created_at FROM validation_detail vd JOIN validation_summary vs ON vd.summary_id = vs.id WHERE vd.id = {{ $('Webhook - Start Validation').item.json.body.validation_detail_id }}",
        "options": {}
      },
      "id": "ebe14d09-7cd9-418b-b9ee-921ea4e17ec9",
      "name": "Fetch Validation Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -2560,
        -144
      ],
      "credentials": {
        "postgres": {
          "id": "jkimYLj5JZa13Ude",
          "name": "Supabase Nytro"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM documents WHERE validation_detail_id = {{ $('Webhook - Start Validation').item.json.body.validation_detail_id }}",
        "options": {}
      },
      "id": "d5f08e56-9b1c-4629-bbae-d0f4a83cc7cf",
      "name": "Fetch Documents with Metadata",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -2336,
        -400
      ],
      "credentials": {
        "postgres": {
          "id": "jkimYLj5JZa13Ude",
          "name": "Supabase Nytro"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://dfqxmjmggokneiuljkta.supabase.co/functions/v1/get-requirements",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"unit_code\": $('Fetch Validation Context').item.json.unit_code, \"validation_detail_id\": $('Fetch Validation Context').item.json.id} }}",
        "options": {}
      },
      "id": "971da0b6-01cf-4b39-84e3-657280c88cd1",
      "name": "Fetch Requirements (Edge Function)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2096,
        -144
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "g7Y4HgWkwgkDqjLL",
          "name": "Header Auth Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Split requirements into individual items for individual validation\nconst response = $('Fetch Prompt Template').first().json;\nconst validationContext = $('Fetch Validation Context').first().json;\nconst documents = $('Fetch Documents with Metadata').all().map(item => item.json);\n\nif (!response.success || !response.requirements_by_type) {\n  throw new Error('Failed to fetch requirements from edge function');\n}\n\nconst requirementsByType = response.requirements_by_type;\nconst allRequirements = [];\n\n// Flatten all requirements with type information\nfor (const [type, items] of Object.entries(requirementsByType)) {\n  if (items && items.length > 0) {\n    items.forEach((req, index) => {\n      allRequirements.push({\n        ...req,\n        requirement_type: type,\n        requirement_index: index,\n        validation_detail_id: validationContext.id,\n        unit_code: validationContext.unit_code,\n        rto_code: validationContext.rto_code,\n        session_created_at: validationContext.created_at,\n        session_id: validationContext.id,\n        document_count: documents.length,\n        document_metadata: documents.map(d => ({\n          file_name: d.file_name,\n          document_type: d.document_type,\n          created_at: d.created_at,\n          gemini_file_uri: d.gemini_file_uri\n        }))\n      });\n    });\n  }\n}\n\nconsole.log(`Split into ${allRequirements.length} individual requirements`);\nreturn allRequirements.map((req, idx) => ({\n  json: {\n    ...req,\n    total_requirements: allRequirements.length,\n    current_index: idx + 1\n  }\n}));"
      },
      "id": "45583628-4928-4380-9f9f-11a126a9394c",
      "name": "Split into Individual Requirements",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1856,
        -144
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE validation_detail SET validation_total = {{ $json.total_requirements }} WHERE id = {{ $json.validation_detail_id }}",
        "options": {}
      },
      "id": "dcab7b95-9df4-43fc-a222-b6b21fc42765",
      "name": "Update Total Requirements",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1648,
        -144
      ],
      "credentials": {
        "postgres": {
          "id": "jkimYLj5JZa13Ude",
          "name": "Supabase Nytro"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from prompts WHERE prompt_type = 'validation'\n  AND requirement_type = '{{ $('Split into Individual Requirements').first().json.requirement_type }}'\n  AND document_type = 'unit'  AND is_active = true\n  AND is_default = true",
        "options": {}
      },
      "id": "1581749e-fd0d-40ec-8e13-1c56731eddb3",
      "name": "Fetch Prompt Template",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1440,
        -144
      ],
      "credentials": {
        "postgres": {
          "id": "jkimYLj5JZa13Ude",
          "name": "Supabase Nytro"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Prepare Gemini request with FULL session context\nconst requirement = $('Split into Individual Requirements').item.json;\nconst promptData = $('Fetch Prompt Template').first().json;\nconst documents = requirement.document_metadata;\n\n// Build session context (from original workflow)\nconst sessionContext = `\n**VALIDATION SESSION CONTEXT**\n────────────────────────────────────────────────────────────────────\nSession ID: ${requirement.session_id}\nSession Created: ${new Date(requirement.session_created_at).toLocaleString()}\nUnit Code: ${requirement.unit_code}\nRTO Code: ${requirement.rto_code}\nRequirement Type: ${requirement.requirement_type}\nRequirement ${requirement.current_index} of ${requirement.total_requirements}\n────────────────────────────────────────────────────────────────────\n\n**DOCUMENTS FOR THIS SESSION** (${documents.length} files):\n${documents.map((d, i) => `${i + 1}. ${d.file_name} (${d.document_type || 'Assessment Document'})\n   - Uploaded: ${new Date(d.created_at).toLocaleString()}\n   - Gemini URI: ${d.gemini_file_uri}`).join('\\n')}\n\n**IMPORTANT INSTRUCTIONS**:\n1. This is an ISOLATED validation session\n2. Only consider documents uploaded for THIS session (${new Date(requirement.session_created_at).toLocaleString()})\n3. All citations must reference documents from THIS session only\n4. Include document names and page numbers in all evidence citations\n5. Understand images, charts, and diagrams in the documents\n6. This is requirement ${requirement.current_index} of ${requirement.total_requirements}\n\n────────────────────────────────────────────────────────────────────\n`;\n\n// Replace variables in prompt template\nlet promptText = promptData.prompt_text || 'Validate the following requirement against the provided documents.';\npromptText = promptText\n  .replace(/{{requirement_number}}/g, requirement.requirement_number || '')\n  .replace(/{{requirement_text}}/g, requirement.requirement_text || '')\n  .replace(/{{requirement_type}}/g, requirement.requirement_type || '')\n  .replace(/{{unit_code}}/g, requirement.unit_code || '')\n  .replace(/{{document_type}}/g, requirement.document_type || 'unit');\n\n// Build file parts\nconst fileParts = documents.map(doc => ({\n  fileData: {\n    mimeType: \"application/pdf\",\n    fileUri: doc.gemini_file_uri\n  }\n}));\n\n// Build complete prompt with session context\nconst fullPrompt = `${sessionContext}\\n\\n${promptText}`;\n\n// Build Gemini request\nconst geminiRequest = {\n  systemInstruction: {\n    parts: [{text: promptData.system_instruction || 'You are an expert RTO validator.'}]\n  },\n  contents: [\n    ...fileParts.map(file => ({parts: [file]})),\n    {parts: [{text: fullPrompt}]}\n  ],\n  generationConfig: {\n    ...(promptData.generation_config || {}),\n    temperature: 0.1,\n    maxOutputTokens: 8192,\n    responseMimeType: \"application/json\",\n    responseSchema: promptData.output_schema || {}\n  }\n};\n\nreturn {\n  json: {\n    ...requirement,\n    gemini_request: geminiRequest,\n    prompt_used: fullPrompt,\n    session_context: sessionContext\n  }\n};"
      },
      "id": "b1ba4f77-23a4-4eec-9372-c6d2d717d241",
      "name": "Prepare Request with Session Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        -144
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Rate limiting based on tier\nconst tier = $env.GEMINI_TIER || 'free';\nconst rpm = tier === 'paid' ? 1000 : 15;\nconst delayMs = Math.ceil((60 / rpm) * 1000);\n\nconsole.log(`Rate limiting: ${tier} tier, ${rpm} RPM, ${delayMs}ms delay`);\nawait new Promise(resolve => setTimeout(resolve, delayMs));\n\nreturn $input.all();"
      },
      "id": "ee8bbee4-0863-42e6-bff5-f01bd36f988c",
      "name": "Rate Limit Delay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        -144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.gemini_request }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "ada26be5-3b21-4cf2-9913-2fd628b0e93c",
      "name": "Call Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -832,
        -144
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "NIZFWdmjDBYpgwmS",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse Gemini response with session context and rich metadata\nconst response = $json;\nconst requirement = $('Prepare Request with Session Context').item.json;\nconst sessionContext = requirement.session_context;\nconst documentNames = requirement.document_metadata.map(d => d.file_name);\n\n// Extract text from Gemini response\nlet responseText = '';\nif (response.candidates && response.candidates[0]?.content?.parts?.[0]?.text) {\n  responseText = response.candidates[0].content.parts[0].text;\n}\n\n// Parse JSON response\nlet validationResult;\ntry {\n  responseText = responseText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  validationResult = JSON.parse(responseText);\n} catch (error) {\n  console.error('Failed to parse AI response:', error);\n  validationResult = {\n    status: \"error\",\n    reasoning: \"Failed to parse AI response: \" + error.message,\n    error: true\n  };\n}\n\n// Transform to database format with RICH metadata (from original workflow)\nreturn {\n  json: {\n    validation_detail_id: requirement.validation_detail_id,\n    requirement_type: requirement.requirement_type,\n    requirement_number: requirement.requirement_number || validationResult.requirementNumber,\n    requirement_text: requirement.requirement_text || validationResult.requirementText,\n    status: validationResult.status,\n    reasoning: validationResult.reasoning,\n    mapped_content: validationResult.mapped_content || null,\n    unmapped_content: validationResult.unmapped_content || null,\n    recommendations: validationResult.recommendations || null,\n    citations: JSON.stringify((validationResult.evidenceFound || validationResult.doc_references || []).map(evidence => ({\n      document_name: evidence.document || evidence.document_name || 'Unknown',\n      location: evidence.location || evidence.page || 'Unknown',\n      content: evidence.content || evidence.excerpt || '',\n      relevance: evidence.relevance || evidence.explanation || ''\n    }))),\n    smart_questions: JSON.stringify(validationResult.smartQuestions || validationResult.smart_questions || []),\n    metadata: JSON.stringify({\n      gaps: validationResult.gaps || [],\n      confidence_score: validationResult.confidence_score || null,\n      documents_analyzed: documentNames,\n      validated_at: new Date().toISOString(),\n      validation_method: 'gemini_file_api_enhanced',\n      session_context: {\n        session_id: requirement.session_id,\n        session_created_at: requirement.session_created_at,\n        unit_code: requirement.unit_code,\n        rto_code: requirement.rto_code,\n        requirement_index: requirement.current_index,\n        total_requirements: requirement.total_requirements\n      },\n      prompt_used: requirement.prompt_used\n    })\n  }\n};"
      },
      "id": "0d94eb3c-5a93-4c43-a6a4-852cbb6536cf",
      "name": "Parse Response with Rich Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        -144
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO validation_results (validation_detail_id, requirement_type, requirement_number, requirement_text, status, reasoning, mapped_content, unmapped_content, recommendations, citations, smart_questions, metadata) VALUES ({{ $json.validation_detail_id }}, '{{ $json.requirement_type }}', '{{ $json.requirement_number }}', '{{ $json.requirement_text }}', '{{ $json.status }}', '{{ $json.reasoning }}', '{{ $json.mapped_content }}', '{{ $json.unmapped_content }}', '{{ $json.recommendations }}', '{{ $json.citations }}', '{{ $json.smart_questions }}', '{{ $json.metadata }}')",
        "options": {}
      },
      "id": "eba2d63a-0387-4da5-a3b9-28da3fe30f1f",
      "name": "Save Validation Result",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -336,
        -144
      ],
      "credentials": {
        "postgres": {
          "id": "jkimYLj5JZa13Ude",
          "name": "Supabase Nytro"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE validation_detail SET validation_count = validation_count + 1, validation_progress = ROUND((validation_count + 1)::numeric / validation_total * 100, 2), updated_at = NOW() WHERE id = {{ $json.validation_detail_id }}",
        "options": {}
      },
      "id": "6a7c023d-434b-4e62-bff6-14429bf01357",
      "name": "Update Progress",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -144,
        -144
      ],
      "credentials": {
        "postgres": {
          "id": "jkimYLj5JZa13Ude",
          "name": "Supabase Nytro"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "all_results",
        "options": {}
      },
      "id": "ef4db01e-209a-4d1e-bc30-bc696b683b46",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        48,
        -144
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE validation_detail SET validation_status = 'completed', validation_progress = 100, updated_at = NOW() WHERE id = {{ $json.all_results[0].validation_detail_id }}",
        "options": {}
      },
      "id": "152a9eac-7507-4ab0-a085-b54e8f2de05b",
      "name": "Update Status: Completed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        240,
        -144
      ],
      "credentials": {
        "postgres": {
          "id": "jkimYLj5JZa13Ude",
          "name": "Supabase Nytro"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE validation_detail SET validation_status = 'error', error_message = '{{ $json.error.message || \"Unknown error\" }}', updated_at = NOW() WHERE id = {{ $('Webhook - Start Validation').item.json.body.validation_detail_id }}",
        "options": {}
      },
      "id": "cc9ae5e5-4a57-4292-af59-02e1b9f4b668",
      "name": "Update Status: Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -304,
        176
      ],
      "credentials": {
        "postgres": {
          "id": "jkimYLj5JZa13Ude",
          "name": "Supabase Nytro"
        }
      }
    }
  ],
  "pinData": {
    "Webhook - Start Validation": [
      {
        "json": {
          "headers": {
            "host": "n8n-gtoa.onrender.com",
            "user-agent": "axios/1.12.0",
            "content-length": "622",
            "accept": "application/json,text/*;q=0.99",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "74.220.52.1",
            "cf-ipcountry": "SG",
            "cf-ray": "9a6680925b46fe01-SIN",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "render-proxy-ttl": "4",
            "rndr-id": "da60fa73-9adc-4602",
            "true-client-ip": "74.220.52.1",
            "x-forwarded-for": "74.220.52.1, 162.158.88.125",
            "x-forwarded-proto": "https",
            "x-request-start": "1764465416075962"
          },
          "params": {},
          "query": {},
          "body": {
            "validation_detail_id": 738,
            "gemini_file_uris": [
              {
                "storage_path": "7148/tlif0025/1764465266988_TLIF0025_AT2.pdf",
                "gemini_file_uri": "https://generativelanguage.googleapis.com/v1beta/files/1l5oo7jd4flg",
                "file_name": "1764465266988_TLIF0025_AT2.pdf"
              },
              {
                "storage_path": "7148/tlif0025/1764465269950_AT3.pdf",
                "gemini_file_uri": "https://generativelanguage.googleapis.com/v1beta/files/7e2qe7mb6itt",
                "file_name": "1764465269950_AT3.pdf"
              },
              {
                "storage_path": "7148/tlif0025/1764465272888_TLIF0025_AT1.pdf",
                "gemini_file_uri": "https://generativelanguage.googleapis.com/v1beta/files/yx9au1ewmlxu",
                "file_name": "1764465272888_TLIF0025_AT1.pdf"
              }
            ]
          },
          "webhookUrl": "https://n8n-gtoa.onrender.com/webhook/ai-validation-enhanced",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook - Start Validation": {
      "main": [
        [
          {
            "node": "Update Status: Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Success": {
      "main": [
        []
      ]
    },
    "Update Status: Processing": {
      "main": [
        [
          {
            "node": "Fetch Validation Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Validation Context": {
      "main": [
        [
          {
            "node": "Fetch Documents with Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Documents with Metadata": {
      "main": [
        [
          {
            "node": "Fetch Requirements (Edge Function)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Requirements (Edge Function)": {
      "main": [
        [
          {
            "node": "Split into Individual Requirements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split into Individual Requirements": {
      "main": [
        [
          {
            "node": "Update Total Requirements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Total Requirements": {
      "main": [
        [
          {
            "node": "Fetch Prompt Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Prompt Template": {
      "main": [
        [
          {
            "node": "Prepare Request with Session Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Request with Session Context": {
      "main": [
        [
          {
            "node": "Rate Limit Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Delay": {
      "main": [
        [
          {
            "node": "Call Gemini API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini API": {
      "main": [
        [
          {
            "node": "Parse Response with Rich Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response with Rich Metadata": {
      "main": [
        [
          {
            "node": "Save Validation Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Validation Result": {
      "main": [
        [
          {
            "node": "Update Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Progress": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Update Status: Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status: Completed": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5bbe07e3-7ecf-416d-b571-c0e3df34e938",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "95d6963b6972a46c66ec607d883cc8d928cf66d74dca93fd344bc76103b3281b"
  },
  "id": "U4upP5UIP836xMp1",
  "tags": []
}




