n8n-flows/AI Validation Flow - Enhanced (Individual + Session Context).json
{
  "name": "AI Validation Flow - Enhanced (Individual + Session Context)",
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Merge prompt data with requirement data\nconst requirement = $('Split into Individual Requirements').item.json;\nconst promptData = $('Fetch Prompt Template').first().json;\n\n// Return merged object\nreturn {\n    json: {\n        ...requirement,\n        prompt_data: promptData\n    }\n};"
      },
      "id": "b23abf15-78b9-461c-913c-9f2527064cbb",
      "name": "Merge Prompt with Requirement",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        560
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE validation_detail SET validation_status = 'error', error_message = '{{ $json.error.message || \"Unknown error\" }}', updated_at = NOW() WHERE id = {{ $('Webhook - Start Validation').item.json.body.validation_detail_id }}",
        "options": {}
      },
      "id": "a10bb70c-463c-409f-a9a8-a75b5b11b457",
      "name": "Update Status: Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2368,
        752
      ],
      "credentials": {
        "postgres": {
          "id": "jkimYLj5JZa13Ude",
          "name": "Supabase Nytro"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE validation_detail SET validation_status = 'completed', validation_progress = 100, updated_at = NOW() WHERE id = {{ $json.all_results[0].validation_detail_id }}",
        "options": {}
      },
      "id": "b7297007-6918-472b-9287-6dff7a7bbb76",
      "name": "Update Status: Completed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2704,
        336
      ],
      "credentials": {
        "postgres": {
          "id": "jkimYLj5JZa13Ude",
          "name": "Supabase Nytro"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "all_results",
        "options": {}
      },
      "id": "d847f8d0-7f20-44e8-89e9-7ea976e36be5",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2224,
        336
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE validation_detail SET validation_count = validation_count + 1, validation_progress = ROUND((validation_count + 1)::numeric / validation_total * 100, 2) WHERE id = {{ $('Parse Response with Rich Metadata').item.json.validation_detail_id }}",
        "options": {}
      },
      "id": "c255b115-5307-49b0-9f5d-592034e4ba14",
      "name": "Update Progress",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2160,
        672
      ],
      "credentials": {
        "postgres": {
          "id": "jkimYLj5JZa13Ude",
          "name": "Supabase Nytro"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO validation_results (validation_detail_id, requirement_type, requirement_number, requirement_text, status, reasoning, mapped_content, unmapped_content, recommendations, citations, smart_questions, metadata) VALUES ({{ $('Loop Over Items').item.json.validation_detail_id }}, '{{ $('Loop Over Items').item.json.requirement_type }}', '{{ $('Loop Over Items').item.json.requirement_number }}', '{{ $('Loop Over Items').item.json.requirement_text }}', '{{ $json.output.status }}', '{{ $json.output.reasoning }}', '{{ $json.output.mapped_content }}', '{{ $json.output.unmapped_content }}', '{{ $json.output.recommendations }}', '{{ $json.output.citations }}', '{{ $json.output.smart_questions }}', '{{ $json.output.metadata }}')",
        "options": {}
      },
      "id": "371c7d58-e582-4fc7-ab9c-708eb373031e",
      "name": "Save Validation Result",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1920,
        448
      ],
      "credentials": {
        "postgres": {
          "id": "jkimYLj5JZa13Ude",
          "name": "Supabase Nytro"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.gemini_request }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "d44b14bb-957a-4889-bbf7-38ee0f485ad6",
      "name": "Call Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        448
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "NIZFWdmjDBYpgwmS",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Prepare Gemini request with FULL session context\n// All data is now embedded in the requirement item\nconst requirement = $input.item.json;\nconst promptData = requirement.prompt_data;\nconst documents = requirement.document_metadata || [];\n\n// Safety checks\nif (!promptData) {\n  throw new Error('No prompt data found in requirement');\n}\nif (!documents || documents.length === 0) {\n  throw new Error('No document metadata found. Ensure documents are uploaded and Gemini URIs are populated.');\n}\n\n// Build session context (from original workflow)\nconst sessionContext = `\n**VALIDATION SESSION CONTEXT**\n────────────────────────────────────────────────────────────────────\nSession ID: ${requirement.session_id}\nSession Created: ${new Date(requirement.session_created_at).toLocaleString()}\nUnit Code: ${requirement.unit_code}\nRTO Code: ${requirement.rto_code}\nRequirement Type: ${requirement.requirement_type}\nRequirement ${requirement.current_index} of ${requirement.total_requirements}\n────────────────────────────────────────────────────────────────────\n\n**DOCUMENTS FOR THIS SESSION** (${documents.length} files):\n${documents.map((d, i) => `${i + 1}. ${d.file_name} (${d.document_type || 'Assessment Document'})\n   - Uploaded: ${new Date(d.created_at).toLocaleString()}\n   - Gemini URI: ${d.gemini_file_uri}`).join('\\n')}\n\n**IMPORTANT INSTRUCTIONS**:\n1. This is an ISOLATED validation session\n2. Only consider documents uploaded for THIS session (${new Date(requirement.session_created_at).toLocaleString()})\n3. All citations must reference documents from THIS session only\n4. Include document names and page numbers in all evidence citations\n5. Understand images, charts, and diagrams in the documents\n6. This is requirement ${requirement.current_index} of ${requirement.total_requirements}\n\n────────────────────────────────────────────────────────────────────\n`;\n\n// Replace variables in prompt template\nlet promptText = promptData.prompt_text || 'Validate the following requirement against the provided documents.';\npromptText = promptText\n  .replace(/{{requirement_number}}/g, requirement.requirement_number || '')\n  .replace(/{{requirement_text}}/g, requirement.requirement_text || '')\n  .replace(/{{requirement_type}}/g, requirement.requirement_type || '')\n  .replace(/{{unit_code}}/g, requirement.unit_code || '')\n  .replace(/{{document_type}}/g, requirement.document_type || 'unit');\n\n// Build file parts\nconst fileParts = documents.map(doc => ({\n  fileData: {\n    mimeType: \"application/pdf\",\n    fileUri: doc.gemini_file_uri\n  }\n}));\n\n// Build complete prompt with session context\nconst fullPrompt = `${sessionContext}\\n\\n${promptText}`;\n\n// Build Gemini request with correct structure\nconst geminiRequest = {\n  systemInstruction: {\n    parts: [{text: promptData.system_instruction || 'You are an expert RTO validator.'}]\n  },\n  contents: [\n    {\n      role: \"user\",\n      parts: [\n        ...fileParts,\n        {text: fullPrompt}\n      ]\n    }\n  ],\n  generationConfig: {\n    ...(promptData.generation_config || {}),\n    temperature: 0.1,\n    maxOutputTokens: 8192,\n    responseMimeType: \"application/json\",\n    responseSchema: promptData.output_schema || {}\n  }\n};\n\nreturn {\n  json: {\n    ...requirement,\n    gemini_request: geminiRequest,\n    prompt_used: fullPrompt,\n    session_context: sessionContext\n  }\n};\n"
      },
      "id": "402c349f-73cb-4cdb-ab85-0a1dfa43d94c",
      "name": "Prepare Request with Session Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        384
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM prompts \nWHERE prompt_type = 'validation'\n  AND requirement_type = '{{ $json.requirement_type }}'\n  AND document_type = '{{ $json.document_type || \"unit\" }}'\n  AND is_active = true\n  AND is_default = true\nLIMIT 1",
        "options": {}
      },
      "id": "b024f708-78f7-4981-a868-2ce8671f11c5",
      "name": "Fetch Prompt Template",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        48,
        672
      ],
      "credentials": {
        "postgres": {
          "id": "jkimYLj5JZa13Ude",
          "name": "Supabase Nytro"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE validation_detail SET validation_total = (SELECT COUNT(*) FROM validation_results WHERE validation_detail_id = {{ $json.validation_detail_id }}) WHERE id = {{ $json.validation_detail_id }}",
        "options": {}
      },
      "id": "11eb303e-d63d-4194-b8e2-c7c3afb4b255",
      "name": "Update Total Requirements",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2432,
        336
      ],
      "credentials": {
        "postgres": {
          "id": "jkimYLj5JZa13Ude",
          "name": "Supabase Nytro"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Split requirements into individual items for individual validation\nconst response = $('Fetch Requirements (Edge Function)').first().json;\nconst validationContext = $('Fetch Validation Context').first().json;\n\n// Get gemini_file_uris from webhook body\nconst webhookData = $('Webhook - Start Validation').first().json.body;\nconst geminiFiles = webhookData.gemini_file_uris || [];\n\n// Transform to document_metadata format\nconst documents = geminiFiles.map(file => ({\n  file_name: file.file_name,\n  document_type: validationContext.document_type || 'unit',\n  created_at: new Date().toISOString(),\n  gemini_file_uri: file.gemini_file_uri,\n  storage_path: file.storage_path\n}));\n\nif (!response.success || !response.requirements_by_type) {\n  throw new Error('Failed to fetch requirements from edge function');\n}\n\nconst requirementsByType = response.requirements_by_type;\nconst allRequirements = [];\n\n// Flatten all requirement types into single array\nfor (const [requirementType, requirements] of Object.entries(requirementsByType)) {\n  if (Array.isArray(requirements)) {\n    requirements.forEach((req, index) => {\n      allRequirements.push({\n        requirement_number: req.number || `${requirementType}_${index + 1}`,\n        requirement_text: req.text || req.requirement || '',\n        requirement_type: requirementType,\n        requirement_index: index,\n        validation_detail_id: validationContext.id,\n        unit_code: validationContext.unit_code,\n        rto_code: validationContext.rto_code,\n        document_type: validationContext.document_type || 'unit',\n        session_id: validationContext.id,\n        session_created_at: validationContext.created_at,\n        document_metadata: documents,\n        document_count: documents.length,\n        total_requirements: 0,  // Will be updated after counting\n        current_index: 0  // Will be set below\n      });\n    });\n  }\n}\n\n// Set total and current index\nconst total = allRequirements.length;\nallRequirements.forEach((req, idx) => {\n  req.total_requirements = total;\n  req.current_index = idx + 1;\n});\n\nreturn allRequirements.map(req => ({ json: req }));\n"
      },
      "id": "d9e878c7-07a9-4e38-a28a-2a8b617d8024",
      "name": "Split into Individual Requirements",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://dfqxmjmggokneiuljkta.supabase.co/functions/v1/get-requirements",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"unit_code\": $('Fetch Validation Context').item.json.unit_code, \"validation_detail_id\": $('Fetch Validation Context').item.json.id} }}",
        "options": {}
      },
      "id": "b376d426-9aee-403e-8846-27097d1d1c64",
      "name": "Fetch Requirements (Edge Function)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        384
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "g7Y4HgWkwgkDqjLL",
          "name": "Header Auth Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM documents WHERE validation_detail_id = {{ $('Webhook - Start Validation').item.json.body.validation_detail_id }}",
        "options": {}
      },
      "id": "5a994f06-ca81-48f1-a18b-1b76cd4a783d",
      "name": "Fetch Documents with Metadata",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -560,
        128
      ],
      "credentials": {
        "postgres": {
          "id": "jkimYLj5JZa13Ude",
          "name": "Supabase Nytro"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT vd.*, vs.id as summary_id, vs.\"unitCode\", vs.\"unitLink\", vs.\"rtoCode\", vs.created_at as summary_created_at FROM validation_detail vd JOIN validation_summary vs ON vd.summary_id = vs.id WHERE vd.id = {{ $('Webhook - Start Validation').item.json.body.validation_detail_id }}",
        "options": {}
      },
      "id": "51313b69-9521-4187-9276-b8be22f57665",
      "name": "Fetch Validation Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -784,
        384
      ],
      "credentials": {
        "postgres": {
          "id": "jkimYLj5JZa13Ude",
          "name": "Supabase Nytro"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE validation_detail SET validation_status = 'processing' WHERE id = {{ $json.body.validation_detail_id }}",
        "options": {}
      },
      "id": "91d76f7e-4264-4ff6-b193-9259448d07d1",
      "name": "Update Status: Processing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -960,
        384
      ],
      "credentials": {
        "postgres": {
          "id": "jkimYLj5JZa13Ude",
          "name": "Supabase Nytro"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"success\": true, \"validation_detail_id\": $json.body.validation_detail_id, \"message\": \"Validation started\"} }}",
        "options": {}
      },
      "id": "a07da9e2-5048-4cc6-b966-2f99a15903a0",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2960,
        336
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-validation-enhanced",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f259c23f-9737-4045-91b6-a7ac265bea12",
      "name": "Webhook - Start Validation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1264,
        384
      ],
      "webhookId": "ai-validation-enhanced-webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        880,
        352
      ],
      "id": "c54b60d3-28fb-4c38-b110-f69ee6f17c31",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1088,
        448
      ],
      "id": "82cc857d-4ed2-451e-84a2-21ff1005587e",
      "name": "Wait",
      "webhookId": "55b75ddc-ce32-4d15-8612-40f454cd2198"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1504,
        656
      ],
      "id": "35a8d98a-e274-453c-b326-b56d86e8a26c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NIZFWdmjDBYpgwmS",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.candidates[0].content.parts[0].text }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"status\": \"Partially Met\",\n  \"reasoning\": \"The learner guide provides a theoretical explanation of safety procedures in Section 3.1, but it lacks a practical assessment task where the learner must demonstrate the procedure. The evidence from TLIF0025_AT2.pdf on page 5 only covers the knowledge component.\",\n  \"mapped_content\": \"Section 3.1 of the learner guide explains the 5 steps of the safety checklist. Page 5 of TLIF0025_AT2.pdf contains a multiple-choice question about the checklist.\",\n  \"unmapped_content\": \"No evidence was found of a practical demonstration or observation checklist where a student performs the safety procedure.\",\n  \"recommendations\": \"Add a new assessment task (e.g., an observation checklist) to the learner guide where an assessor observes the student performing the 5-step safety procedure in a simulated environment.\",\n  \"evidenceFound\": [\n    {\n      \"document_name\": \"TLIF0025_LearnerGuide.pdf\",\n      \"location\": \"Page 12, Section 3.1\",\n      \"content\": \"The five critical steps for ensuring a safe work environment are: 1. Assess the area, 2. Identify hazards, 3. Control the risks...\",\n      \"relevance\": \"This content directly maps to the knowledge requirement of listing the safety steps.\"\n    },\n    {\n      \"document_name\": \"TLIF0025_AT2.pdf\",\n      \"location\": \"Page 5, Question 3\",\n      \"content\": \"Which of the following is the first step in the safety checklist? (A) Assess the area...\",\n      \"relevance\": \"This assesses the learner's knowledge of the first step, but does not assess practical application.\"\n    }\n  ],\n  \"smart_questions\": [\n    {\n      \"question\": \"Can you point to a specific task or activity in the assessment documents where a student is required to physically perform the 5-step safety procedure?\",\n      \"context\": \"I am looking for evidence of practical application, not just theoretical knowledge, to satisfy the performance criteria.\"\n    }\n  ],\n  \"gaps\": [\n    \"Missing practical observation task.\",\n    \"Assessment focuses only on knowledge, not skill.\"\n  ],\n  \"confidence_score\": 0.85\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        1568,
        448
      ],
      "id": "5de67aba-6360-486e-b346-c304dc96c8ce",
      "name": "Information Extractor"
    }
  ],
  "pinData": {
    "Webhook - Start Validation": [
      {
        "json": {
          "headers": {
            "host": "n8n-gtoa.onrender.com",
            "user-agent": "axios/1.12.0",
            "content-length": "622",
            "accept": "application/json,text/*;q=0.99",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "74.220.52.1",
            "cf-ipcountry": "SG",
            "cf-ray": "9a6680925b46fe01-SIN",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "render-proxy-ttl": "4",
            "rndr-id": "da60fa73-9adc-4602",
            "true-client-ip": "74.220.52.1",
            "x-forwarded-for": "74.220.52.1, 162.158.88.125",
            "x-forwarded-proto": "https",
            "x-request-start": "1764465416075962"
          },
          "params": {},
          "query": {},
          "body": {
            "validation_detail_id": 738,
            "gemini_file_uris": [
              {
                "storage_path": "7148/tlif0025/1764465266988_TLIF0025_AT2.pdf",
                "gemini_file_uri": "https://generativelanguage.googleapis.com/v1beta/files/1l5oo7jd4flg",
                "file_name": "1764465266988_TLIF0025_AT2.pdf"
              },
              {
                "storage_path": "7148/tlif0025/1764465269950_AT3.pdf",
                "gemini_file_uri": "https://generativelanguage.googleapis.com/v1beta/files/7e2qe7mb6itt",
                "file_name": "1764465269950_AT3.pdf"
              },
              {
                "storage_path": "7148/tlif0025/1764465272888_TLIF0025_AT1.pdf",
                "gemini_file_uri": "https://generativelanguage.googleapis.com/v1beta/files/yx9au1ewmlxu",
                "file_name": "1764465272888_TLIF0025_AT1.pdf"
              }
            ]
          },
          "webhookUrl": "https://n8n-gtoa.onrender.com/webhook/ai-validation-enhanced",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Merge Prompt with Requirement": {
      "main": [
        [
          {
            "node": "Prepare Request with Session Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Update Total Requirements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Progress": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Validation Result": {
      "main": [
        [
          {
            "node": "Update Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini API": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Request with Session Context": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Prompt Template": {
      "main": [
        [
          {
            "node": "Merge Prompt with Requirement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Total Requirements": {
      "main": [
        [
          {
            "node": "Update Status: Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split into Individual Requirements": {
      "main": [
        [
          {
            "node": "Fetch Prompt Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Requirements (Edge Function)": {
      "main": [
        [
          {
            "node": "Split into Individual Requirements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Documents with Metadata": {
      "main": [
        [
          {
            "node": "Fetch Requirements (Edge Function)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Validation Context": {
      "main": [
        [
          {
            "node": "Fetch Documents with Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status: Processing": {
      "main": [
        [
          {
            "node": "Fetch Validation Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status: Completed": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Start Validation": {
      "main": [
        [
          {
            "node": "Update Status: Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Call Gemini API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Save Validation Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b1f22545-0339-4429-b47f-947a1606449d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "95d6963b6972a46c66ec607d883cc8d928cf66d74dca93fd344bc76103b3281b"
  },
  "id": "U4upP5UIP836xMp1",
  "tags": []
}