n8n-flows/AIRequirementRevalidation-Workflow.json
{
  "name": "AI Individual Requirement Revalidation - Evidence-Based Assessment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "revalidate-requirement",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-revalidate-requirement",
      "name": "Webhook - Revalidate Requirement Input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1472,
        128
      ],
      "webhookId": "revalidate-requirement-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM documents WHERE validation_detail_id = '{{ $json.body.validation_detail_id }}' ORDER BY created_at DESC",
        "options": {}
      },
      "id": "fetch-documents-reval",
      "name": "Fetch Validation Documents",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1024,
        16
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "jkimYLj5JZa13Ude",
          "name": "Supabase Nytro"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM prompts \nWHERE prompt_type = 'validation'\n  AND requirement_type = '{{ $json.body.requirement_type }}'\n  AND document_type = '{{ $json.body.document_type || \"unit\" }}'\n  AND is_active = true\n  AND is_default = true\nLIMIT 1",
        "options": {}
      },
      "id": "fetch-revalidation-prompt",
      "name": "Fetch Requirement Prompt by Type",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1024,
        224
      ],
      "credentials": {
        "postgres": {
          "id": "jkimYLj5JZa13Ude",
          "name": "Supabase Nytro"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Prepare context for requirement revalidation\nconst webhookData = $('Webhook - Revalidate Requirement Input').item.json.body;\nconst validationDetailId = webhookData.validation_detail_id;\nconst requirementId = webhookData.requirement_id;\nconst requirementText = webhookData.requirement_text;\nconst requirementType = webhookData.requirement_type || 'general';\nconst documentType = webhookData.document_type || 'unit';\nconst documents = $('Fetch Validation Documents').first().json;\nconst promptTemplate = $('Fetch Requirement Prompt by Type').first().json;\n\n// Build document context\nlet documentContext = '';\nif (Array.isArray(documents) && documents.length > 0) {\n  documentContext = `\n**AVAILABLE DOCUMENTS** (${documents.length} files):\n${documents.map((d, i) => `${i + 1}. ${d.file_name} (${d.document_type || 'Document'})\n   - Uploaded: ${new Date(d.created_at).toLocaleString()}\n   - Storage Path: ${d.storage_path}\n   - Gemini URI: ${d.gemini_file_uri}`).join('\\n')}\n`;\n} else {\n  documentContext = '\\n**NOTE**: No documents are available for this validation.';\n}\n\n// Build context string\nconst contextString = `\n**VALIDATION CONTEXT**\n────────────────────────────────────────────────────────────────────\nValidation Detail ID: ${validationDetailId}\nRequirement ID: ${requirementId}\nRequirement Type: ${requirementType}\nDocument Type: ${documentType}\nDocument Count: ${Array.isArray(documents) ? documents.length : 0}\n────────────────────────────────────────────────────────────────────\n\n**REQUIREMENT TO VALIDATE**:\n${requirementText}\n`;\n\n// Build full prompt with context\nconst systemPrompt = promptTemplate?.system_instruction || \n  'You are an expert RTO assessment validator. Validate requirements against document evidence.';\n\nconst promptText = promptTemplate?.prompt_text || \n  'Validate whether this requirement is met based on the evidence in the documents.';\n\nconst fullPrompt = `${systemPrompt}\n\n${contextString}\n\n${documentContext}\n\n${promptText}\n\nProvide a comprehensive validation result including:\n1. Validation Status (Met, Partially Met, Not Met, or Not Applicable)\n2. Confidence Level (0-1)\n3. Summary of validation outcome\n4. Evidence found with specific document references\n5. Gaps identified with severity and impact\n6. Compliance notes regarding standards alignment\n7. Actionable recommendations with priority levels\n8. Additional validation notes\n\nReturn the response in the specified JSON format.`;\n\nreturn {\n  json: {\n    validation_detail_id: validationDetailId,\n    requirement_id: requirementId,\n    requirement_text: requirementText,\n    requirement_type: requirementType,\n    document_type: documentType,\n    system_prompt: systemPrompt,\n    full_prompt: fullPrompt,\n    documents: documents || [],\n    prompt_template: promptTemplate\n  }\n};\n"
      },
      "id": "prepare-revalidation-context",
      "name": "Prepare Revalidation Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        96
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Build Gemini request for requirement revalidation\nconst context = $input.item.json;\nconst documents = Array.isArray(context.documents) \n  ? context.documents \n  : (context.documents ? [context.documents] : []);\n\n// Build file parts from documents\nconst fileParts = documents\n  .filter(doc => doc.gemini_file_uri)\n  .map(doc => ({\n    fileData: {\n      mimeType: doc.mime_type || 'application/pdf',\n      fileUri: doc.gemini_file_uri\n    }\n  }));\n\n// Build user prompt\nconst userPrompt = `Analyze the requirement and the attached documents to validate whether the requirement is met.\n\nRequirement to validate: \"${context.requirement_text}\"\nRequirement Type: ${context.requirement_type}\nDocument Type: ${context.document_type}\n\nProvide a comprehensive validation assessment including:\n\n1. **Validation Status**: Determine if the requirement is Met, Partially Met, Not Met, or Not Applicable\n2. **Confidence Level**: Your confidence in this assessment (0-1)\n3. **Summary**: Brief summary of the validation outcome\n4. **Evidence Found**: List all evidence from the documents that supports or relates to this requirement, with:\n   - Document name\n   - Page number\n   - Section reference\n   - Evidence snippet (quote or description)\n   - Relevance (how this evidence supports the requirement)\n5. **Gaps Identified**: List any gaps or missing evidence, with:\n   - Gap description\n   - Severity (Critical, Major, or Minor)\n   - Impact on validation outcome\n6. **Compliance Notes**: How this aligns with training standards and regulatory requirements\n7. **Recommendations**: Actionable recommendations for improvement, with:\n   - Recommendation text\n   - Priority (High, Medium, or Low)\n   - Rationale\n8. **Validation Notes**: Any additional context or observations\n\nBe thorough, objective, and evidence-based in your assessment. Reference specific documents and page numbers.`;\n\n// Get output schema from prompt template or use default\nconst outputSchema = context.prompt_template?.output_schema || {\n  type: \"object\",\n  properties: {\n    requirement_id: { type: \"string\" },\n    requirement_text: { type: \"string\" },\n    validation_status: { type: \"string\", enum: [\"Met\", \"Partially Met\", \"Not Met\", \"Not Applicable\"] },\n    confidence_level: { type: \"number\", minimum: 0, maximum: 1 },\n    summary: { type: \"string\" },\n    evidence_found: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        properties: {\n          document: { type: \"string\" },\n          page: { type: [\"string\", \"integer\"] },\n          section: { type: \"string\" },\n          evidence_snippet: { type: \"string\" },\n          relevance: { type: \"string\" }\n        }\n      }\n    },\n    gaps_identified: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        properties: {\n          gap_description: { type: \"string\" },\n          severity: { type: \"string\", enum: [\"Critical\", \"Major\", \"Minor\"] },\n          impact: { type: \"string\" }\n        }\n      }\n    },\n    compliance_notes: { type: \"string\" },\n    recommendations: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        properties: {\n          recommendation: { type: \"string\" },\n          priority: { type: \"string\", enum: [\"High\", \"Medium\", \"Low\"] },\n          rationale: { type: \"string\" }\n        }\n      }\n    },\n    validation_notes: { type: \"string\" }\n  },\n  required: [\"requirement_id\", \"requirement_text\", \"validation_status\", \"confidence_level\", \"summary\"]\n};\n\n// Get generation config from prompt template or use default\nconst generationConfig = context.prompt_template?.generation_config || {\n  temperature: 0.5,\n  maxOutputTokens: 4096,\n  topP: 0.95,\n  topK: 40\n};\n\n// Build Gemini request\nconst geminiRequest = {\n  systemInstruction: {\n    parts: [{\n      text: context.system_prompt\n    }]\n  },\n  contents: [\n    {\n      role: 'user',\n      parts: [\n        ...fileParts,\n        {\n          text: userPrompt\n        }\n      ]\n    }\n  ],\n  generationConfig: {\n    temperature: generationConfig.temperature,\n    maxOutputTokens: generationConfig.maxOutputTokens,\n    topP: generationConfig.topP,\n    topK: generationConfig.topK,\n    responseMimeType: \"application/json\",\n    responseSchema: outputSchema\n  }\n};\n\nreturn {\n  json: {\n    validation_detail_id: context.validation_detail_id,\n    requirement_id: context.requirement_id,\n    requirement_type: context.requirement_type,\n    document_type: context.document_type,\n    documents_available: fileParts.length > 0,\n    document_count: fileParts.length,\n    gemini_request: geminiRequest\n  }\n};"
      },
      "id": "build-revalidation-request",
      "name": "Build Gemini Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.gemini_request }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "call-gemini-revalidation",
      "name": "Call Gemini Revalidation API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        96
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "NIZFWdmjDBYpgwmS",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract response from Gemini\nconst geminiResponse = $json.candidates?.[0]?.content?.parts?.[0]?.text;\n\nif (!geminiResponse) {\n  throw new Error('No response received from Gemini API');\n}\n\n// Parse JSON response\nlet parsedResponse;\ntry {\n  parsedResponse = typeof geminiResponse === 'string' ? JSON.parse(geminiResponse) : geminiResponse;\n} catch (e) {\n  parsedResponse = { \n    requirement_id: $('Webhook - Revalidate Requirement Input').item.json.body.requirement_id,\n    requirement_text: $('Webhook - Revalidate Requirement Input').item.json.body.requirement_text,\n    validation_status: 'Not Met',\n    confidence_level: 0,\n    summary: 'Error parsing validation response',\n    raw_response: geminiResponse \n  };\n}\n\nreturn {\n  json: {\n    validation_detail_id: $('Webhook - Revalidate Requirement Input').item.json.body.validation_detail_id,\n    requirement_id: parsedResponse.requirement_id || $('Webhook - Revalidate Requirement Input').item.json.body.requirement_id,\n    requirement_text: parsedResponse.requirement_text || $('Webhook - Revalidate Requirement Input').item.json.body.requirement_text,\n    requirement_type: $('Webhook - Revalidate Requirement Input').item.json.body.requirement_type,\n    document_type: $('Webhook - Revalidate Requirement Input').item.json.body.document_type || 'unit',\n    validation_status: parsedResponse.validation_status || 'Not Met',\n    confidence_level: parsedResponse.confidence_level || 0,\n    summary: parsedResponse.summary || '',\n    evidence_found: parsedResponse.evidence_found || [],\n    gaps_identified: parsedResponse.gaps_identified || [],\n    compliance_notes: parsedResponse.compliance_notes || '',\n    recommendations: parsedResponse.recommendations || [],\n    validation_notes: parsedResponse.validation_notes || '',\n    response_timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "extract-revalidation-result",
      "name": "Extract Revalidation Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        96
      ]
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "respond-revalidation",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        96
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -576,
        96
      ],
      "id": "merge-revalidation",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Revalidate Requirement Input": {
      "main": [
        [
          {
            "node": "Fetch Validation Documents",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Requirement Prompt by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Validation Documents": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Requirement Prompt by Type": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepare Revalidation Context": {
      "main": [
        [
          {
            "node": "Build Gemini Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Gemini Request": {
      "main": [
        [
          {
            "node": "Call Gemini Revalidation API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini Revalidation API": {
      "main": [
        [
          {
            "node": "Extract Revalidation Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Revalidation Result": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Prepare Revalidation Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
