n8n-flows/DocumentProcessingFlow_Gemini.json
{
  "name": "DocumentProcessingFlow_Gemini",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "document-processing-gemini",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Start Processing",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "doc-processing-gemini-webhook"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "validation_detail",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.validation_detail_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "extractStatus",
              "fieldValue": "Processing"
            }
          ]
        }
      },
      "id": "update-status-processing",
      "name": "Update Status: AI Learning",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIALS_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "storage-paths-array",
              "name": "storage_paths",
              "type": "array",
              "value": "={{ $json.body.storage_paths }}"
            },
            {
              "id": "validation-detail-id",
              "name": "validation_detail_id",
              "type": "number",
              "value": "={{ $json.body.validation_detail_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-loop-data",
      "name": "Prepare Loop Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "storage_paths",
        "options": {}
      },
      "id": "split-storage-paths",
      "name": "Split Storage Paths",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/upload-to-gemini",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "storage_path",
              "value": "={{ $('Split Storage Paths').item.json.storage_paths }}"
            },
            {
              "name": "validation_detail_id",
              "value": "={{ $('Prepare Loop Data').first().json.validation_detail_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "upload-to-gemini",
      "name": "Upload to Gemini File API (Edge Function)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIALS_ID",
          "name": "Supabase account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-success",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.success }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "check-upload-success",
      "name": "Check Upload Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "documents",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "storage_path",
              "condition": "eq",
              "keyValue": "={{ $('Split Storage Paths').item.json.storage_paths }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "embedding_status",
              "fieldValue": "failed"
            }
          ]
        }
      },
      "id": "mark-upload-failed",
      "name": "Mark Upload Failed",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1780,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIALS_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Aggregate results from all file uploads\nconst allItems = $input.all();\nconst totalFiles = allItems.length;\nconst successfulFiles = allItems.filter(item => item.json.gemini_file_uri).length;\nconst failedFiles = totalFiles - successfulFiles;\n\nreturn {\n  json: {\n    validation_detail_id: $('Prepare Loop Data').first().json.validation_detail_id,\n    total_files: totalFiles,\n    successful_files: successfulFiles,\n    failed_files: failedFiles,\n    all_successful: failedFiles === 0\n  }\n};"
      },
      "id": "aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "all-successful",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.all_successful }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "check-all-successful",
      "name": "Check All Successful",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2440,
        300
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "validation_detail",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.validation_detail_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "extractStatus",
              "fieldValue": "Completed"
            },
            {
              "fieldId": "docExtracted",
              "fieldValue": "={{ true }}"
            }
          ]
        }
      },
      "id": "update-status-completed",
      "name": "Update Status: Under Review",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2660,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIALS_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "validation_detail",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.validation_detail_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "extractStatus",
              "fieldValue": "Error"
            },
            {
              "fieldId": "docExtracted",
              "fieldValue": "={{ false }}"
            }
          ]
        }
      },
      "id": "update-status-error",
      "name": "Update Status: Error",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2660,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIALS_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_BASE_URL }}/webhook/validation-processing-gemini",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "validation_detail_id",
              "value": "={{ $json.validation_detail_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "trigger-validation-flow",
      "name": "Trigger Validation Flow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"validation_detail_id\": $json.validation_detail_id, \"message\": \"Validation triggered successfully\" } }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3100,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"validation_detail_id\": $json.validation_detail_id, \"message\": \"Document processing failed\", \"details\": $json } }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3100,
        400
      ]
    }
  ],
  "connections": {
    "Webhook - Start Processing": {
      "main": [
        [
          {
            "node": "Update Status: AI Learning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status: AI Learning": {
      "main": [
        [
          {
            "node": "Prepare Loop Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Loop Data": {
      "main": [
        [
          {
            "node": "Split Storage Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Storage Paths": {
      "main": [
        [
          {
            "node": "Upload to Gemini File API (Edge Function)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Gemini File API (Edge Function)": {
      "main": [
        [
          {
            "node": "Check Upload Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Upload Success": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Upload Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Upload Failed": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Check All Successful",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check All Successful": {
      "main": [
        [
          {
            "node": "Update Status: Under Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Status: Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status: Under Review": {
      "main": [
        [
          {
            "node": "Trigger Validation Flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status: Error": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Validation Flow": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-28T00:00:00.000Z",
  "versionId": "1"
}