n8n-flows/UnitAcquisitionQueueWorker.json
{
  "updatedAt": "2026-02-28T19:58:37.938Z",
  "createdAt": "2026-02-28T19:40:33.680Z",
  "id": "si80azlgxWEfWFyJ",
  "name": "Unit Acquisition Queue Worker",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "position": [
        250,
        300
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2
    },
    {
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-service-key",
          "name": "Supabase Service Key"
        }
      },
      "id": "fetch-queue",
      "name": "Fetch Queue Items",
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "jsonBody": "={ \"action\": \"fetch\", \"batch_size\": 5 }",
        "method": "POST",
        "options": {
          "timeout": 30000
        },
        "sendBody": true,
        "specifyBody": "json",
        "url": "https://dfqxmjmggokneiuljkta.supabase.co/functions/v1/process-acquisition-queue"
      },
      "position": [
        480,
        300
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "check-items",
      "name": "Has Queue Items?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "condition-count",
              "leftValue": "={{ $json.count }}",
              "operator": {
                "operation": "gt",
                "type": "number"
              },
              "rightValue": "0"
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        }
      },
      "position": [
        700,
        300
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "no-items",
      "name": "No Items - Done",
      "parameters": {},
      "position": [
        920,
        440
      ],
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1
    },
    {
      "id": "split-items",
      "name": "Process Each Item",
      "parameters": {
        "jsCode": "const items = $input.first().json.items || [];\nif (items.length === 0) {\n  return [{ json: { skip: true, message: 'No items to process' } }];\n}\nreturn items.map(item => ({\n  json: {\n    queue_id: item.id,\n    unit_code: item.unit_code,\n    status: item.status,\n    retry_count: item.retry_count,\n    max_retries: item.max_retries\n  }\n}));",
        "mode": "runOnceForAllItems"
      },
      "position": [
        920,
        200
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-service-key",
          "name": "Supabase Service Key"
        }
      },
      "id": "mark-in-progress",
      "name": "Mark In Progress",
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "jsonBody": "={ \"action\": \"update_status\", \"queue_id\": {{ $json.queue_id }}, \"status\": \"in_progress\" }",
        "method": "POST",
        "options": {
          "timeout": 10000
        },
        "sendBody": true,
        "specifyBody": "json",
        "url": "https://dfqxmjmggokneiuljkta.supabase.co/functions/v1/process-acquisition-queue"
      },
      "position": [
        1160,
        200
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-service-key",
          "name": "Supabase Service Key"
        }
      },
      "id": "scrape-unit",
      "name": "Scrape training.gov.au",
      "onError": "continueRegularOutput",
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "jsonBody": "={ \"unitCode\": \"{{ $json.unit_code }}\" }",
        "method": "POST",
        "options": {
          "timeout": 60000
        },
        "sendBody": true,
        "specifyBody": "json",
        "url": "https://dfqxmjmggokneiuljkta.supabase.co/functions/v1/scrape-training-gov-au"
      },
      "position": [
        1400,
        200
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "check-scrape-result",
      "name": "Scrape Successful?",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "condition-success",
              "leftValue": "={{ $json.success }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        }
      },
      "position": [
        1640,
        200
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2
    },
    {
      "id": "process-success",
      "name": "Analyze Sections",
      "parameters": {
        "jsCode": "const data = $json.data || {};\nconst sectionsCaptured = {\n  ke: (data.knowledgeEvidence || []).length > 0,\n  pe: (data.performanceEvidence || []).length > 0,\n  fs: (data.foundationSkills || []).length > 0,\n  epc: (data.elements || []).length > 0,\n  ac: (data.assessmentConditions || []).length > 0\n};\nconst allCaptured = Object.values(sectionsCaptured).every(v => v);\nconst missingSections = Object.entries(sectionsCaptured).filter(([, v]) => !v).map(([k]) => k);\nreturn {\n  json: {\n    queue_id: $('Process Each Item').item.json.queue_id,\n    unit_code: $('Process Each Item').item.json.unit_code,\n    status: allCaptured ? 'completed' : 'partial_success',\n    sections_captured: sectionsCaptured,\n    missing_sections: missingSections,\n    all_captured: allCaptured\n  }\n};",
        "mode": "runOnceForEachItem"
      },
      "position": [
        1880,
        100
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-service-key",
          "name": "Supabase Service Key"
        }
      },
      "id": "mark-success",
      "name": "Update Queue - Success",
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "jsonBody": "={ \"action\": \"update_status\", \"queue_id\": {{ $json.queue_id }}, \"status\": \"{{ $json.status }}\", \"sections_captured\": {{ JSON.stringify($json.sections_captured) }} }",
        "method": "POST",
        "options": {
          "timeout": 10000
        },
        "sendBody": true,
        "specifyBody": "json",
        "url": "https://dfqxmjmggokneiuljkta.supabase.co/functions/v1/process-acquisition-queue"
      },
      "position": [
        2120,
        100
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "process-failure",
      "name": "Calculate Retry",
      "parameters": {
        "jsCode": "const queueItem = $('Process Each Item').item.json;\nconst errorMsg = $json.error || $json.message || 'Scrape failed - train.gov.au may be unavailable';\nconst newRetryCount = (queueItem.retry_count || 0) + 1;\nconst maxRetries = queueItem.max_retries || 5;\nlet status = 'retry';\nif (newRetryCount >= maxRetries) {\n  status = 'failed';\n}\nreturn {\n  json: {\n    queue_id: queueItem.queue_id,\n    unit_code: queueItem.unit_code,\n    status: status,\n    error: errorMsg,\n    retry_count: newRetryCount,\n    max_retries: maxRetries\n  }\n};",
        "mode": "runOnceForEachItem"
      },
      "position": [
        1880,
        340
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-service-key",
          "name": "Supabase Service Key"
        }
      },
      "id": "mark-retry",
      "name": "Update Queue - Retry/Failed",
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "jsonBody": "={ \"action\": \"update_status\", \"queue_id\": {{ $json.queue_id }}, \"status\": \"{{ $json.status }}\", \"error\": \"{{ $json.error }}\" }",
        "method": "POST",
        "options": {
          "timeout": 10000
        },
        "sendBody": true,
        "specifyBody": "json",
        "url": "https://dfqxmjmggokneiuljkta.supabase.co/functions/v1/process-acquisition-queue"
      },
      "position": [
        2120,
        340
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "wait-between",
      "name": "Wait 2s Between Items",
      "parameters": {
        "jsCode": "await new Promise(resolve => setTimeout(resolve, 2000));\nreturn { json: { done: true, queue_id: $json.queue_id, status: $json.status || 'processed' } };",
        "mode": "runOnceForEachItem"
      },
      "position": [
        2360,
        200
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "connections": {
    "Analyze Sections": {
      "main": [
        [
          {
            "index": 0,
            "node": "Update Queue - Success",
            "type": "main"
          }
        ]
      ]
    },
    "Calculate Retry": {
      "main": [
        [
          {
            "index": 0,
            "node": "Update Queue - Retry/Failed",
            "type": "main"
          }
        ]
      ]
    },
    "Every 5 Minutes": {
      "main": [
        [
          {
            "index": 0,
            "node": "Fetch Queue Items",
            "type": "main"
          }
        ]
      ]
    },
    "Fetch Queue Items": {
      "main": [
        [
          {
            "index": 0,
            "node": "Has Queue Items?",
            "type": "main"
          }
        ]
      ]
    },
    "Has Queue Items?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Process Each Item",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "No Items - Done",
            "type": "main"
          }
        ]
      ]
    },
    "Mark In Progress": {
      "main": [
        [
          {
            "index": 0,
            "node": "Scrape training.gov.au",
            "type": "main"
          }
        ]
      ]
    },
    "Process Each Item": {
      "main": [
        [
          {
            "index": 0,
            "node": "Mark In Progress",
            "type": "main"
          }
        ]
      ]
    },
    "Scrape Successful?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Analyze Sections",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Calculate Retry",
            "type": "main"
          }
        ]
      ]
    },
    "Scrape training.gov.au": {
      "main": [
        [
          {
            "index": 0,
            "node": "Scrape Successful?",
            "type": "main"
          }
        ]
      ]
    },
    "Update Queue - Retry/Failed": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait 2s Between Items",
            "type": "main"
          }
        ]
      ]
    },
    "Update Queue - Success": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait 2s Between Items",
            "type": "main"
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "0df4cc8c-7de3-4991-b1bd-42cacf35e894",
  "activeVersionId": null,
  "versionCounter": 2,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-28T19:40:33.683Z",
      "createdAt": "2026-02-28T19:40:33.683Z",
      "role": "workflow:owner",
      "workflowId": "si80azlgxWEfWFyJ",
      "projectId": "l4KvHHgKuODqlMQC",
      "project": {
        "updatedAt": "2024-10-22T21:37:59.985Z",
        "createdAt": "2024-10-22T21:15:58.126Z",
        "id": "l4KvHHgKuODqlMQC",
        "name": "Kevin Dyer <kdyer1000@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "ce4bc9dd-417b-4637-a89e-1ea49435b48d",
        "projectRelations": [
          {
            "updatedAt": "2024-10-22T21:15:58.126Z",
            "createdAt": "2024-10-22T21:15:58.126Z",
            "userId": "ce4bc9dd-417b-4637-a89e-1ea49435b48d",
            "projectId": "l4KvHHgKuODqlMQC",
            "user": {
              "updatedAt": "2026-02-28T08:31:25.000Z",
              "createdAt": "2024-10-22T21:15:57.570Z",
              "id": "ce4bc9dd-417b-4637-a89e-1ea49435b48d",
              "email": "kdyer1000@gmail.com",
              "firstName": "Kevin",
              "lastName": "Dyer",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2024-10-22T21:38:04.796Z",
                "personalization_survey_n8n_version": "1.64.0"
              },
              "settings": {
                "userActivated": true,
                "isOnboarded": true,
                "firstSuccessfulWorkflowId": "4MQL5umSvDprkDtp",
                "userActivatedAt": 1729653350737,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1768798709616
                },
                "easyAIWorkflowOnboarded": true,
                "dismissedCallouts": {
                  "ragStarterCallout": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}