workflows/2kRvkggi5Sfph2mT_SmartUnstructuredUpsert_v2.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "AWS S31": {
      "main": [
        [
          {
            "index": 0,
            "node": "UnstructuredIO Extract",
            "type": "main"
          }
        ]
      ]
    },
    "Clear and Insert Pinecone Vector Store1": {
      "main": [
        [
          {
            "index": 0,
            "node": "processFolder",
            "type": "main"
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "index": 0,
            "node": "Load Pinecone Vector Store",
            "type": "ai_document"
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "index": 0,
            "node": "Clear and Insert Pinecone Vector Store1",
            "type": "ai_document"
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "index": 0,
            "node": "Load Pinecone Vector Store",
            "type": "ai_embedding"
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "index": 0,
            "node": "Clear and Insert Pinecone Vector Store1",
            "type": "ai_embedding"
          }
        ]
      ]
    },
    "Load Pinecone Vector Store": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "index": 0,
            "node": "Supabase",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "ReplaceRenameCode",
            "type": "main"
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "index": 0,
            "node": "Clear and Insert Pinecone Vector Store1",
            "type": "main"
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "index": 0,
            "node": "Default Data Loader",
            "type": "ai_textSplitter"
          }
        ]
      ]
    },
    "Recursive Character Text Splitter2": {
      "ai_textSplitter": [
        [
          {
            "index": 0,
            "node": "Default Data Loader2",
            "type": "ai_textSplitter"
          }
        ]
      ]
    },
    "ReplaceRenameCode": {
      "main": [
        [
          {
            "index": 0,
            "node": "AWS S31",
            "type": "main"
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        []
      ]
    },
    "Supabase Select File Content": {
      "main": [
        [
          {
            "index": 0,
            "node": "Load Pinecone Vector Store",
            "type": "main"
          }
        ]
      ]
    },
    "UnstructuredIO Extract": {
      "main": [
        [
          {
            "index": 0,
            "node": "getTempFile",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Supabase1",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "Parse JSON",
            "type": "main"
          }
        ]
      ]
    },
    "getTempFile": {
      "main": [
        [
          {
            "index": 0,
            "node": "getTempFile1",
            "type": "main"
          }
        ]
      ]
    },
    "getTempFile1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Supabase Select File Content",
            "type": "main"
          }
        ]
      ]
    },
    "processFolder": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-25T01:15:44.195Z",
  "description": null,
  "id": "2kRvkggi5Sfph2mT",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "SmartUnstructuredUpsert v2",
  "nodes": [
    {
      "id": "74696e1f-ec55-4f16-a664-cb7211e547b4",
      "name": "Parse JSON",
      "parameters": {
        "keepOnlySet": true,
        "options": {},
        "values": {
          "string": [
            {
              "name": "responseJSON",
              "value": "={{ JSON.parse($json.body.filename) }}"
            }
          ]
        }
      },
      "position": [
        672,
        464
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 1
    },
    {
      "id": "26bbe040-54c3-489e-9be2-a9c39de381f7",
      "name": "Code",
      "parameters": {
        "jsCode": "\nconst docs = $('Parse JSON').first().json.responseJSON;\nreturn docs.map((doc) => ({ json:{ doc } }));"
      },
      "position": [
        1664,
        464
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "9b6f2900-e5cf-4dcc-9461-29bdea17d8a1",
      "name": "Loop Over Items",
      "parameters": {
        "options": {}
      },
      "position": [
        1952,
        464
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "05377597-6518-4734-b6d0-18d8f55c9f29",
      "name": "Default Data Loader2",
      "parameters": {
        "jsonData": "{{ }}",
        "jsonMode": "expressionData",
        "options": {}
      },
      "position": [
        992,
        672
      ],
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1
    },
    {
      "id": "ca3f5f8d-6a22-4f6f-bfd9-bc9f6b9cf6d6",
      "name": "Recursive Character Text Splitter2",
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "position": [
        1040,
        800
      ],
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "F3fJ2WILchdegSmA",
          "name": "OpenAi account"
        }
      },
      "id": "a55df17f-2206-41b2-aec1-d865ea3a7587",
      "name": "Embeddings OpenAI2",
      "parameters": {
        "options": {}
      },
      "position": [
        800,
        672
      ],
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1
    },
    {
      "credentials": {
        "aws": {
          "id": "23ic4X9iVqVbjWe9",
          "name": "AWS account"
        }
      },
      "id": "e03b515d-2e53-41da-b7f8-39bca0a0dce0",
      "name": "AWS S31",
      "parameters": {
        "additionalFields": {},
        "destinationPath": "={{ \"/smartrtobucket/\".concat($('Webhook').item.json.body.processFolder).concat($runIndex).concat(\"/\").concat( $json.doc.Key.substring($json.doc.Key.lastIndexOf('/')+1,$json.doc.Key.length))}}",
        "operation": "copy",
        "sourcePath": "={{ \"/smartrtobucket/\".concat( $json.doc.Key)}}"
      },
      "position": [
        2384,
        480
      ],
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2
    },
    {
      "id": "4a09cef0-68dd-4b7a-94d4-a81e4cec435c",
      "name": "ReplaceRenameCode",
      "parameters": {
        "jsCode": "return $('Loop Over Items').item.json;\n// var item = $input.item.json.Key;\n// const lastDotIndex = item.lastIndexOf(\".\");\n// return item.substring(0, lastDotIndex + 1) + \"json\";",
        "mode": "runOnceForEachItem"
      },
      "position": [
        2160,
        480
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "c8e7094c-21f4-4698-b5e3-59188e343e1d",
      "name": "getTempFile",
      "parameters": {
        "jsCode": "return $('ReplaceRenameCode').item.json.doc;\n// var item = $input.item.json.Key;\n// const lastDotIndex = item.lastIndexOf(\".\");\n// return item.substring(0, lastDotIndex + 1) + \"json\";",
        "mode": "runOnceForEachItem"
      },
      "position": [
        3120,
        688
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "b6f458a2-851f-495d-b6a5-c0a921235072",
      "name": "getTempFile1",
      "parameters": {
        "jsCode": "var item = $('getTempFile').item.json.Key;\nconst lastSlashIndex = item.lastIndexOf(\"/\")+1;\nconst lastDotIndex = item.lastIndexOf(\".\")+1;\nconst jsonFileName = item.concat(\".json\");\nconst result = $('processFolder').item.json.processFolder.concat($runIndex).concat(\"/\").concat(jsonFileName.substring(lastSlashIndex));\nreturn { result: result};",
        "mode": "runOnceForEachItem"
      },
      "position": [
        3392,
        688
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "661da43b-4aec-4d77-886a-48f6b02b33f5",
      "name": "processFolder",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b68d61fe-4fa0-47c8-9012-1f0c2d76b846",
              "name": "processFolder",
              "type": "string",
              "value": "={{ $('Webhook').item.json.body.processFolder }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1344,
        464
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "85bb9bdf-09fe-472a-9c2c-614cb8c62ff6",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "93355193-0a0d-4805-a413-c23dd83c6b95"
      },
      "position": [
        464,
        464
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "93355193-0a0d-4805-a413-c23dd83c6b95"
    },
    {
      "credentials": {
        "pineconeApi": {
          "id": "yelFxS1GAveaGbaN",
          "name": "PineconeApi Starter"
        }
      },
      "id": "ef885f00-ac2d-4804-b414-b06786fd53af",
      "name": "Clear and Insert Pinecone Vector Store1",
      "parameters": {
        "mode": "insert",
        "options": {
          "clearNamespace": true,
          "pineconeNamespace": "={{ $('Webhook').item.json.body.pineconeNamespace }}"
        },
        "pineconeIndex": {
          "__rl": true,
          "cachedResultName": "smartrto",
          "mode": "list",
          "value": "smartrto"
        }
      },
      "position": [
        848,
        464
      ],
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1
    },
    {
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "6ZjoNeve5UWvaUfY",
          "name": "Supabase account"
        }
      },
      "executeOnce": true,
      "id": "3531f707-267e-454f-bb43-f580539c6b37",
      "name": "Supabase",
      "parameters": {
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "docExtracted",
              "fieldValue": "={{ true }}"
            },
            {
              "fieldId": "extractStatus",
              "fieldValue": "Success"
            }
          ]
        },
        "filters": {
          "conditions": [
            {
              "condition": "eq",
              "keyName": "id",
              "keyValue": "={{ $('Webhook').item.json.body.valSummaryID}}"
            }
          ]
        },
        "matchType": "allFilters",
        "operation": "update",
        "tableId": "validation_detail"
      },
      "position": [
        2288,
        240
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "id": "5171d126-62c1-47b3-881e-24828e4fd1df",
      "name": "UnstructuredIO Extract",
      "onError": "continueErrorOutput",
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "fileName",
              "value": "={{ \"s3://smartrtobucket/\".concat($('Webhook').item.json.body.processFolder).concat($runIndex).concat(\"/\")}}"
            },
            {
              "name": "awsK",
              "value": "AKIA2NBXBDS65NJATWO3"
            },
            {
              "name": "awsS",
              "value": "oBu5IXxQUt/QX1jMOBobn/r177G7J68z3LzWt2lO"
            },
            {
              "name": "unstrK",
              "value": "xQfdQBotLsruN9fFLB9sOdcez5wNIZ"
            },
            {
              "name": "supaK",
              "value": "MmteRd0ZrsCZcUH3"
            }
          ]
        },
        "method": "POST",
        "options": {},
        "sendBody": true,
        "url": "https://fastunstructpostgres.onrender.com/process"
      },
      "position": [
        2704,
        432
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "6ZjoNeve5UWvaUfY",
          "name": "Supabase account"
        }
      },
      "id": "442646c8-7207-4223-9089-c4e518ccb5ea",
      "name": "Supabase Select File Content",
      "parameters": {
        "filters": {
          "conditions": [
            {
              "keyName": "url",
              "keyValue": "=s3://smartrtobucket/{{ $json.result.substring(0,$json.result.lastIndexOf('.')) }}"
            }
          ]
        },
        "operation": "get",
        "tableId": "elements"
      },
      "position": [
        2400,
        928
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "id": "4f4c6222-189d-4bc9-a70b-9165b5932c09",
      "name": "Default Data Loader",
      "parameters": {
        "jsonData": "={{ $json.text }} [document_name {{ $json.filename }}] [page_number {{ $json.page_number }}]",
        "jsonMode": "expressionData",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "filename",
                "value": "={{ $json.filename }}"
              },
              {
                "name": "page_number",
                "value": "={{ $json.page_number }}"
              }
            ]
          }
        }
      },
      "position": [
        3120,
        1408
      ],
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "F3fJ2WILchdegSmA",
          "name": "OpenAi account"
        }
      },
      "id": "22525d3f-3730-4c29-ac29-2caa75e7e40f",
      "name": "Embeddings OpenAI",
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "position": [
        2672,
        1344
      ],
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1
    },
    {
      "id": "74832805-2954-46da-bc56-cc8c7d21f2e9",
      "name": "Recursive Character Text Splitter",
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "position": [
        3392,
        1632
      ],
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1
    },
    {
      "credentials": {
        "pineconeApi": {
          "id": "yelFxS1GAveaGbaN",
          "name": "PineconeApi Starter"
        }
      },
      "id": "b7fe0863-8bf9-42f0-8f00-51eb9424489c",
      "name": "Load Pinecone Vector Store",
      "parameters": {
        "mode": "insert",
        "options": {
          "pineconeNamespace": "={{$('Webhook').first().json.body.pineconeNamespace}}"
        },
        "pineconeIndex": {
          "__rl": true,
          "cachedResultName": "smartrto",
          "mode": "list",
          "value": "smartrto"
        }
      },
      "position": [
        2672,
        1104
      ],
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1
    },
    {
      "id": "92e04b78-5f7d-46b8-b039-9d1c5b6d44aa",
      "name": "Sticky Note",
      "parameters": {
        "content": "## NOTE\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)\n\n-> Clear Namespace, have to insert empty vector\n\n--> Process one file at a time, copy the file over  to the processed folder under its index. This to support Unstructured on Render. Folders work locally???\n\n",
        "height": 400,
        "width": 540
      },
      "position": [
        -240,
        384
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "6ZjoNeve5UWvaUfY",
          "name": "Supabase account"
        }
      },
      "executeOnce": true,
      "id": "df7a7e67-e1b3-457c-a1d4-c7cc36643763",
      "name": "Supabase1",
      "parameters": {
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "docExtracted",
              "fieldValue": "={{ false }}"
            },
            {
              "fieldId": "extractStatus",
              "fieldValue": "Error"
            }
          ]
        },
        "filters": {
          "conditions": [
            {
              "condition": "eq",
              "keyName": "id",
              "keyValue": "={{ $('Webhook').item.json.body.valSummaryID}}"
            }
          ]
        },
        "matchType": "allFilters",
        "operation": "update",
        "tableId": "validation_detail"
      },
      "position": [
        2784,
        640
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "body": {
            "filename": "[{\"ChecksumAlgorithm\":[\"CRC32\"],\"ChecksumType\":\"FULL_OBJECT\",\"ETag\":\"\\\"ebb42f19f63a45b90f5f09afc2e4c4af\\\"\",\"Key\":\"7148/cluster/TLIH0005 /UnitOfCompetency/2025-07-07 08:12/TLIH0005  - Marking Guide -v4.0 (1).pdf\",\"LastModified\":\"2025-07-07T08:13:05.000Z\",\"Size\":776497,\"StorageClass\":\"STANDARD\"}]",
            "pineconeNamespace": "7148/cluster/TLIH0005 /UnitOfCompetency/2025-07-07 08:12/",
            "processFolder": "processing/7148/cluster/TLIH0005 /UnitOfCompetency/2025-07-07 08:12/1751876007624/",
            "valSummaryID": "280"
          },
          "executionMode": "production",
          "headers": {
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "35.155.119.178",
            "cf-ipcountry": "US",
            "cf-ray": "95b5e1f8094f8bee-SIN",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-length": "939",
            "content-type": "multipart/form-data; boundary=--------------------------013054616118331806344222",
            "host": "n8n-gtoa.onrender.com",
            "render-proxy-ttl": "4",
            "rndr-id": "2fa6af8b-29aa-4217",
            "true-client-ip": "35.155.119.178",
            "user-agent": "superblocks restapi",
            "x-forwarded-for": "35.155.119.178, 162.158.162.49",
            "x-forwarded-proto": "https",
            "x-request-start": "1751876007790961"
          },
          "params": {},
          "query": {},
          "webhookUrl": "https://n8n-gtoa.onrender.com/webhook/93355193-0a0d-4805-a413-c23dd83c6b95"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2024-11-25T01:15:44.199Z",
      "project": {
        "createdAt": "2024-10-22T21:15:58.126Z",
        "creatorId": "ce4bc9dd-417b-4637-a89e-1ea49435b48d",
        "description": null,
        "icon": null,
        "id": "l4KvHHgKuODqlMQC",
        "name": "Kevin Dyer <kdyer1000@gmail.com>",
        "projectRelations": [
          {
            "createdAt": "2024-10-22T21:15:58.126Z",
            "projectId": "l4KvHHgKuODqlMQC",
            "updatedAt": "2024-10-22T21:15:58.126Z",
            "user": {
              "createdAt": "2024-10-22T21:15:57.570Z",
              "disabled": false,
              "email": "kdyer1000@gmail.com",
              "firstName": "Kevin",
              "id": "ce4bc9dd-417b-4637-a89e-1ea49435b48d",
              "isPending": false,
              "lastActiveAt": "2026-01-19",
              "lastName": "Dyer",
              "mfaEnabled": false,
              "personalizationAnswers": {
                "personalization_survey_n8n_version": "1.64.0",
                "personalization_survey_submitted_at": "2024-10-22T21:38:04.796Z",
                "version": "v4"
              },
              "settings": {
                "dismissedCallouts": {
                  "ragStarterCallout": true
                },
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "4MQL5umSvDprkDtp",
                "isOnboarded": true,
                "npsSurvey": {
                  "lastShownAt": 1768798709616,
                  "responded": true
                },
                "userActivated": true,
                "userActivatedAt": 1729653350737
              },
              "updatedAt": "2026-01-20T02:03:46.000Z"
            },
            "userId": "ce4bc9dd-417b-4637-a89e-1ea49435b48d"
          }
        ],
        "type": "personal",
        "updatedAt": "2024-10-22T21:37:59.985Z"
      },
      "projectId": "l4KvHHgKuODqlMQC",
      "role": "workflow:owner",
      "updatedAt": "2024-11-25T01:15:44.199Z",
      "workflowId": "2kRvkggi5Sfph2mT"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-19T21:36:29.996Z",
  "versionCounter": 2,
  "versionId": "94ddbef6-e471-41b8-ad5c-f2e582cec23c"
}
