workflows/4DpN0ZUUnHOiHVpS_SimpleAIValidateUnit.json
{
  "active": true,
  "activeVersion": {
    "authors": "system migration",
    "autosaved": false,
    "connections": {
      "AI Agent": {
        "main": [
          [
            {
              "index": 0,
              "node": "AInstrValidationsSupabase",
              "type": "main"
            }
          ]
        ]
      },
      "AInstrValidationsSupabase": {
        "main": [
          [
            {
              "index": 0,
              "node": "Update a row",
              "type": "main"
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "main"
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "ai_embedding": [
          [
            {
              "index": 0,
              "node": "Pinecone Vector Store",
              "type": "ai_embedding"
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "index": 0,
              "node": "Basic LLM Chain",
              "type": "ai_languageModel"
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "index": 0,
              "node": "Structured Output Parser",
              "type": "ai_languageModel"
            }
          ]
        ]
      },
      "OpenAI Chat Model2": {
        "ai_languageModel": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "ai_languageModel"
            }
          ]
        ]
      },
      "Pinecone Vector Store": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "ai_outputParser"
            }
          ]
        ]
      },
      "Update a row1": {
        "main": [
          [
            {
              "index": 0,
              "node": "Basic LLM Chain",
              "type": "main"
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          []
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "index": 0,
              "node": "Update a row1",
              "type": "main"
            }
          ]
        ]
      }
    },
    "createdAt": "2025-11-28T18:15:14.136Z",
    "description": null,
    "name": null,
    "nodes": [
      {
        "credentials": {
          "supabaseApi": {
            "id": "6ZjoNeve5UWvaUfY",
            "name": "Supabase account"
          }
        },
        "id": "2ff9c202-91bf-427a-900d-7b56fa482c66",
        "name": "AInstrValidationsSupabase",
        "parameters": {
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "valDetail_id",
                "fieldValue": "={{ $('When Executed by Another Workflow').item.json.detid }}"
              },
              {
                "fieldId": "assessment_instructions_outcome",
                "fieldValue": "={{ $json.output }}"
              },
              {
                "fieldId": "unit_url",
                "fieldValue": "={{ $('When Executed by Another Workflow').item.json.unit_url }}"
              },
              {
                "fieldId": "complianceReport",
                "fieldValue": "={{ $json.output['Compliance Report'] }}"
              },
              {
                "fieldId": "assessmentMethods",
                "fieldValue": "={{ $json.output['Assessment Methods'] }}"
              },
              {
                "fieldId": "evidenceRequirements",
                "fieldValue": "={{ $json.output['Evidence Requirements'] }}"
              },
              {
                "fieldId": "clarityAndLanguage",
                "fieldValue": "={{ $json.output['Clarity and Language'] }}"
              },
              {
                "fieldId": "consitency",
                "fieldValue": "={{ $json.output.Consistency }}"
              },
              {
                "fieldId": "assessmentReviewPorcess",
                "fieldValue": "={{ $json.output['Assessment Review Process'] }}"
              },
              {
                "fieldId": "reasonableAdjustments",
                "fieldValue": "={{ $json.output['Reasonable Adjustments'] }}"
              },
              {
                "fieldId": "resubAndReassessPolicy",
                "fieldValue": "={{ $json.output['Resubmission and Reassessment Policy'] }}"
              }
            ]
          },
          "tableId": "assessment_instructions_validations"
        },
        "position": [
          -96,
          48
        ],
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1
      },
      {
        "id": "f9eeda72-2f40-4371-9790-04e8c590c59e",
        "name": "Webhook",
        "parameters": {
          "httpMethod": "POST",
          "options": {},
          "path": "4e526c80-2f16-4b2e-ba6f-51366fdfbecc"
        },
        "position": [
          -1792,
          288
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "webhookId": "4e526c80-2f16-4b2e-ba6f-51366fdfbecc"
      },
      {
        "id": "c03c84d4-4e30-4027-a7c5-7928229809b9",
        "name": "Basic LLM Chain",
        "parameters": {
          "messages": {
            "messageValues": [
              {
                "message": "Remove all special characters, newline characters, and any formatting, returning only a simple string with words separated by single spaces."
              }
            ]
          },
          "promptType": "define",
          "text": "={{ $json.requirement }}"
        },
        "position": [
          -1184,
          48
        ],
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.4
      },
      {
        "credentials": {
          "openAiApi": {
            "id": "F3fJ2WILchdegSmA",
            "name": "OpenAi account"
          }
        },
        "id": "072bb418-d9a3-42d3-83c0-112b85aea3a4",
        "name": "OpenAI Chat Model",
        "parameters": {
          "model": "gpt-4o",
          "options": {}
        },
        "position": [
          -1376,
          304
        ],
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1
      },
      {
        "id": "3ff0cf8f-a66f-474d-82c1-abcc7ecd6305",
        "name": "AI Agent",
        "parameters": {
          "hasOutputParser": true,
          "options": {
            "systemMessage": "Your task is to gather all required information and documents for validation from the Document Store, perform the validation, and return a JSON response to ensure they fully adhere to the given assessment instructions. If any details are missing, unclear, or insufficient, follow the provided recommendations to make specific, actionable improvements. Aim for thorough explanations and enhancements where necessary.\n\nTo accomplish this, follow these simplified steps:\n\n### Step 1: Analyze Assessment Instructions\nFocus on these key components:\n\n1. **Assessment Methods**:\n   - Review the specified methods (e.g., observations, written tests, project work).\n   - Ensure methods are appropriate, clearly detailed, and align with task requirements.\n\n2. **Evidence Requirements**:\n   - Specify types of evidence learners must provide (e.g., work samples, written documents).\n   - Ensure evidence is valid, sufficient, authentic, and current.\n\n3. **Clarity and Language**:\n   - Check if instructions are clear, concise, and suitable for the learner's level.\n   - Use simple language and visual aids where applicable.\n\n4. **Consistency**:\n   - Verify consistent instructions and language across assessments.\n\n5. **Assessment Review Process**:\n   - Confirm there are clear instructions for students to review their assessments.\n\n6. **Reasonable Adjustments**:\n   - Ensure guidance is included for adjusting assessments for learners with special needs.\n\n7. **Resubmission and Reassessment Policy**:\n   - Clarify the process for resubmission or reassessment, emphasizing fairness and transparency.\n\n### Step 2: Generate a Compliance Report\n1. **Compliance Status**:\n   - Classify each component as \"Met,\" \"Partially Met,\" or \"Not Met.\"\n\n2. **Gap Analysis**:\n   - Identify specific gaps or areas of misalignment.\n\n3. **Recommendations**:\n   - Provide actionable steps to address gaps, ensuring clarity on how to implement changes.\n\n### Compliance Report Structure\n\n  \"Assessment Methods\": \n    \"Status\": \"Met/Partially Met/Not Met\",\n    \"Reasoning\": \"Brief explanation of alignment or gaps.\",\n    \"Recommendations\": \"Actionable steps to improve methods.\",\n    \"Page Number\": \"Relevant page numbers.\"\n  ,\n  \"Evidence Requirements\": \n    \"Status\": \"Met/Partially Met/Not Met\",\n    \"Reasoning\": \"Brief explanation of evidence alignment or gaps.\",\n    \"Recommendations\": \"Suggestions for evidence improvement.\",\n    \"Page Number\": \"Relevant page numbers.\"\n  ,\n  \"Clarity and Language\": \n    \"Status\": \"Met/Partially Met/Not Met\",\n    \"Reasoning\": \"Brief explanation of language clarity or issues.\",\n    \"Recommendations\": \"Steps to enhance clarity.\",\n    \"Page Number\": \"Relevant page numbers.\"\n  ,\n  \"Consistency\": \n    \"Status\": \"Met/Partially Met/Not Met\",\n    \"Reasoning\": \"Details of any inconsistencies.\",\n    \"Recommendations\": \"Suggestions for uniformity.\",\n    \"Page Number\": \"Relevant page numbers.\"\n  ,\n  \"Assessment Review Process\": \n    \"Status\": \"Met/Partially Met/Not Met\",\n    \"Reasoning\": \"Explanation of review process gaps.\",\n    \"Recommendations\": \"Steps to improve review processes.\",\n    \"Page Number\": \"Relevant page numbers.\"\n  ,\n  \"Reasonable Adjustments\": \n    \"Status\": \"Met/Partially Met/Not Met\",\n    \"Reasoning\": \"Explanation of adjustment provisions.\",\n    \"Recommendations\": \"Suggestions for adjustments.\",\n    \"Page Number\": \"Relevant page numbers.\"\n  ,\n  \"Resubmission and Reassessment Policy\": \n    \"Status\": \"Met/Partially Met/Not Met\",\n    \"Reasoning\": \"Explanation of policy gaps.\",\n    \"Recommendations\": \"Steps to clarify policies.\",\n    \"Page Number\": \"Relevant page numbers.\"\n  ,\n  \"Compliance Report\": \n    \"Compliance Status\": \"Overall compliance classification.\",\n    \"Gap Analysis\": \"Summary of gaps for each component.\",\n    \"Recommendations\": \"Actionable steps for compliance.\"\n\nWhen asessing be very lenient, if the content is close enough to the requirement mark it as met. \nReturn only the JSON response and nothing else."
          },
          "promptType": "define",
          "text": "={{ $json.text }}"
        },
        "position": [
          -608,
          48
        ],
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2
      },
      {
        "credentials": {
          "openAiApi": {
            "id": "F3fJ2WILchdegSmA",
            "name": "OpenAi account"
          }
        },
        "id": "c61492ff-fe19-4273-8f7e-459981152094",
        "name": "OpenAI Chat Model2",
        "parameters": {
          "model": {
            "__rl": true,
            "cachedResultName": "gpt-3.5-turbo",
            "mode": "list",
            "value": "gpt-3.5-turbo"
          },
          "options": {}
        },
        "position": [
          -928,
          304
        ],
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2
      },
      {
        "credentials": {
          "pineconeApi": {
            "id": "yelFxS1GAveaGbaN",
            "name": "PineconeApi Starter"
          }
        },
        "id": "3c888488-3515-4164-ae92-3e9428d490b6",
        "name": "Pinecone Vector Store",
        "parameters": {
          "mode": "retrieve-as-tool",
          "options": {
            "pineconeNamespace": "={{ $('When Executed by Another Workflow').item.json.namespace_code }}"
          },
          "pineconeIndex": {
            "__rl": true,
            "cachedResultName": "smartrto",
            "mode": "list",
            "value": "smartrto"
          },
          "toolDescription": "Use this function to answer user questions about Knowledge Evidence. It contains the RTO Documents  that relate to the Unit Of Competency that needs to be validated."
        },
        "position": [
          -592,
          352
        ],
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.3
      },
      {
        "credentials": {
          "openAiApi": {
            "id": "F3fJ2WILchdegSmA",
            "name": "OpenAi account"
          }
        },
        "id": "fe654ee1-17da-41a1-871e-b68114216c48",
        "name": "Embeddings OpenAI",
        "parameters": {
          "model": "text-embedding-ada-002",
          "options": {}
        },
        "position": [
          -720,
          528
        ],
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2
      },
      {
        "id": "65182c8f-1910-4766-b3a3-69153cf7fe00",
        "name": "Structured Output Parser",
        "parameters": {
          "autoFix": true,
          "jsonSchemaExample": "{  \n \"Assessment Methods\":     \"Status: Met,    Reasoning: The assessment methods include skills demonstrations, simulations, and scenarios which are appropriate for covering the full range of contexts in children's education and care services.,    Recommendation: None required. The methods align well with the requirements.,    Page Number: Document: CHCECE056, Page 2\" ,  \n\n \"Evidence Requirements\":     \"Status: Partially Met,    Reasoning: There is a mention of organizational policies and procedures, but more specific types of evidence required from learners are not clearly detailed.,    Recommendations: Specify clear types of evidence such as work samples, observation notes, or reflective journals to ensure authenticity and sufficiency.,    Page Number: Document: CHCECE056, Page 18\"  ,  \n  \n \"Clarity and Language\": \"Status: Met,   Reasoning: Language used in the assessment instructions appears clear and suitable for the learners' level. The performance criteria and elements are concisely described.,  Recommendations: Continuous review to ensure language simplicity and understanding.,    Page Number: Document: CHCECE056, Page 1\",  \n  \n  \"Consistency\": \"Status: Met,    Reasoning: There is consistent use of terms and alignment across different sections of the assessment tasks.,    Recommendations: Ensure regular updates to maintain consistency as policies or frameworks change.,    Page Number: Document: CHCECE056, Page 31\" \n,\n  \n \"Assessment Review Process\": \"Status: Not Met,    Reasoning: There are no clear instructions outlined for students to review their assessments or to receive feedback.,    Recommendations: Include a section detailing the assessment review and feedback process to help students improve.,    Page Number: Not available\" ,  \n  \n  \"Reasonable Adjustments\": \"Status: Not Met,    Reasoning:No guidance is provided regarding adjustments for learners with special needs.,    Recommendations: Implement instructions on how assessments can be adjusted for learners with different needs to ensure inclusivity.,    Page Number: Not available\" ,  \n  \n  \"Resubmission and Reassessment Policy\":     \"Status: Not Met,    Reasoning: There is no information on the policy for resubmission or reassessment for students who do not meet the required standards initially.,    Recommendations: Develop a clear policy for resubmission and reassessment to facilitate a fair and transparent process.,    Page Number: Not available\"  ,  \n  \n  \"Compliance Report\": \"Compliance Status: Partially Met,    Gap Analysis: While the assessment methods and clarity are satisfactory, the evidence requirements, review process, reasonable adjustments, and resubmission policies need improvement.,    Recommendations: Enhance the clarity of evidence requirements, establish a review process, provide reasonable adjustments guidance, and develop a resubmission policy for comprehensive compliance.\"  \n}"
        },
        "position": [
          -192,
          352
        ],
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3
      },
      {
        "credentials": {
          "openAiApi": {
            "id": "F3fJ2WILchdegSmA",
            "name": "OpenAi account"
          }
        },
        "id": "ed315cab-7caf-4156-8bab-49efdd41ca39",
        "name": "OpenAI Chat Model1",
        "parameters": {
          "model": {
            "__rl": true,
            "cachedResultName": "gpt-4.1",
            "mode": "list",
            "value": "gpt-4.1"
          },
          "options": {}
        },
        "position": [
          -272,
          560
        ],
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2
      },
      {
        "id": "f847ccd3-963d-41a9-abd3-5e3761fc42ac",
        "name": "When Executed by Another Workflow",
        "parameters": {
          "inputSource": "passthrough"
        },
        "position": [
          -1696,
          48
        ],
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1
      },
      {
        "credentials": {
          "supabaseApi": {
            "id": "6ZjoNeve5UWvaUfY",
            "name": "Supabase account"
          }
        },
        "id": "49672846-cbdb-4d7b-a166-a0181739486f",
        "name": "Update a row",
        "parameters": {
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "COMPLETE"
              }
            ]
          },
          "filters": {
            "conditions": [
              {
                "condition": "eq",
                "keyName": "id",
                "keyValue": "={{ $('When Executed by Another Workflow').item.json.id }}"
              }
            ]
          },
          "matchType": "allFilters",
          "operation": "update",
          "tableId": "validation_processing_log"
        },
        "position": [
          160,
          48
        ],
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1
      },
      {
        "credentials": {
          "supabaseApi": {
            "id": "6ZjoNeve5UWvaUfY",
            "name": "Supabase account"
          }
        },
        "id": "14cc096b-e09a-401c-990d-cb1c6bfd1dab",
        "name": "Update a row1",
        "parameters": {
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "PROCESSING"
              }
            ]
          },
          "filters": {
            "conditions": [
              {
                "condition": "eq",
                "keyName": "id",
                "keyValue": "={{ $('When Executed by Another Workflow').item.json.id }}"
              }
            ]
          },
          "matchType": "allFilters",
          "operation": "update",
          "tableId": "validation_processing_log"
        },
        "position": [
          -1456,
          48
        ],
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1
      }
    ],
    "updatedAt": "2025-11-28T18:15:14.136Z",
    "versionId": "dbfb8804-ffe9-4252-a1dd-39ffb1a40541",
    "workflowId": "4DpN0ZUUnHOiHVpS",
    "workflowPublishHistory": []
  },
  "activeVersionId": "dbfb8804-ffe9-4252-a1dd-39ffb1a40541",
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "index": 0,
            "node": "AInstrValidationsSupabase",
            "type": "main"
          }
        ]
      ]
    },
    "AInstrValidationsSupabase": {
      "main": [
        [
          {
            "index": 0,
            "node": "Update a row",
            "type": "main"
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "main"
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "index": 0,
            "node": "Pinecone Vector Store",
            "type": "ai_embedding"
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Basic LLM Chain",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Structured Output Parser",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Update a row1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Basic LLM Chain",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "Update a row1",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-12T20:25:20.802Z",
  "description": null,
  "id": "4DpN0ZUUnHOiHVpS",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "SimpleAIValidateUnit",
  "nodes": [
    {
      "credentials": {
        "supabaseApi": {
          "id": "6ZjoNeve5UWvaUfY",
          "name": "Supabase account"
        }
      },
      "id": "2ff9c202-91bf-427a-900d-7b56fa482c66",
      "name": "AInstrValidationsSupabase",
      "parameters": {
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "valDetail_id",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.detid }}"
            },
            {
              "fieldId": "assessment_instructions_outcome",
              "fieldValue": "={{ $json.output }}"
            },
            {
              "fieldId": "unit_url",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.unit_url }}"
            },
            {
              "fieldId": "complianceReport",
              "fieldValue": "={{ $json.output['Compliance Report'] }}"
            },
            {
              "fieldId": "assessmentMethods",
              "fieldValue": "={{ $json.output['Assessment Methods'] }}"
            },
            {
              "fieldId": "evidenceRequirements",
              "fieldValue": "={{ $json.output['Evidence Requirements'] }}"
            },
            {
              "fieldId": "clarityAndLanguage",
              "fieldValue": "={{ $json.output['Clarity and Language'] }}"
            },
            {
              "fieldId": "consitency",
              "fieldValue": "={{ $json.output.Consistency }}"
            },
            {
              "fieldId": "assessmentReviewPorcess",
              "fieldValue": "={{ $json.output['Assessment Review Process'] }}"
            },
            {
              "fieldId": "reasonableAdjustments",
              "fieldValue": "={{ $json.output['Reasonable Adjustments'] }}"
            },
            {
              "fieldId": "resubAndReassessPolicy",
              "fieldValue": "={{ $json.output['Resubmission and Reassessment Policy'] }}"
            }
          ]
        },
        "tableId": "assessment_instructions_validations"
      },
      "position": [
        -96,
        48
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "id": "f9eeda72-2f40-4371-9790-04e8c590c59e",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "4e526c80-2f16-4b2e-ba6f-51366fdfbecc"
      },
      "position": [
        -1792,
        288
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "4e526c80-2f16-4b2e-ba6f-51366fdfbecc"
    },
    {
      "id": "c03c84d4-4e30-4027-a7c5-7928229809b9",
      "name": "Basic LLM Chain",
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "Remove all special characters, newline characters, and any formatting, returning only a simple string with words separated by single spaces."
            }
          ]
        },
        "promptType": "define",
        "text": "={{ $json.requirement }}"
      },
      "position": [
        -1184,
        48
      ],
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "F3fJ2WILchdegSmA",
          "name": "OpenAi account"
        }
      },
      "id": "072bb418-d9a3-42d3-83c0-112b85aea3a4",
      "name": "OpenAI Chat Model",
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "position": [
        -1376,
        304
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1
    },
    {
      "id": "3ff0cf8f-a66f-474d-82c1-abcc7ecd6305",
      "name": "AI Agent",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Your task is to gather all required information and documents for validation from the Document Store, perform the validation, and return a JSON response to ensure they fully adhere to the given assessment instructions. If any details are missing, unclear, or insufficient, follow the provided recommendations to make specific, actionable improvements. Aim for thorough explanations and enhancements where necessary.\n\nTo accomplish this, follow these simplified steps:\n\n### Step 1: Analyze Assessment Instructions\nFocus on these key components:\n\n1. **Assessment Methods**:\n   - Review the specified methods (e.g., observations, written tests, project work).\n   - Ensure methods are appropriate, clearly detailed, and align with task requirements.\n\n2. **Evidence Requirements**:\n   - Specify types of evidence learners must provide (e.g., work samples, written documents).\n   - Ensure evidence is valid, sufficient, authentic, and current.\n\n3. **Clarity and Language**:\n   - Check if instructions are clear, concise, and suitable for the learner's level.\n   - Use simple language and visual aids where applicable.\n\n4. **Consistency**:\n   - Verify consistent instructions and language across assessments.\n\n5. **Assessment Review Process**:\n   - Confirm there are clear instructions for students to review their assessments.\n\n6. **Reasonable Adjustments**:\n   - Ensure guidance is included for adjusting assessments for learners with special needs.\n\n7. **Resubmission and Reassessment Policy**:\n   - Clarify the process for resubmission or reassessment, emphasizing fairness and transparency.\n\n### Step 2: Generate a Compliance Report\n1. **Compliance Status**:\n   - Classify each component as \"Met,\" \"Partially Met,\" or \"Not Met.\"\n\n2. **Gap Analysis**:\n   - Identify specific gaps or areas of misalignment.\n\n3. **Recommendations**:\n   - Provide actionable steps to address gaps, ensuring clarity on how to implement changes.\n\n### Compliance Report Structure\n\n  \"Assessment Methods\": \n    \"Status\": \"Met/Partially Met/Not Met\",\n    \"Reasoning\": \"Brief explanation of alignment or gaps.\",\n    \"Recommendations\": \"Actionable steps to improve methods.\",\n    \"Page Number\": \"Relevant page numbers.\"\n  ,\n  \"Evidence Requirements\": \n    \"Status\": \"Met/Partially Met/Not Met\",\n    \"Reasoning\": \"Brief explanation of evidence alignment or gaps.\",\n    \"Recommendations\": \"Suggestions for evidence improvement.\",\n    \"Page Number\": \"Relevant page numbers.\"\n  ,\n  \"Clarity and Language\": \n    \"Status\": \"Met/Partially Met/Not Met\",\n    \"Reasoning\": \"Brief explanation of language clarity or issues.\",\n    \"Recommendations\": \"Steps to enhance clarity.\",\n    \"Page Number\": \"Relevant page numbers.\"\n  ,\n  \"Consistency\": \n    \"Status\": \"Met/Partially Met/Not Met\",\n    \"Reasoning\": \"Details of any inconsistencies.\",\n    \"Recommendations\": \"Suggestions for uniformity.\",\n    \"Page Number\": \"Relevant page numbers.\"\n  ,\n  \"Assessment Review Process\": \n    \"Status\": \"Met/Partially Met/Not Met\",\n    \"Reasoning\": \"Explanation of review process gaps.\",\n    \"Recommendations\": \"Steps to improve review processes.\",\n    \"Page Number\": \"Relevant page numbers.\"\n  ,\n  \"Reasonable Adjustments\": \n    \"Status\": \"Met/Partially Met/Not Met\",\n    \"Reasoning\": \"Explanation of adjustment provisions.\",\n    \"Recommendations\": \"Suggestions for adjustments.\",\n    \"Page Number\": \"Relevant page numbers.\"\n  ,\n  \"Resubmission and Reassessment Policy\": \n    \"Status\": \"Met/Partially Met/Not Met\",\n    \"Reasoning\": \"Explanation of policy gaps.\",\n    \"Recommendations\": \"Steps to clarify policies.\",\n    \"Page Number\": \"Relevant page numbers.\"\n  ,\n  \"Compliance Report\": \n    \"Compliance Status\": \"Overall compliance classification.\",\n    \"Gap Analysis\": \"Summary of gaps for each component.\",\n    \"Recommendations\": \"Actionable steps for compliance.\"\n\nWhen asessing be very lenient, if the content is close enough to the requirement mark it as met. \nReturn only the JSON response and nothing else."
        },
        "promptType": "define",
        "text": "={{ $json.text }}"
      },
      "position": [
        -608,
        48
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "F3fJ2WILchdegSmA",
          "name": "OpenAi account"
        }
      },
      "id": "c61492ff-fe19-4273-8f7e-459981152094",
      "name": "OpenAI Chat Model2",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-3.5-turbo",
          "mode": "list",
          "value": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "position": [
        -928,
        304
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "credentials": {
        "pineconeApi": {
          "id": "yelFxS1GAveaGbaN",
          "name": "PineconeApi Starter"
        }
      },
      "id": "3c888488-3515-4164-ae92-3e9428d490b6",
      "name": "Pinecone Vector Store",
      "parameters": {
        "mode": "retrieve-as-tool",
        "options": {
          "pineconeNamespace": "={{ $('When Executed by Another Workflow').item.json.namespace_code }}"
        },
        "pineconeIndex": {
          "__rl": true,
          "cachedResultName": "smartrto",
          "mode": "list",
          "value": "smartrto"
        },
        "toolDescription": "Use this function to answer user questions about Knowledge Evidence. It contains the RTO Documents  that relate to the Unit Of Competency that needs to be validated."
      },
      "position": [
        -592,
        352
      ],
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "F3fJ2WILchdegSmA",
          "name": "OpenAi account"
        }
      },
      "id": "fe654ee1-17da-41a1-871e-b68114216c48",
      "name": "Embeddings OpenAI",
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "position": [
        -720,
        528
      ],
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "65182c8f-1910-4766-b3a3-69153cf7fe00",
      "name": "Structured Output Parser",
      "parameters": {
        "autoFix": true,
        "jsonSchemaExample": "{  \n \"Assessment Methods\":     \"Status: Met,    Reasoning: The assessment methods include skills demonstrations, simulations, and scenarios which are appropriate for covering the full range of contexts in children's education and care services.,    Recommendation: None required. The methods align well with the requirements.,    Page Number: Document: CHCECE056, Page 2\" ,  \n\n \"Evidence Requirements\":     \"Status: Partially Met,    Reasoning: There is a mention of organizational policies and procedures, but more specific types of evidence required from learners are not clearly detailed.,    Recommendations: Specify clear types of evidence such as work samples, observation notes, or reflective journals to ensure authenticity and sufficiency.,    Page Number: Document: CHCECE056, Page 18\"  ,  \n  \n \"Clarity and Language\": \"Status: Met,   Reasoning: Language used in the assessment instructions appears clear and suitable for the learners' level. The performance criteria and elements are concisely described.,  Recommendations: Continuous review to ensure language simplicity and understanding.,    Page Number: Document: CHCECE056, Page 1\",  \n  \n  \"Consistency\": \"Status: Met,    Reasoning: There is consistent use of terms and alignment across different sections of the assessment tasks.,    Recommendations: Ensure regular updates to maintain consistency as policies or frameworks change.,    Page Number: Document: CHCECE056, Page 31\" \n,\n  \n \"Assessment Review Process\": \"Status: Not Met,    Reasoning: There are no clear instructions outlined for students to review their assessments or to receive feedback.,    Recommendations: Include a section detailing the assessment review and feedback process to help students improve.,    Page Number: Not available\" ,  \n  \n  \"Reasonable Adjustments\": \"Status: Not Met,    Reasoning:No guidance is provided regarding adjustments for learners with special needs.,    Recommendations: Implement instructions on how assessments can be adjusted for learners with different needs to ensure inclusivity.,    Page Number: Not available\" ,  \n  \n  \"Resubmission and Reassessment Policy\":     \"Status: Not Met,    Reasoning: There is no information on the policy for resubmission or reassessment for students who do not meet the required standards initially.,    Recommendations: Develop a clear policy for resubmission and reassessment to facilitate a fair and transparent process.,    Page Number: Not available\"  ,  \n  \n  \"Compliance Report\": \"Compliance Status: Partially Met,    Gap Analysis: While the assessment methods and clarity are satisfactory, the evidence requirements, review process, reasonable adjustments, and resubmission policies need improvement.,    Recommendations: Enhance the clarity of evidence requirements, establish a review process, provide reasonable adjustments guidance, and develop a resubmission policy for comprehensive compliance.\"  \n}"
      },
      "position": [
        -192,
        352
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "F3fJ2WILchdegSmA",
          "name": "OpenAi account"
        }
      },
      "id": "ed315cab-7caf-4156-8bab-49efdd41ca39",
      "name": "OpenAI Chat Model1",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1",
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "position": [
        -272,
        560
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "f847ccd3-963d-41a9-abd3-5e3761fc42ac",
      "name": "When Executed by Another Workflow",
      "parameters": {
        "inputSource": "passthrough"
      },
      "position": [
        -1696,
        48
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "6ZjoNeve5UWvaUfY",
          "name": "Supabase account"
        }
      },
      "id": "49672846-cbdb-4d7b-a166-a0181739486f",
      "name": "Update a row",
      "parameters": {
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "COMPLETE"
            }
          ]
        },
        "filters": {
          "conditions": [
            {
              "condition": "eq",
              "keyName": "id",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.id }}"
            }
          ]
        },
        "matchType": "allFilters",
        "operation": "update",
        "tableId": "validation_processing_log"
      },
      "position": [
        160,
        48
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "6ZjoNeve5UWvaUfY",
          "name": "Supabase account"
        }
      },
      "id": "14cc096b-e09a-401c-990d-cb1c6bfd1dab",
      "name": "Update a row1",
      "parameters": {
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "PROCESSING"
            }
          ]
        },
        "filters": {
          "conditions": [
            {
              "condition": "eq",
              "keyName": "id",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.id }}"
            }
          ]
        },
        "matchType": "allFilters",
        "operation": "update",
        "tableId": "validation_processing_log"
      },
      "position": [
        -1456,
        48
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "body": {
            "requirement": "Mandatory conditions for assessment include:\n\nA safe working or simulated environment\n\nAssessors of this unit must satisfy the assessor requirements in applicable vocational education and training legislation, frameworks and/or standards.  -  Elements\n\nElements describe the essential outcomes.\n\n\t\n\nPerformance Criteria\n\nPerformance criteria describe the performance needed to demonstrate achievement of the element.\n\n1. Identify individual work tasks within a team\n\n\t\n\n1.1 Identify own responsibilities according to organisational policies and procedures\n\n1.2 Identify own role and task requirements within team\n\n1.3 Articulate team structure and roles of other team members\n\n1.4 Plan and prioritise own tasks according to given time frames and team requirements\n\n2. Contribute effectively to team goals\n\n\t\n\n2.1 Identify team goals and own responsibilities relevant to achieving team goals\n\n2.2 Contribute ideas and information in team planning discussions\n\n2.3 Share knowledge and skills with team members to enable effective teamwork and seek or offer support as required\n\n3. Work effectively with team members\n\n\t\n\n3.1 Communicate clearly and respectfully with team members, considering the needs of those from diverse backgrounds and roles\n\n3.2 Collaborate effectively with team members, including those who are working remotely on workplace issues\n\n3.3 Seek and provide assistance and feedback to team members where appropriate\n\n4. Communicate effectively with team leaders\n\n\t\n\n4.1 Receive and confirm understanding of task instructions or directions\n\n4.2 Communicate personal commitments in a timely manner\n\n4.3 Identify and report any issues preventing the completion of workplace tasks, according to organisational requirements\n\n4.4 Seek and act upon feedback to improve personal performance and/or behaviour"
          },
          "executionMode": "production",
          "headers": {
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "35.86.18.137",
            "cf-ipcountry": "US",
            "cf-ray": "993d7e4becf3da91-SIN",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-length": "1895",
            "content-type": "application/json",
            "host": "n8n-gtoa.onrender.com",
            "render-proxy-ttl": "4",
            "rndr-id": "19d6792a-0c91-483d",
            "true-client-ip": "35.86.18.137",
            "user-agent": "superblocks restapi",
            "x-forwarded-for": "35.86.18.137, 104.23.175.220",
            "x-forwarded-proto": "https",
            "x-request-start": "1761351052255742"
          },
          "params": {},
          "query": {
            "pineconeNamespace": "000/single/BSBXTW301/UnitOfCompetency/2025-10-24 06:01/",
            "unitLink": "https://training.gov.au/training/details/BSBXTW301",
            "validationDetailId": "294"
          },
          "webhookUrl": "https://n8n-gtoa.onrender.com/webhook/4e526c80-2f16-4b2e-ba6f-51366fdfbecc"
        }
      }
    ],
    "When Executed by Another Workflow": [
      {
        "json": {
          "asessementcondition": null,
          "asessementinstruction": "Assessors must hold credentials specified within the Standards for Registered Training Organisations current at the time of assessment.\n\nAssessment must satisfy the Principles of Assessment and Rules of Evidence and all regulatory requirements included within the Standards for Registered Training Organisations current at the time of assessment.\n\nAssessment must occur in workplace operational situations where it is appropriate to do so; where this is not appropriate, assessment must occur in simulated workplace operational situations that replicate workplace conditions.\n\nAssessment processes and techniques must be appropriate to the language, literacy and numeracy requirements of the work being performed and the needs of the candidate.\n\nResources for assessment must include access to:\n\n- a range of relevant exercises, case studies and/or simulations\n- relevant and appropriate materials, tools, equipment and PPE currently used in industry\n- applicable documentation, including legislation, regulations, codes of practice, workplace procedures and operation manuals. - Elements describe the essential outcomes. | Performance criteria describe the performance needed to demonstrate achievement of the element. |\n| 1 | **Follow workplace procedures for hazard identification and risk control** | **1.1** | Legislation and workplace procedures for dealing with incidents, hazards and emergencies are identified and followed |\n| 1.2 | Legislation and workplace procedures for WHS/OHS and related work instructions for controlling risks in a workplace are followed |\n| 1.3 | External hazards to the workplace are identified and appropriate actions taken |\n| 1.4 | Hazards in the workplace are identified and appropriate actions taken to report them and to minimise or eliminate risk to personnel, workplace and the environment |\n| 1.5 | Hygiene practices, health and wellbeing for self and others is implemented, monitored and reported |\n| 1.6 | Procedures necessary for entry into restricted areas requiring permits are known |\n| 1.7 | Personal protection equipment (PPE) is checked and correctly used in accordance with safety practices and procedures |\n| 1.8 | Containers and goods coding, markings and emergency information panels are identified and understood |\n| 2 | **Contribute to** WHS/OHS **compliance** | **2.1** | WHS/OHS issues and identified safety hazards are raised with designated personnel in accordance with relevant WHS/OHS legislation and workplace procedures |\n| 2.2 | Contributions to managing WHS/OHS in the workplace are made in accordance with relevant legislation and workplace procedures |\n| 2.3 | Assigned housekeeping duties are conducted in accordance with workplace procedures |\n| 2.4 | WHS/OHS records are completed and maintained in accordance with relevant legislation and workplace procedures |",
          "created_at": "2025-11-15T00:43:20.170923+00:00",
          "detid": null,
          "element": null,
          "id": 2613,
          "namespace_code": "41497/TLIF0025/UnitOfCompetency/2025-11-14T21-31-05",
          "number": null,
          "reqid": null,
          "requirement": "",
          "status": "READY",
          "summary_id": 36,
          "type": "AI",
          "unit_url": "https://training.gov.au/training/details/TLIF0025/unitdetails",
          "updated_at": null
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-12T20:25:20.805Z",
      "project": {
        "createdAt": "2024-10-22T21:15:58.126Z",
        "creatorId": "ce4bc9dd-417b-4637-a89e-1ea49435b48d",
        "description": null,
        "icon": null,
        "id": "l4KvHHgKuODqlMQC",
        "name": "Kevin Dyer <kdyer1000@gmail.com>",
        "projectRelations": [
          {
            "createdAt": "2024-10-22T21:15:58.126Z",
            "projectId": "l4KvHHgKuODqlMQC",
            "updatedAt": "2024-10-22T21:15:58.126Z",
            "user": {
              "createdAt": "2024-10-22T21:15:57.570Z",
              "disabled": false,
              "email": "kdyer1000@gmail.com",
              "firstName": "Kevin",
              "id": "ce4bc9dd-417b-4637-a89e-1ea49435b48d",
              "isPending": false,
              "lastActiveAt": "2026-01-19",
              "lastName": "Dyer",
              "mfaEnabled": false,
              "personalizationAnswers": {
                "personalization_survey_n8n_version": "1.64.0",
                "personalization_survey_submitted_at": "2024-10-22T21:38:04.796Z",
                "version": "v4"
              },
              "settings": {
                "dismissedCallouts": {
                  "ragStarterCallout": true
                },
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "4MQL5umSvDprkDtp",
                "isOnboarded": true,
                "npsSurvey": {
                  "lastShownAt": 1768798709616,
                  "responded": true
                },
                "userActivated": true,
                "userActivatedAt": 1729653350737
              },
              "updatedAt": "2026-01-20T02:03:46.000Z"
            },
            "userId": "ce4bc9dd-417b-4637-a89e-1ea49435b48d"
          }
        ],
        "type": "personal",
        "updatedAt": "2024-10-22T21:37:59.985Z"
      },
      "projectId": "l4KvHHgKuODqlMQC",
      "role": "workflow:owner",
      "updatedAt": "2025-10-12T20:25:20.805Z",
      "workflowId": "4DpN0ZUUnHOiHVpS"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-15T03:40:27.000Z",
  "versionCounter": 4,
  "versionId": "dbfb8804-ffe9-4252-a1dd-39ffb1a40541"
}
