workflows/4MQL5umSvDprkDtp_RTOCatch.json
{
  "active": true,
  "activeVersion": {
    "authors": "system migration",
    "autosaved": false,
    "connections": {
      "Merge": {
        "main": [
          [
            {
              "index": 0,
              "node": "Qualification Supabase",
              "type": "main"
            }
          ]
        ]
      },
      "RTO Supabase": {
        "main": [
          [
            {
              "index": 0,
              "node": "Merge",
              "type": "main"
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "index": 1,
              "node": "Merge",
              "type": "main"
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "index": 0,
              "node": "RTO Supabase",
              "type": "main"
            },
            {
              "index": 0,
              "node": "Split Out",
              "type": "main"
            }
          ]
        ]
      }
    },
    "createdAt": "2025-11-28T18:15:14.136Z",
    "description": null,
    "name": null,
    "nodes": [
      {
        "credentials": {
          "supabaseApi": {
            "id": "6ZjoNeve5UWvaUfY",
            "name": "Supabase account"
          }
        },
        "id": "07a42807-53cd-4a90-a23f-a49941f04ea7",
        "name": "RTO Supabase",
        "onError": "continueRegularOutput",
        "parameters": {
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "code",
                "fieldValue": "={{ $json.body.task.capturedTexts.code }}"
              },
              {
                "fieldId": "legalname",
                "fieldValue": "={{ $json.body.task.capturedTexts.legalName }}"
              },
              {
                "fieldId": "businessnames",
                "fieldValue": "={{ $json.body.task.capturedTexts.legalName }}"
              },
              {
                "fieldId": "abn",
                "fieldValue": "={{ $json.body.task.capturedTexts.abn.substring(0,$json.body.task.capturedTexts.abn.indexOf('arrow')) }}"
              },
              {
                "fieldId": "webaddress",
                "fieldValue": "={{ $json.body.task.capturedTexts.webAddress.substring(0,$json.body.task.capturedTexts.webAddress.indexOf('arrow')) }}"
              },
              {
                "fieldId": "registrationmanager",
                "fieldValue": "={{ $json.body.task.capturedTexts.registrationManager.substring(0,$json.body.task.capturedTexts.registrationManager.indexOf('arrow')) }}"
              },
              {
                "fieldId": "initialregistrationdate",
                "fieldValue": "={{ $json.body.task.capturedTexts.initRegDate }}"
              },
              {
                "fieldId": "startdate",
                "fieldValue": "={{ $json.body.task.capturedTexts.startDate }}"
              },
              {
                "fieldId": "enddate",
                "fieldValue": "={{ $json.body.task.capturedTexts.endDate }}"
              },
              {
                "fieldId": "legalauthority",
                "fieldValue": "={{ $json.body.task.capturedTexts.legalAuthority }}"
              },
              {
                "fieldId": "exerciser",
                "fieldValue": "={{ $json.body.task.capturedTexts.exerciser }}"
              },
              {
                "fieldId": "physicaladdress_line1",
                "fieldValue": "={{ $json.body.task.capturedTexts.physicalAddress }}"
              },
              {
                "fieldId": "postaladdress_line1",
                "fieldValue": "={{ $json.body.task.capturedTexts.postalAddress }}"
              },
              {
                "fieldId": "acn",
                "fieldValue": "={{ $json.body.task.capturedTexts.acn }}"
              },
              {
                "fieldId": "status",
                "fieldValue": "={{ $json.body.task.capturedTexts.status }}"
              },
              {
                "fieldId": "rtotype",
                "fieldValue": "={{ $json.body.task.capturedTexts.rtoType }}"
              },
              {
                "fieldId": "email",
                "fieldValue": "={{ $json.body.task.capturedTexts.email}}"
              },
              {
                "fieldId": "contactPhoneNumber",
                "fieldValue": "={{ $json.body.task.capturedTexts.phone}}"
              }
            ]
          },
          "tableId": "RTO"
        },
        "position": [
          960,
          260
        ],
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1
      },
      {
        "credentials": {
          "supabaseApi": {
            "id": "6ZjoNeve5UWvaUfY",
            "name": "Supabase account"
          }
        },
        "id": "accad23f-12d8-4a33-9034-1bcc4fffd5e8",
        "name": "Qualification Supabase",
        "onError": "continueRegularOutput",
        "parameters": {
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "rtocode",
                "fieldValue": "={{ $('Webhook').item.json.body.task.capturedTexts.code }}"
              },
              {
                "fieldId": "qualifcaitionCode",
                "fieldValue": "={{ $json['body.task.capturedLists.qualificationsList'].qualificationCode }}"
              },
              {
                "fieldId": "description",
                "fieldValue": "={{ $json['body.task.capturedLists.qualificationsList'].qualificationTitle }}"
              },
              {
                "fieldId": "Link",
                "fieldValue": "={{ $('Split Out').item.json['body.task.capturedLists.qualificationsList'].qualificationLink }}"
              }
            ]
          },
          "tableId": "Qualifications"
        },
        "position": [
          1320,
          280
        ],
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1
      },
      {
        "id": "d05e95e6-03cf-43e2-9379-5e4df03d7a90",
        "name": "Split Out",
        "parameters": {
          "fieldToSplitOut": "body.task.capturedLists.qualificationsList",
          "include": "allOtherFields",
          "options": {}
        },
        "position": [
          960,
          460
        ],
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1
      },
      {
        "id": "5fe09b52-44c8-4d38-8e23-4e7a8319f7db",
        "name": "Merge",
        "parameters": {
          "mode": "chooseBranch",
          "useDataOfInput": 2
        },
        "position": [
          1160,
          280
        ],
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3
      },
      {
        "id": "686812bb-1de9-4960-bc86-9f79d7d40b46",
        "name": "Webhook",
        "parameters": {
          "httpMethod": "POST",
          "options": {},
          "path": "a8f281d0-99eb-4971-a59c-ad4700ba2bce"
        },
        "position": [
          620,
          380
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "webhookId": "a8f281d0-99eb-4971-a59c-ad4700ba2bce"
      }
    ],
    "updatedAt": "2025-11-28T18:15:14.136Z",
    "versionId": "c57e506b-d8a9-4430-b79a-67c27a811250",
    "workflowId": "4MQL5umSvDprkDtp",
    "workflowPublishHistory": [
      {
        "createdAt": "2025-12-07T17:55:10.139Z",
        "event": "activated",
        "id": 130,
        "userId": "ce4bc9dd-417b-4637-a89e-1ea49435b48d",
        "versionId": "c57e506b-d8a9-4430-b79a-67c27a811250",
        "workflowId": "4MQL5umSvDprkDtp"
      }
    ]
  },
  "activeVersionId": "c57e506b-d8a9-4430-b79a-67c27a811250",
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "index": 0,
            "node": "Qualification Supabase",
            "type": "main"
          }
        ]
      ]
    },
    "RTO Supabase": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "RTO Supabase",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Split Out",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-22T21:59:01.863Z",
  "description": null,
  "id": "4MQL5umSvDprkDtp",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "RTOCatch",
  "nodes": [
    {
      "credentials": {
        "supabaseApi": {
          "id": "6ZjoNeve5UWvaUfY",
          "name": "Supabase account"
        }
      },
      "id": "07a42807-53cd-4a90-a23f-a49941f04ea7",
      "name": "RTO Supabase",
      "onError": "continueRegularOutput",
      "parameters": {
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "code",
              "fieldValue": "={{ $json.body.task.capturedTexts.code }}"
            },
            {
              "fieldId": "legalname",
              "fieldValue": "={{ $json.body.task.capturedTexts.legalName }}"
            },
            {
              "fieldId": "businessnames",
              "fieldValue": "={{ $json.body.task.capturedTexts.legalName }}"
            },
            {
              "fieldId": "abn",
              "fieldValue": "={{ $json.body.task.capturedTexts.abn.substring(0,$json.body.task.capturedTexts.abn.indexOf('arrow')) }}"
            },
            {
              "fieldId": "webaddress",
              "fieldValue": "={{ $json.body.task.capturedTexts.webAddress.substring(0,$json.body.task.capturedTexts.webAddress.indexOf('arrow')) }}"
            },
            {
              "fieldId": "registrationmanager",
              "fieldValue": "={{ $json.body.task.capturedTexts.registrationManager.substring(0,$json.body.task.capturedTexts.registrationManager.indexOf('arrow')) }}"
            },
            {
              "fieldId": "initialregistrationdate",
              "fieldValue": "={{ $json.body.task.capturedTexts.initRegDate }}"
            },
            {
              "fieldId": "startdate",
              "fieldValue": "={{ $json.body.task.capturedTexts.startDate }}"
            },
            {
              "fieldId": "enddate",
              "fieldValue": "={{ $json.body.task.capturedTexts.endDate }}"
            },
            {
              "fieldId": "legalauthority",
              "fieldValue": "={{ $json.body.task.capturedTexts.legalAuthority }}"
            },
            {
              "fieldId": "exerciser",
              "fieldValue": "={{ $json.body.task.capturedTexts.exerciser }}"
            },
            {
              "fieldId": "physicaladdress_line1",
              "fieldValue": "={{ $json.body.task.capturedTexts.physicalAddress }}"
            },
            {
              "fieldId": "postaladdress_line1",
              "fieldValue": "={{ $json.body.task.capturedTexts.postalAddress }}"
            },
            {
              "fieldId": "acn",
              "fieldValue": "={{ $json.body.task.capturedTexts.acn }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.body.task.capturedTexts.status }}"
            },
            {
              "fieldId": "rtotype",
              "fieldValue": "={{ $json.body.task.capturedTexts.rtoType }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.body.task.capturedTexts.email}}"
            },
            {
              "fieldId": "contactPhoneNumber",
              "fieldValue": "={{ $json.body.task.capturedTexts.phone}}"
            }
          ]
        },
        "tableId": "RTO"
      },
      "position": [
        960,
        260
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "6ZjoNeve5UWvaUfY",
          "name": "Supabase account"
        }
      },
      "id": "accad23f-12d8-4a33-9034-1bcc4fffd5e8",
      "name": "Qualification Supabase",
      "onError": "continueRegularOutput",
      "parameters": {
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "rtocode",
              "fieldValue": "={{ $('Webhook').item.json.body.task.capturedTexts.code }}"
            },
            {
              "fieldId": "qualifcaitionCode",
              "fieldValue": "={{ $json['body.task.capturedLists.qualificationsList'].qualificationCode }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $json['body.task.capturedLists.qualificationsList'].qualificationTitle }}"
            },
            {
              "fieldId": "Link",
              "fieldValue": "={{ $('Split Out').item.json['body.task.capturedLists.qualificationsList'].qualificationLink }}"
            }
          ]
        },
        "tableId": "Qualifications"
      },
      "position": [
        1320,
        280
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "id": "d05e95e6-03cf-43e2-9379-5e4df03d7a90",
      "name": "Split Out",
      "parameters": {
        "fieldToSplitOut": "body.task.capturedLists.qualificationsList",
        "include": "allOtherFields",
        "options": {}
      },
      "position": [
        960,
        460
      ],
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1
    },
    {
      "id": "5fe09b52-44c8-4d38-8e23-4e7a8319f7db",
      "name": "Merge",
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "position": [
        1160,
        280
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3
    },
    {
      "id": "686812bb-1de9-4960-bc86-9f79d7d40b46",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "a8f281d0-99eb-4971-a59c-ad4700ba2bce"
      },
      "position": [
        620,
        380
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "a8f281d0-99eb-4971-a59c-ad4700ba2bce"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2024-10-22T21:59:01.867Z",
      "project": {
        "createdAt": "2024-10-22T21:15:58.126Z",
        "creatorId": "ce4bc9dd-417b-4637-a89e-1ea49435b48d",
        "description": null,
        "icon": null,
        "id": "l4KvHHgKuODqlMQC",
        "name": "Kevin Dyer <kdyer1000@gmail.com>",
        "projectRelations": [
          {
            "createdAt": "2024-10-22T21:15:58.126Z",
            "projectId": "l4KvHHgKuODqlMQC",
            "updatedAt": "2024-10-22T21:15:58.126Z",
            "user": {
              "createdAt": "2024-10-22T21:15:57.570Z",
              "disabled": false,
              "email": "kdyer1000@gmail.com",
              "firstName": "Kevin",
              "id": "ce4bc9dd-417b-4637-a89e-1ea49435b48d",
              "isPending": false,
              "lastActiveAt": "2026-01-19",
              "lastName": "Dyer",
              "mfaEnabled": false,
              "personalizationAnswers": {
                "personalization_survey_n8n_version": "1.64.0",
                "personalization_survey_submitted_at": "2024-10-22T21:38:04.796Z",
                "version": "v4"
              },
              "settings": {
                "dismissedCallouts": {
                  "ragStarterCallout": true
                },
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "4MQL5umSvDprkDtp",
                "isOnboarded": true,
                "npsSurvey": {
                  "lastShownAt": 1768798709616,
                  "responded": true
                },
                "userActivated": true,
                "userActivatedAt": 1729653350737
              },
              "updatedAt": "2026-01-20T02:03:46.000Z"
            },
            "userId": "ce4bc9dd-417b-4637-a89e-1ea49435b48d"
          }
        ],
        "type": "personal",
        "updatedAt": "2024-10-22T21:37:59.985Z"
      },
      "projectId": "l4KvHHgKuODqlMQC",
      "role": "workflow:owner",
      "updatedAt": "2024-10-22T21:59:01.867Z",
      "workflowId": "4MQL5umSvDprkDtp"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-07T17:55:10.090Z",
  "versionCounter": 5,
  "versionId": "c57e506b-d8a9-4430-b79a-67c27a811250"
}
