workflows/AlXSDqHaHAp37ZWp_SmartUnstructuredUpsertPMStud.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "AWS S31": {
      "main": [
        [
          {
            "index": 0,
            "node": "UnstructuredIO Extract",
            "type": "main"
          }
        ]
      ]
    },
    "Clear and Insert Pinecone Vector Store1": {
      "main": [
        [
          {
            "index": 0,
            "node": "processFolder",
            "type": "main"
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "index": 0,
            "node": "Load Pinecone Vector Store",
            "type": "ai_document"
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "index": 0,
            "node": "Clear and Insert Pinecone Vector Store1",
            "type": "ai_document"
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "index": 0,
            "node": "Load Pinecone Vector Store",
            "type": "ai_embedding"
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "index": 0,
            "node": "Clear and Insert Pinecone Vector Store1",
            "type": "ai_embedding"
          }
        ]
      ]
    },
    "Load Pinecone Vector Store": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "index": 0,
            "node": "Supabase",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "ReplaceRenameCode",
            "type": "main"
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "index": 0,
            "node": "Clear and Insert Pinecone Vector Store1",
            "type": "main"
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "index": 0,
            "node": "Default Data Loader",
            "type": "ai_textSplitter"
          }
        ]
      ]
    },
    "Recursive Character Text Splitter2": {
      "ai_textSplitter": [
        [
          {
            "index": 0,
            "node": "Default Data Loader2",
            "type": "ai_textSplitter"
          }
        ]
      ]
    },
    "ReplaceRenameCode": {
      "main": [
        [
          {
            "index": 0,
            "node": "AWS S31",
            "type": "main"
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        []
      ]
    },
    "Supabase Select File Content": {
      "main": [
        [
          {
            "index": 0,
            "node": "Load Pinecone Vector Store",
            "type": "main"
          }
        ]
      ]
    },
    "UnstructuredIO Extract": {
      "main": [
        [
          {
            "index": 0,
            "node": "getTempFile",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "Parse JSON",
            "type": "main"
          }
        ]
      ]
    },
    "getTempFile": {
      "main": [
        [
          {
            "index": 0,
            "node": "getTempFile1",
            "type": "main"
          }
        ]
      ]
    },
    "getTempFile1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Supabase Select File Content",
            "type": "main"
          }
        ]
      ]
    },
    "processFolder": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-11T23:14:20.736Z",
  "description": null,
  "id": "AlXSDqHaHAp37ZWp",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "SmartUnstructuredUpsertPMStud",
  "nodes": [
    {
      "id": "a5e0c9f1-c33a-4899-b541-55e00f083e77",
      "name": "Parse JSON",
      "parameters": {
        "keepOnlySet": true,
        "options": {},
        "values": {
          "string": [
            {
              "name": "responseJSON",
              "value": "={{ JSON.parse($json.body.filename) }}"
            }
          ]
        }
      },
      "position": [
        660,
        460
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 1
    },
    {
      "id": "d2ef9b74-7ea7-4acc-9153-baa2163ac576",
      "name": "Code",
      "parameters": {
        "jsCode": "\nconst docs = $('Parse JSON').first().json.responseJSON;\nreturn docs.map((doc) => ({ json:{ doc } }));"
      },
      "position": [
        1660,
        460
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "239d37a0-bce3-4fc1-819c-b11fc9ed07f9",
      "name": "Loop Over Items",
      "parameters": {
        "options": {}
      },
      "position": [
        1940,
        460
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "a35fda4d-0bc6-492d-8b38-5ea985cae302",
      "name": "Default Data Loader2",
      "parameters": {
        "jsonData": "{{ }}",
        "jsonMode": "expressionData",
        "options": {}
      },
      "position": [
        980,
        660
      ],
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1
    },
    {
      "id": "b95e2e18-d4a8-4127-9776-4e55184869e2",
      "name": "Recursive Character Text Splitter2",
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "position": [
        1040,
        800
      ],
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "F3fJ2WILchdegSmA",
          "name": "OpenAi account"
        }
      },
      "id": "0cd1a8f6-3a28-4d18-a2d1-b3e504f99e45",
      "name": "Embeddings OpenAI2",
      "parameters": {
        "options": {}
      },
      "position": [
        800,
        660
      ],
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1
    },
    {
      "credentials": {
        "aws": {
          "id": "23ic4X9iVqVbjWe9",
          "name": "AWS account"
        }
      },
      "id": "d77da791-d9c2-4f23-a371-fee31425dccb",
      "name": "AWS S31",
      "parameters": {
        "additionalFields": {},
        "destinationPath": "={{ \"/smartrtobucket/\".concat($('Webhook').item.json.body.processFolder).concat($runIndex).concat(\"/\").concat( $json.doc.Key.substring($json.doc.Key.lastIndexOf('/')+1,$json.doc.Key.length))}}",
        "operation": "copy",
        "sourcePath": "={{ \"/smartrtobucket/\".concat( $json.doc.Key)}}"
      },
      "position": [
        2440,
        480
      ],
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2
    },
    {
      "id": "961ef5ff-f507-4942-9f2f-c807ae20e9ba",
      "name": "ReplaceRenameCode",
      "parameters": {
        "jsCode": "return $('Loop Over Items').item.json;\n// var item = $input.item.json.Key;\n// const lastDotIndex = item.lastIndexOf(\".\");\n// return item.substring(0, lastDotIndex + 1) + \"json\";",
        "mode": "runOnceForEachItem"
      },
      "position": [
        2220,
        480
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "3c66f465-1cd6-4545-8000-a39cc77c863d",
      "name": "getTempFile",
      "parameters": {
        "jsCode": "return $('ReplaceRenameCode').item.json.doc;\n// var item = $input.item.json.Key;\n// const lastDotIndex = item.lastIndexOf(\".\");\n// return item.substring(0, lastDotIndex + 1) + \"json\";",
        "mode": "runOnceForEachItem"
      },
      "position": [
        2860,
        480
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "961ff2d4-c9b0-4b4e-b70f-17904261ab24",
      "name": "getTempFile1",
      "parameters": {
        "jsCode": "var item = $('getTempFile').item.json.Key;\nconst lastSlashIndex = item.lastIndexOf(\"/\")+1;\nconst lastDotIndex = item.lastIndexOf(\".\")+1;\nconst jsonFileName = item.concat(\".json\");\nconst result = $('processFolder').item.json.processFolder.concat($runIndex).concat(\"/\").concat(jsonFileName.substring(lastSlashIndex));\nreturn { result: result};",
        "mode": "runOnceForEachItem"
      },
      "position": [
        3160,
        480
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "0e6bd42c-9a68-405e-a285-aed973bd9a28",
      "name": "processFolder",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b68d61fe-4fa0-47c8-9012-1f0c2d76b846",
              "name": "processFolder",
              "type": "string",
              "value": "={{ $('Webhook').item.json.body.processFolder }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1340,
        460
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "e04d349a-3258-45fc-8171-25d76ff839f6",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "b83f8745-f676-48fa-9f3d-195c62f021c7"
      },
      "position": [
        460,
        460
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "b83f8745-f676-48fa-9f3d-195c62f021c7"
    },
    {
      "credentials": {
        "pineconeApi": {
          "id": "KMFBI1mhCuX2OfaI",
          "name": "PineconeServer"
        }
      },
      "id": "3f6167e7-bd28-4122-8244-4f2a372eddd4",
      "name": "Clear and Insert Pinecone Vector Store1",
      "parameters": {
        "mode": "insert",
        "options": {
          "clearNamespace": true,
          "pineconeNamespace": "={{ $('Webhook').item.json.body.pineconeNamespace }}"
        },
        "pineconeIndex": {
          "__rl": true,
          "cachedResultName": "smartrto",
          "mode": "list",
          "value": "smartrto"
        }
      },
      "position": [
        840,
        460
      ],
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1
    },
    {
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "6ZjoNeve5UWvaUfY",
          "name": "Supabase account"
        }
      },
      "executeOnce": true,
      "id": "0f0a2daa-dbf1-403f-88c0-676778bfe01d",
      "name": "Supabase",
      "parameters": {
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "docExtracted",
              "fieldValue": "={{ true }}"
            }
          ]
        },
        "filters": {
          "conditions": [
            {
              "condition": "eq",
              "keyName": "id",
              "keyValue": "={{ $('Webhook').item.json.body.valSummaryID}}"
            }
          ]
        },
        "matchType": "allFilters",
        "operation": "update",
        "tableId": "validation_detail"
      },
      "position": [
        2280,
        240
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "id": "d59de990-0811-4c0b-a0b8-77f76de73abf",
      "name": "UnstructuredIO Extract",
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "fileName",
              "value": "={{ \"s3://smartrtobucket/\".concat($('Webhook').item.json.body.processFolder).concat($runIndex).concat(\"/\")}}"
            },
            {
              "name": "awsK",
              "value": "AKIA2NBXBDS65NJATWO3"
            },
            {
              "name": "awsS",
              "value": "oBu5IXxQUt/QX1jMOBobn/r177G7J68z3LzWt2lO"
            },
            {
              "name": "unstrK",
              "value": "xQfdQBotLsruN9fFLB9sOdcez5wNIZ"
            },
            {
              "name": "supaK",
              "value": "MmteRd0ZrsCZcUH3"
            }
          ]
        },
        "method": "POST",
        "options": {},
        "sendBody": true,
        "url": "https://fastunstructpostgres.onrender.com/access"
      },
      "position": [
        2660,
        480
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "6ZjoNeve5UWvaUfY",
          "name": "Supabase account"
        }
      },
      "id": "451c5ce9-d535-4f4e-8a90-0bf70fd0b8f8",
      "name": "Supabase Select File Content",
      "parameters": {
        "filters": {
          "conditions": [
            {
              "condition": "ilike",
              "keyName": "url",
              "keyValue": "=*{{ $('Webhook').item.json.body.pineconeNamespace.concat('*'.concat($('getTempFile').item.json.Key.substring($('getTempFile').item.json.Key.lastIndexOf('/'))))}}"
            }
          ]
        },
        "operation": "getAll",
        "returnAll": true,
        "tableId": "elements"
      },
      "position": [
        2360,
        1100
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "id": "3fd39470-c03c-49fa-b3e8-56b78bb0f618",
      "name": "Default Data Loader",
      "parameters": {
        "jsonData": "={{ $json.text }} [document_name {{ $json.filename }}] [page_number {{ $json.page_number }}]",
        "jsonMode": "expressionData",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "filename",
                "value": "={{ $json.filename }}"
              },
              {
                "name": "page_number",
                "value": "={{ $json.page_number }}"
              }
            ]
          }
        }
      },
      "position": [
        2900,
        1400
      ],
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "F3fJ2WILchdegSmA",
          "name": "OpenAi account"
        }
      },
      "id": "a3e56097-238c-4414-8973-fe89a779b350",
      "name": "Embeddings OpenAI",
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "position": [
        2660,
        1340
      ],
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1
    },
    {
      "id": "bbf1f279-8775-4a42-8de5-cf87fc48ad4f",
      "name": "Recursive Character Text Splitter",
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "position": [
        3160,
        1620
      ],
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1
    },
    {
      "credentials": {
        "pineconeApi": {
          "id": "KMFBI1mhCuX2OfaI",
          "name": "PineconeServer"
        }
      },
      "id": "ee1b00b5-3b80-4da2-b6e5-e687f3875d33",
      "name": "Load Pinecone Vector Store",
      "parameters": {
        "mode": "insert",
        "options": {
          "pineconeNamespace": "={{$('Webhook').first().json.body.pineconeNamespace}}"
        },
        "pineconeIndex": {
          "__rl": true,
          "cachedResultName": "smartrto",
          "mode": "list",
          "value": "smartrto"
        }
      },
      "position": [
        2660,
        1100
      ],
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1
    },
    {
      "id": "05e939ec-0acf-4647-8b91-1b6163f2656f",
      "name": "Sticky Note",
      "parameters": {
        "content": "## NOTE\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)\n\n-> Clear Namespace, have to insert empty vector\n\n--> Process one file at a time, copy the file over  to the processed folder under its index. This to support Unstructured on Render. Folders work locally???\n\n",
        "height": 400,
        "width": 540
      },
      "position": [
        1320,
        820
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-01-11T23:14:20.740Z",
      "project": {
        "createdAt": "2024-10-22T21:15:58.126Z",
        "creatorId": "ce4bc9dd-417b-4637-a89e-1ea49435b48d",
        "description": null,
        "icon": null,
        "id": "l4KvHHgKuODqlMQC",
        "name": "Kevin Dyer <kdyer1000@gmail.com>",
        "projectRelations": [
          {
            "createdAt": "2024-10-22T21:15:58.126Z",
            "projectId": "l4KvHHgKuODqlMQC",
            "updatedAt": "2024-10-22T21:15:58.126Z",
            "user": {
              "createdAt": "2024-10-22T21:15:57.570Z",
              "disabled": false,
              "email": "kdyer1000@gmail.com",
              "firstName": "Kevin",
              "id": "ce4bc9dd-417b-4637-a89e-1ea49435b48d",
              "isPending": false,
              "lastActiveAt": "2026-01-19",
              "lastName": "Dyer",
              "mfaEnabled": false,
              "personalizationAnswers": {
                "personalization_survey_n8n_version": "1.64.0",
                "personalization_survey_submitted_at": "2024-10-22T21:38:04.796Z",
                "version": "v4"
              },
              "settings": {
                "dismissedCallouts": {
                  "ragStarterCallout": true
                },
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "4MQL5umSvDprkDtp",
                "isOnboarded": true,
                "npsSurvey": {
                  "lastShownAt": 1768798709616,
                  "responded": true
                },
                "userActivated": true,
                "userActivatedAt": 1729653350737
              },
              "updatedAt": "2026-01-20T02:03:46.000Z"
            },
            "userId": "ce4bc9dd-417b-4637-a89e-1ea49435b48d"
          }
        ],
        "type": "personal",
        "updatedAt": "2024-10-22T21:37:59.985Z"
      },
      "projectId": "l4KvHHgKuODqlMQC",
      "role": "workflow:owner",
      "updatedAt": "2025-01-11T23:14:20.740Z",
      "workflowId": "AlXSDqHaHAp37ZWp"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-14T07:11:08.000Z",
  "versionCounter": 1,
  "versionId": "538856ec-806f-4fb6-a727-8f61a222fdac"
}
