workflows/oRoZz4mt2Z7Xzjfg_SimpleAIChat.json
{
  "active": true,
  "activeVersion": {
    "authors": "system migration",
    "autosaved": false,
    "connections": {
      "AI Agent": {
        "main": [
          []
        ]
      },
      "Code": {
        "main": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "main"
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "ai_embedding": [
          [
            {
              "index": 0,
              "node": "Pinecone Vector Store",
              "type": "ai_embedding"
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "ai_languageModel"
            }
          ]
        ]
      },
      "Pinecone Vector Store": {
        "ai_tool": [
          [
            {
              "index": 0,
              "node": "AI Agent",
              "type": "ai_tool"
            }
          ]
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "index": 0,
              "node": "Code",
              "type": "main"
            }
          ]
        ]
      }
    },
    "createdAt": "2025-11-28T18:15:14.136Z",
    "description": null,
    "name": null,
    "nodes": [
      {
        "id": "18898462-360f-4451-830e-eab8bd509634",
        "name": "AI Agent",
        "parameters": {
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=You are a helpful AI Assistant and excel at answering questions about documents and provising additional and hogh quality questions and answers based on the users questions and tasks."
          },
          "promptType": "define",
          "text": "={{ $json.questions }}"
        },
        "position": [
          -880,
          -160
        ],
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2
      },
      {
        "credentials": {
          "openAiApi": {
            "id": "F3fJ2WILchdegSmA",
            "name": "OpenAi account"
          }
        },
        "id": "b96c9e0f-bc15-4f24-a278-47af2fd807f5",
        "name": "OpenAI Chat Model1",
        "parameters": {
          "model": {
            "__rl": true,
            "cachedResultName": "gpt-4.1-mini",
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "position": [
          -1056,
          208
        ],
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2
      },
      {
        "credentials": {
          "pineconeApi": {
            "id": "yelFxS1GAveaGbaN",
            "name": "PineconeApi Starter"
          }
        },
        "id": "8bb33066-41f6-47e4-9d19-184861d72241",
        "name": "Pinecone Vector Store",
        "parameters": {
          "mode": "retrieve-as-tool",
          "options": {
            "pineconeNamespace": "={{ $json.namespace }}"
          },
          "pineconeIndex": {
            "__rl": true,
            "cachedResultName": "smartrto",
            "mode": "list",
            "value": "smartrto"
          },
          "toolDescription": "Use this function to answer user questions about Elements and Performance Criteria. It contains a RTO Documents  that relate to the Unit Of Competency that need to be validated."
        },
        "position": [
          -576,
          64
        ],
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.3
      },
      {
        "credentials": {
          "openAiApi": {
            "id": "F3fJ2WILchdegSmA",
            "name": "OpenAi account"
          }
        },
        "id": "45f80efd-5c26-4491-8cc1-4d46dc0e738d",
        "name": "Embeddings OpenAI",
        "parameters": {
          "model": "text-embedding-ada-002",
          "options": {}
        },
        "position": [
          -432,
          288
        ],
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2
      },
      {
        "id": "ad155c65-e58e-45f5-acfd-257d951fdcae",
        "name": "When chat message received",
        "parameters": {
          "options": {},
          "public": true
        },
        "position": [
          -1856,
          -160
        ],
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.3,
        "webhookId": "74eb7b6e-9aaf-4cbc-81a4-e235a6bb2458"
      },
      {
        "id": "7aa370c3-8da5-4868-90e1-530107f338fd",
        "name": "Code",
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nvar input = $input.first().json.chatInput;\nvar name = input.substring(input.indexOf('{')+1,input.lastIndexOf('}'))\nvar questions = input.substring(0,input.indexOf('{'))\nfor (const item of $input.all()) {\n  item.json.questions = questions;\n  item.json.namespace = name;\n}\n\nreturn $input.all();"
        },
        "position": [
          -1344,
          -160
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      }
    ],
    "updatedAt": "2025-11-28T18:15:14.136Z",
    "versionId": "59b8a663-25fe-446d-8917-bc9ed475818b",
    "workflowId": "oRoZz4mt2Z7Xzjfg",
    "workflowPublishHistory": [
      {
        "createdAt": "2025-10-26T08:50:30.000Z",
        "event": "activated",
        "id": 8,
        "userId": null,
        "versionId": "59b8a663-25fe-446d-8917-bc9ed475818b",
        "workflowId": "oRoZz4mt2Z7Xzjfg"
      }
    ]
  },
  "activeVersionId": "59b8a663-25fe-446d-8917-bc9ed475818b",
  "connections": {
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "main"
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "index": 0,
            "node": "Pinecone Vector Store",
            "type": "ai_embedding"
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-26T08:17:52.694Z",
  "description": null,
  "id": "oRoZz4mt2Z7Xzjfg",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "SimpleAIChat",
  "nodes": [
    {
      "id": "18898462-360f-4451-830e-eab8bd509634",
      "name": "AI Agent",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a helpful AI Assistant and excel at answering questions about documents and provising additional and hogh quality questions and answers based on the users questions and tasks."
        },
        "promptType": "define",
        "text": "={{ $json.questions }}"
      },
      "position": [
        -880,
        -160
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "F3fJ2WILchdegSmA",
          "name": "OpenAi account"
        }
      },
      "id": "b96c9e0f-bc15-4f24-a278-47af2fd807f5",
      "name": "OpenAI Chat Model1",
      "parameters": {
        "model": {
          "__rl": true,
          "cachedResultName": "gpt-4.1-mini",
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "position": [
        -1056,
        208
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "credentials": {
        "pineconeApi": {
          "id": "yelFxS1GAveaGbaN",
          "name": "PineconeApi Starter"
        }
      },
      "id": "8bb33066-41f6-47e4-9d19-184861d72241",
      "name": "Pinecone Vector Store",
      "parameters": {
        "mode": "retrieve-as-tool",
        "options": {
          "pineconeNamespace": "={{ $json.namespace }}"
        },
        "pineconeIndex": {
          "__rl": true,
          "cachedResultName": "smartrto",
          "mode": "list",
          "value": "smartrto"
        },
        "toolDescription": "Use this function to answer user questions about Elements and Performance Criteria. It contains a RTO Documents  that relate to the Unit Of Competency that need to be validated."
      },
      "position": [
        -576,
        64
      ],
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "F3fJ2WILchdegSmA",
          "name": "OpenAi account"
        }
      },
      "id": "45f80efd-5c26-4491-8cc1-4d46dc0e738d",
      "name": "Embeddings OpenAI",
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "position": [
        -432,
        288
      ],
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "ad155c65-e58e-45f5-acfd-257d951fdcae",
      "name": "When chat message received",
      "parameters": {
        "options": {},
        "public": true
      },
      "position": [
        -1856,
        -160
      ],
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "webhookId": "74eb7b6e-9aaf-4cbc-81a4-e235a6bb2458"
    },
    {
      "id": "7aa370c3-8da5-4868-90e1-530107f338fd",
      "name": "Code",
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nvar input = $input.first().json.chatInput;\nvar name = input.substring(input.indexOf('{')+1,input.lastIndexOf('}'))\nvar questions = input.substring(0,input.indexOf('{'))\nfor (const item of $input.all()) {\n  item.json.questions = questions;\n  item.json.namespace = name;\n}\n\nreturn $input.all();"
      },
      "position": [
        -1344,
        -160
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-26T08:17:52.698Z",
      "project": {
        "createdAt": "2024-10-22T21:15:58.126Z",
        "creatorId": "ce4bc9dd-417b-4637-a89e-1ea49435b48d",
        "description": null,
        "icon": null,
        "id": "l4KvHHgKuODqlMQC",
        "name": "Kevin Dyer <kdyer1000@gmail.com>",
        "projectRelations": [
          {
            "createdAt": "2024-10-22T21:15:58.126Z",
            "projectId": "l4KvHHgKuODqlMQC",
            "updatedAt": "2024-10-22T21:15:58.126Z",
            "user": {
              "createdAt": "2024-10-22T21:15:57.570Z",
              "disabled": false,
              "email": "kdyer1000@gmail.com",
              "firstName": "Kevin",
              "id": "ce4bc9dd-417b-4637-a89e-1ea49435b48d",
              "isPending": false,
              "lastActiveAt": "2026-01-19",
              "lastName": "Dyer",
              "mfaEnabled": false,
              "personalizationAnswers": {
                "personalization_survey_n8n_version": "1.64.0",
                "personalization_survey_submitted_at": "2024-10-22T21:38:04.796Z",
                "version": "v4"
              },
              "settings": {
                "dismissedCallouts": {
                  "ragStarterCallout": true
                },
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "4MQL5umSvDprkDtp",
                "isOnboarded": true,
                "npsSurvey": {
                  "lastShownAt": 1768798709616,
                  "responded": true
                },
                "userActivated": true,
                "userActivatedAt": 1729653350737
              },
              "updatedAt": "2026-01-20T02:03:46.000Z"
            },
            "userId": "ce4bc9dd-417b-4637-a89e-1ea49435b48d"
          }
        ],
        "type": "personal",
        "updatedAt": "2024-10-22T21:37:59.985Z"
      },
      "projectId": "l4KvHHgKuODqlMQC",
      "role": "workflow:owner",
      "updatedAt": "2025-10-26T08:17:52.698Z",
      "workflowId": "oRoZz4mt2Z7Xzjfg"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-26T08:50:30.000Z",
  "versionCounter": 5,
  "versionId": "59b8a663-25fe-446d-8917-bc9ed475818b"
}
