workflows/Ri46krg1Gv5ohbyr_GeminiUnstructuredPinecone.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "AWS S31": {
      "main": [
        [
          {
            "index": 0,
            "node": "UnstructuredIO Extract",
            "type": "main"
          }
        ]
      ]
    },
    "Clear and Insert Pinecone Vector Store1": {
      "main": [
        [
          {
            "index": 0,
            "node": "processFolder",
            "type": "main"
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "index": 0,
            "node": "Load Pinecone Vector Store",
            "type": "ai_document"
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "index": 0,
            "node": "Clear and Insert Pinecone Vector Store1",
            "type": "ai_document"
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "index": 0,
            "node": "Load Pinecone Vector Store",
            "type": "ai_embedding"
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "index": 0,
            "node": "Clear and Insert Pinecone Vector Store1",
            "type": "ai_embedding"
          }
        ]
      ]
    },
    "Load Pinecone Vector Store": {
      "main": [
        [
          {
            "index": 0,
            "node": "Loop Over Items",
            "type": "main"
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "index": 0,
            "node": "Supabase",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "ReplaceRenameCode",
            "type": "main"
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "index": 0,
            "node": "Clear and Insert Pinecone Vector Store1",
            "type": "main"
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "index": 0,
            "node": "Default Data Loader",
            "type": "ai_textSplitter"
          }
        ]
      ]
    },
    "Recursive Character Text Splitter2": {
      "ai_textSplitter": [
        [
          {
            "index": 0,
            "node": "Default Data Loader2",
            "type": "ai_textSplitter"
          }
        ]
      ]
    },
    "ReplaceRenameCode": {
      "main": [
        [
          {
            "index": 0,
            "node": "AWS S31",
            "type": "main"
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        []
      ]
    },
    "Supabase Select File Content": {
      "main": [
        [
          {
            "index": 0,
            "node": "Load Pinecone Vector Store",
            "type": "main"
          }
        ]
      ]
    },
    "UnstructuredIO Extract": {
      "main": [
        [
          {
            "index": 0,
            "node": "getTempFile",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Supabase1",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "Parse JSON",
            "type": "main"
          }
        ]
      ]
    },
    "getTempFile": {
      "main": [
        [
          {
            "index": 0,
            "node": "getTempFile1",
            "type": "main"
          }
        ]
      ]
    },
    "getTempFile1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Supabase Select File Content",
            "type": "main"
          }
        ]
      ]
    },
    "processFolder": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-28T23:50:48.373Z",
  "description": null,
  "id": "Ri46krg1Gv5ohbyr",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "GeminiUnstructuredPinecone",
  "nodes": [
    {
      "id": "d0835248-402b-49ab-ad8d-cec47edd0622",
      "name": "Parse JSON",
      "parameters": {
        "keepOnlySet": true,
        "options": {},
        "values": {
          "string": [
            {
              "name": "responseJSON",
              "value": "={{ JSON.parse($json.body.filename) }}"
            }
          ]
        }
      },
      "position": [
        660,
        460
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 1
    },
    {
      "id": "b7946cf1-4099-4b5b-b190-8da8ac5856ea",
      "name": "Code",
      "parameters": {
        "jsCode": "\nconst docs = $('Parse JSON').first().json.responseJSON;\nreturn docs.map((doc) => ({ json:{ doc } }));"
      },
      "position": [
        1660,
        460
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "3902efee-f3f4-4641-ba1b-484b115ce3b6",
      "name": "Loop Over Items",
      "parameters": {
        "options": {}
      },
      "position": [
        1940,
        460
      ],
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3
    },
    {
      "id": "207aaa60-5864-4565-bf99-31fc967c8cf7",
      "name": "Default Data Loader2",
      "parameters": {
        "jsonData": "{{ }}",
        "jsonMode": "expressionData",
        "options": {}
      },
      "position": [
        980,
        660
      ],
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1
    },
    {
      "id": "193d5fe3-a171-423b-a2a9-0a22a2abdbbf",
      "name": "Recursive Character Text Splitter2",
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "position": [
        1040,
        800
      ],
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "F3fJ2WILchdegSmA",
          "name": "OpenAi account"
        }
      },
      "id": "7a9e5c94-3906-48f0-958c-05efaa512df2",
      "name": "Embeddings OpenAI2",
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "position": [
        800,
        660
      ],
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1
    },
    {
      "credentials": {
        "aws": {
          "id": "23ic4X9iVqVbjWe9",
          "name": "AWS account"
        }
      },
      "id": "e2c0fe8c-a9ba-494e-9773-c9e2c3affed9",
      "name": "AWS S31",
      "parameters": {
        "additionalFields": {},
        "destinationPath": "={{ \"/smartrtobucket/\".concat($('Webhook').item.json.body.processFolder).concat($runIndex).concat(\"/\").concat( $json.doc.Key.substring($json.doc.Key.lastIndexOf('/')+1,$json.doc.Key.length))}}",
        "operation": "copy",
        "sourcePath": "={{ \"/smartrtobucket/\".concat( $json.doc.Key)}}"
      },
      "position": [
        2380,
        480
      ],
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2
    },
    {
      "id": "43a6c62f-9164-4734-bba6-5154c25f7024",
      "name": "ReplaceRenameCode",
      "parameters": {
        "jsCode": "return $('Loop Over Items').item.json;\n// var item = $input.item.json.Key;\n// const lastDotIndex = item.lastIndexOf(\".\");\n// return item.substring(0, lastDotIndex + 1) + \"json\";",
        "mode": "runOnceForEachItem"
      },
      "position": [
        2160,
        480
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "0b14c5a4-9154-48ba-809a-52efb08dfd07",
      "name": "getTempFile",
      "parameters": {
        "jsCode": "return $('ReplaceRenameCode').item.json.doc;\n// var item = $input.item.json.Key;\n// const lastDotIndex = item.lastIndexOf(\".\");\n// return item.substring(0, lastDotIndex + 1) + \"json\";",
        "mode": "runOnceForEachItem"
      },
      "position": [
        3120,
        680
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "a80617a5-5dc2-4a8d-b231-f91d5d9c3cd0",
      "name": "getTempFile1",
      "parameters": {
        "jsCode": "var item = $('getTempFile').item.json.Key;\nconst lastSlashIndex = item.lastIndexOf(\"/\")+1;\nconst lastDotIndex = item.lastIndexOf(\".\")+1;\nconst jsonFileName = item.concat(\".json\");\nconst result = $('processFolder').item.json.processFolder.concat($runIndex).concat(\"/\").concat(jsonFileName.substring(lastSlashIndex));\nreturn { result: result};",
        "mode": "runOnceForEachItem"
      },
      "position": [
        3380,
        680
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "85b05917-9336-48e4-be49-32ef902bfd0f",
      "name": "processFolder",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b68d61fe-4fa0-47c8-9012-1f0c2d76b846",
              "name": "processFolder",
              "type": "string",
              "value": "={{ $('Webhook').item.json.body.processFolder }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1340,
        460
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "id": "c0f60a20-694b-4cf4-9370-2cc33de2e620",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "5d3fddcc-f71e-4203-a983-346e84533780"
      },
      "position": [
        460,
        460
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "5d3fddcc-f71e-4203-a983-346e84533780"
    },
    {
      "credentials": {
        "pineconeApi": {
          "id": "KMFBI1mhCuX2OfaI",
          "name": "PineconeServer"
        }
      },
      "id": "d7b61ade-c678-4970-8b57-d083b793a7c2",
      "name": "Clear and Insert Pinecone Vector Store1",
      "parameters": {
        "mode": "insert",
        "options": {
          "clearNamespace": true,
          "pineconeNamespace": "={{ $('Webhook').item.json.body.pineconeNamespace }}"
        },
        "pineconeIndex": {
          "__rl": true,
          "cachedResultName": "gemini2flash",
          "mode": "list",
          "value": "gemini2flash"
        }
      },
      "position": [
        840,
        460
      ],
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1
    },
    {
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "6ZjoNeve5UWvaUfY",
          "name": "Supabase account"
        }
      },
      "executeOnce": true,
      "id": "09d38ed1-a81f-480c-9d8c-6e54b3548e2b",
      "name": "Supabase",
      "parameters": {
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "docExtracted",
              "fieldValue": "={{ true }}"
            },
            {
              "fieldId": "extractStatus",
              "fieldValue": "Success"
            }
          ]
        },
        "filters": {
          "conditions": [
            {
              "condition": "eq",
              "keyName": "id",
              "keyValue": "={{ $('Webhook').item.json.body.valSummaryID}}"
            }
          ]
        },
        "matchType": "allFilters",
        "operation": "update",
        "tableId": "validation_detail"
      },
      "position": [
        2280,
        240
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "id": "50b2a332-e2da-4690-b230-7b4fa38eb340",
      "name": "UnstructuredIO Extract",
      "onError": "continueErrorOutput",
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "fileName",
              "value": "={{ \"s3://smartrtobucket/\".concat($('Webhook').item.json.body.processFolder).concat($runIndex).concat(\"/\")}}"
            },
            {
              "name": "awsK",
              "value": "AKIA2NBXBDS65NJATWO3"
            },
            {
              "name": "awsS",
              "value": "oBu5IXxQUt/QX1jMOBobn/r177G7J68z3LzWt2lO"
            },
            {
              "name": "unstrK",
              "value": "xQfdQBotLsruN9fFLB9sOdcez5wNIZ"
            },
            {
              "name": "supaK",
              "value": "MmteRd0ZrsCZcUH3"
            }
          ]
        },
        "method": "POST",
        "options": {},
        "sendBody": true,
        "url": "https://fastunstructpostgres.onrender.com/access"
      },
      "position": [
        2700,
        420
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "6ZjoNeve5UWvaUfY",
          "name": "Supabase account"
        }
      },
      "id": "a24e13ea-f470-4782-97ec-08bd92865192",
      "name": "Supabase Select File Content",
      "parameters": {
        "filters": {
          "conditions": [
            {
              "keyName": "url",
              "keyValue": "=s3://smartrtobucket/{{ $json.result.substring(0,$json.result.lastIndexOf('.')) }}"
            }
          ]
        },
        "operation": "get",
        "tableId": "elements"
      },
      "position": [
        2400,
        920
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "id": "26072091-b8af-47a7-ad93-70600d747815",
      "name": "Default Data Loader",
      "parameters": {
        "jsonData": "={{ $json.text }} [document_name {{ $json.filename }}] [page_number {{ $json.page_number }}]",
        "jsonMode": "expressionData",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "filename",
                "value": "={{ $json.filename }}"
              },
              {
                "name": "page_number",
                "value": "={{ $json.page_number }}"
              }
            ]
          }
        }
      },
      "position": [
        2900,
        1340
      ],
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "F3fJ2WILchdegSmA",
          "name": "OpenAi account"
        }
      },
      "id": "91a2f1da-0b50-4d6b-9413-0ccdfd85871d",
      "name": "Embeddings OpenAI",
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "position": [
        2660,
        1340
      ],
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1
    },
    {
      "id": "d2a6c679-99f8-494c-98eb-b55015322c76",
      "name": "Recursive Character Text Splitter",
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "position": [
        2920,
        1540
      ],
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1
    },
    {
      "credentials": {
        "pineconeApi": {
          "id": "KMFBI1mhCuX2OfaI",
          "name": "PineconeServer"
        }
      },
      "id": "a024d9de-eddf-42fc-a355-c1aac22a3251",
      "name": "Load Pinecone Vector Store",
      "parameters": {
        "mode": "insert",
        "options": {
          "pineconeNamespace": "={{$('Webhook').first().json.body.pineconeNamespace}}"
        },
        "pineconeIndex": {
          "__rl": true,
          "cachedResultName": "gemini2flash",
          "mode": "list",
          "value": "gemini2flash"
        }
      },
      "position": [
        2660,
        1100
      ],
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1
    },
    {
      "id": "9c42bd65-d984-47b2-8246-fee807d6d43e",
      "name": "Sticky Note",
      "parameters": {
        "content": "## NOTE\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)\n\n-> Clear Namespace, have to insert empty vector\n\n--> Process one file at a time, copy the file over  to the processed folder under its index. This to support Unstructured on Render. Folders work locally???\n\n",
        "height": 400,
        "width": 540
      },
      "position": [
        1320,
        820
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "6ZjoNeve5UWvaUfY",
          "name": "Supabase account"
        }
      },
      "executeOnce": true,
      "id": "0dd7ef37-77fc-42fd-9adb-421a208a0742",
      "name": "Supabase1",
      "parameters": {
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "docExtracted",
              "fieldValue": "={{ false }}"
            },
            {
              "fieldId": "extractStatus",
              "fieldValue": "Error"
            }
          ]
        },
        "filters": {
          "conditions": [
            {
              "condition": "eq",
              "keyName": "id",
              "keyValue": "={{ $('Webhook').item.json.body.valSummaryID}}"
            }
          ]
        },
        "matchType": "allFilters",
        "operation": "update",
        "tableId": "validation_detail"
      },
      "position": [
        2780,
        640
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "body": {
            "filename": "[{\"ETag\":\"\\\"6a01f84096ac4e3829db8407edff3195\\\"\",\"Key\":\"7148/TLI31222/TLIC0028/UnitOfCompetency/2025-02-24 17:07/TLIC0028 - Marking Guide - V1.0 - Saltera - Bus (no mapping guide).pdf\",\"LastModified\":\"2025-02-24T17:30:52.000Z\",\"Size\":1635669,\"StorageClass\":\"STANDARD\"}]",
            "pineconeNamespace": "7148/TLI31222/TLIC0028/UnitOfCompetency/2025-02-24 17:07/",
            "processFolder": "processing/7148/TLI31222/TLIC0028/UnitOfCompetency/2025-02-24 17:07/1740418270790/",
            "valSummaryID": "239"
          },
          "executionMode": "production",
          "headers": {
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.209.17.50",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "91713010d4f5efde-SIN",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "onrender.com",
            "content-length": "912",
            "content-type": "multipart/form-data; boundary=--------------------------563720857789150430048944",
            "host": "n8n-gtoa.onrender.com",
            "render-proxy-ttl": "4",
            "rndr-id": "693513be-7ffc-448f",
            "true-client-ip": "34.209.17.50",
            "user-agent": "superblocks restapi",
            "x-forwarded-for": "34.209.17.50, 162.158.162.100",
            "x-forwarded-proto": "https",
            "x-request-start": "1740418270966121"
          },
          "params": {},
          "query": {},
          "webhookUrl": "https://n8n-gtoa.onrender.com/webhook/93355193-0a0d-4805-a413-c23dd83c6b95"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-03-28T23:50:48.376Z",
      "project": {
        "createdAt": "2024-10-22T21:15:58.126Z",
        "creatorId": "ce4bc9dd-417b-4637-a89e-1ea49435b48d",
        "description": null,
        "icon": null,
        "id": "l4KvHHgKuODqlMQC",
        "name": "Kevin Dyer <kdyer1000@gmail.com>",
        "projectRelations": [
          {
            "createdAt": "2024-10-22T21:15:58.126Z",
            "projectId": "l4KvHHgKuODqlMQC",
            "updatedAt": "2024-10-22T21:15:58.126Z",
            "user": {
              "createdAt": "2024-10-22T21:15:57.570Z",
              "disabled": false,
              "email": "kdyer1000@gmail.com",
              "firstName": "Kevin",
              "id": "ce4bc9dd-417b-4637-a89e-1ea49435b48d",
              "isPending": false,
              "lastActiveAt": "2026-01-19",
              "lastName": "Dyer",
              "mfaEnabled": false,
              "personalizationAnswers": {
                "personalization_survey_n8n_version": "1.64.0",
                "personalization_survey_submitted_at": "2024-10-22T21:38:04.796Z",
                "version": "v4"
              },
              "settings": {
                "dismissedCallouts": {
                  "ragStarterCallout": true
                },
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "4MQL5umSvDprkDtp",
                "isOnboarded": true,
                "npsSurvey": {
                  "lastShownAt": 1768798709616,
                  "responded": true
                },
                "userActivated": true,
                "userActivatedAt": 1729653350737
              },
              "updatedAt": "2026-01-20T02:03:46.000Z"
            },
            "userId": "ce4bc9dd-417b-4637-a89e-1ea49435b48d"
          }
        ],
        "type": "personal",
        "updatedAt": "2024-10-22T21:37:59.985Z"
      },
      "projectId": "l4KvHHgKuODqlMQC",
      "role": "workflow:owner",
      "updatedAt": "2025-03-28T23:50:48.376Z",
      "workflowId": "Ri46krg1Gv5ohbyr"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-14T07:10:34.000Z",
  "versionCounter": 1,
  "versionId": "ca47586e-532c-4f69-9632-ecfc3f755b4f"
}
