workflows/scslSyK1AAOrmBna_UOCScrape.json
{
  "active": true,
  "activeVersion": {
    "authors": "system migration",
    "autosaved": false,
    "connections": {
      "Extract Title": {
        "main": [
          [
            {
              "index": 0,
              "node": "UOC Sections Supabase",
              "type": "main"
            }
          ]
        ]
      },
      "Information Extractor": {
        "main": [
          [
            {
              "index": 0,
              "node": "Extract Title",
              "type": "main"
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "index": 0,
              "node": "Information Extractor",
              "type": "ai_languageModel"
            }
          ]
        ]
      },
      "OpenAICHath": {
        "ai_languageModel": [
          [
            {
              "index": 0,
              "node": "Extract Title",
              "type": "ai_languageModel"
            }
          ]
        ]
      },
      "Scrape a url and get its content": {
        "main": [
          [
            {
              "index": 0,
              "node": "Information Extractor",
              "type": "main"
            }
          ]
        ]
      },
      "UOC Sections Supabase": {
        "main": [
          []
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "index": 0,
              "node": "Scrape a url and get its content",
              "type": "main"
            }
          ]
        ]
      }
    },
    "createdAt": "2025-11-28T18:15:14.136Z",
    "description": null,
    "name": null,
    "nodes": [
      {
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "6ZjoNeve5UWvaUfY",
            "name": "Supabase account"
          }
        },
        "executeOnce": true,
        "id": "d6c5dde2-68cb-451f-93ec-097ccaddef22",
        "name": "UOC Sections Supabase",
        "parameters": {
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "epc",
                "fieldValue": "={{ $('Information Extractor').item.json.output.capturedTexts.ElementsAndPerformanceCriteria }}"
              },
              {
                "fieldId": "fs",
                "fieldValue": "={{ $('Information Extractor').item.json.output.capturedTexts.FoundationSkills }}"
              },
              {
                "fieldId": "pe",
                "fieldValue": "={{ $('Information Extractor').item.json.output.capturedTexts.PerformanceEvidence }}"
              },
              {
                "fieldId": "ke",
                "fieldValue": "={{ $('Information Extractor').item.json.output.capturedTexts.KnowledgeEvidence }}"
              },
              {
                "fieldId": "ac",
                "fieldValue": "={{ $('Information Extractor').item.json.output.capturedTexts.AssessmentConditions }}"
              },
              {
                "fieldId": "applciation",
                "fieldValue": "={{ $('Information Extractor').item.json.output.capturedTexts.Application }}"
              },
              {
                "fieldId": "UOCpage",
                "fieldValue": "={{ $('Scrape a url and get its content').item.json.data.markdown }}"
              },
              {
                "fieldId": "Link",
                "fieldValue": "={{ $('Webhook').item.json.body.originUrl }}"
              },
              {
                "fieldId": "unitCode",
                "fieldValue": "={{ $('Webhook').item.json.body.originUrl.substring(41,$('Webhook').item.json.body.originUrl.lastIndexOf('/'))}}"
              },
              {
                "fieldId": "Type",
                "fieldValue": "auto"
              },
              {
                "fieldId": "Status",
                "fieldValue": "auto"
              },
              {
                "fieldId": "qualificationLink",
                "fieldValue": "single"
              },
              {
                "fieldId": "Title",
                "fieldValue": "={{ $json.output.Title }}"
              }
            ]
          },
          "tableId": "UnitOfCompetency"
        },
        "position": [
          1440,
          200
        ],
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1
      },
      {
        "id": "e32f12fa-08dc-4c2f-92db-9186b5f782ed",
        "name": "Information Extractor",
        "parameters": {
          "jsonSchemaExample": "{\n\n\"capturedTexts\": \n{\n\"UOCpage\": \n\"Unit of competency\\n|\\nShow history\\nno\\nCHCDIV001 Work with diverse people\\nUsage recommendation\\nCurrent\\n06/Aug/2015\\ninfo\\ninfo\\nRelease\\n1\\nexpand_more\\nCurrent\\n06/Aug/2015\\ndownload\\nDownload\\nUnit details\\nexpand_more\\nUnit of competency\\nModification history\\nRelease Comments\\n\\n\\nRelease 1\\n\\n \\n\\nThis version was released in CHC Community Services Training Package release 2.0 and meets the requirements of the 2012 Standards for Training Packages.\\n\\nMerged HLTHIR403C/CHCCS405C. Significant changes to the elements and performance criteria. New evidence requirements for assessment, including volume and frequency.\\n\\nApplication\\n\\nThis unit describes the skills and knowledge required to work respectfully with people from diverse social and cultural groups and situations, including Aboriginal and/or Torres Strait Islander people.\\n\\nThis unit applies to all workers.\\n\\nThe skills in this unit must be applied in accordance with Commonwealth and State/Territory legislation, Australian/New Zealand standards and industry codes of practice.\\n\\nElements and performance criteria\\nElement Performance criteria\\n\\n\\nElements define the essential outcomes\\n\\n \\n\\nPerformance criteria describe the performance needed to demonstrate achievement of the element\\n\\n\\n \\n\\n\\n1. Reflect on own perspectives\\n\\n \\n\\n1.1 Identify and reflect on own social and cultural perspectives and biases\\n\\n1.2 Work with awareness of own limitations in self and social awareness\\n\\n1.3 Use reflection to support own ability to work inclusively and with understanding of others\\n\\n1.4 Identify and act on ways to improve own self and social awareness\\n\\n\\n \\n\\n\\n2. Appreciate diversity and inclusiveness, and their benefits\\n\\n \\n\\n2.1 Value and respect diversity and inclusiveness across all areas of work\\n\\n2.2 Contribute to the development of work place and professional relationships based on appreciation of diversity and inclusiveness\\n\\n2.3 Use work practices that make environments safe for all\\n\\n\\n \\n\\n\\n3. Communicate with people from diverse backgrounds and situations\\n\\n \\n\\n3.1 Show respect for diversity in communication with all people\\n\\n3.2 Use verbal and non-verbal communication constructively to establish, develop and maintain effective relationships, mutual trust and confidence\\n\\n3.3 Where a language barrier exists, use effective strategies to communicate in the most efficient way possible\\n\\n3.4 Seek assistance from interpreters or other persons according to communication needs\\n\\n\\n \\n\\n\\n4. Promote understanding across diverse groups\\n\\n \\n\\n4.1 Identify issues that may cause communication misunderstandings or other difficulties\\n\\n4.2 Where difficulties or misunderstandings occur, consider the impact of social and cultural diversity\\n\\n4.3 Make an effort to sensitively resolve differences, taking account of diversity considerations\\n\\n4.4 Address any difficulties with appropriate people and seek assistance when required\\n\\nFoundation skills\\n\\nThe Foundation Skills describe those required skills (language, literacy, numeracy and employment skills) that are essential to performance.\\n\\n\\n\\n\\nFoundation skills essential to performance are explicit in the performance criteria of this unit of competency.\\n\\nUnit mapping information\\n\\nNo equivalent unit.\\n\\nAssessment requirements\\nModification history\\nRelease Comments\\n\\n\\nRelease 1\\n\\n \\n\\nThis version was released in CHC Community Services Training Package release 2.0 and meets the requirements of the 2012 Standards for Training Packages.\\n\\nMerged HLTHIR403C/CHCCS405C. Significant changes to the elements and performance criteria. New evidence requirements for assessment, including volume and frequency.\\n\\nPerformance evidence\\n\\nThe candidate must show evidence of the ability to complete tasks outlined in elements and performance criteria of this unit, manage tasks and manage contingencies in the context of the job role. There must be evidence that the candidate has:\\n\\nundertaken a structured process to reflect on own perspectives on diversity\\nrecognised and respected the needs of people from diverse social and cultural backgrounds in at least 3 different situations:\\nselected and used appropriate verbal and non verbal communication\\nrecognised situations where misunderstandings may arise from diversity and formed appropriate responses\\nKnowledge evidence\\n\\nThe candidate must be able to demonstrate essential knowledge required to effectively complete tasks outlined in elements and performance criteria of this unit, manage tasks and manage contingencies in the context of the work role. This includes knowledge of:\\n\\nconcepts of cultural awareness, cultural safety and cultural competence and how these impact different work roles\\nconcepts and definitions of diversity\\nown culture and the community attitudes, language, policies and structures of that culture and how they impact on different people and groups\\nfeatures of diversity in Australia and how this impacts different areas of work and life:\\npolitical\\nsocial\\neconomic\\ncultural\\nlegal and ethical considerations (international, national, state/territory, local) for working with diversity, how these impact individual workers, and the consequences of breaches:\\ndiscrimination:\\nage\\ndisability\\nracial\\nsex\\nhuman rights:\\nUniversal declaration of human rights\\nrelationship between human needs and human rights\\nframeworks, approaches and instruments used in the workplace\\nrights and responsibilities of workers, employers and clients, including appropriate action when rights are being infringed or responsibilities not being carried out\\nkey areas of diversity and their characteristics, including:\\nculture, race, ethnicity\\ndisability\\nreligious or spiritual beliefs\\ngender, including transgender\\nintersex\\ngenerational\\nsexual orientation/sexual identity - lesbian, gay, bisexual, heterosexual\\nkey aspects, and the diversity, of Australia’s Aboriginal and/or Torres Strait Islander cultures, including:\\nsocial, political and economic issues affecting Aboriginal and/or Torres Strait Islander people\\nown culture, western systems and structures and how these impact on Aboriginal and/or Torres Strait Islander people and their engagement with services\\npotential needs of marginalised groups, including:\\nprotective factors\\nphysical, mental and emotional health issues/care needs\\nconsideration of impacts of discrimination, trauma, exclusion and negative attitudes\\nresources that support individuals and organisations to embrace and respond to diversity\\nlanguage and cultural interpreters\\nimagery\\ninfluences and changing practices in Australia and their impact on the diverse communities that make up Australian society\\nimpact of diversity practices and experiences on personal behaviour, interpersonal relationships, perception and social expectations of others\\nAssessment conditions\\n\\nSkills must have been demonstrated in the workplace or in a simulated environment that reflects workplace conditions. Where simulation is used, it must reflect real working conditions by modelling industry operating conditions and contingencies, as well as, using suitable facilities, equipment and resources.\\n\\nAssessors must satisfy the Standards for Registered Training Organisations (RTOs) 2015/AQTF mandatory competency requirements for assessors.\",\n\"Application\": \n\"Application\\n\\nThis unit describes the skills and knowledge required to work respectfully with people from diverse social and cultural groups and situations, including Aboriginal and/or Torres Strait Islander people.\\n\\nThis unit applies to all workers.\\n\\nThe skills in this unit must be applied in accordance with Commonwealth and State/Territory legislation, Australian/New Zealand standards and industry codes of practice.\",\n\"ElementsAndPerformanceCriteria\": \n\"Elements and performance criteria\\nElement Performance criteria\\n\\n\\nElements define the essential outcomes\\n\\n \\n\\nPerformance criteria describe the performance needed to demonstrate achievement of the element\\n\\n\\n \\n\\n\\n1. Reflect on own perspectives\\n\\n \\n\\n1.1 Identify and reflect on own social and cultural perspectives and biases\\n\\n1.2 Work with awareness of own limitations in self and social awareness\\n\\n1.3 Use reflection to support own ability to work inclusively and with understanding of others\\n\\n1.4 Identify and act on ways to improve own self and social awareness\\n\\n\\n \\n\\n\\n2. Appreciate diversity and inclusiveness, and their benefits\\n\\n \\n\\n2.1 Value and respect diversity and inclusiveness across all areas of work\\n\\n2.2 Contribute to the development of work place and professional relationships based on appreciation of diversity and inclusiveness\\n\\n2.3 Use work practices that make environments safe for all\\n\\n\\n \\n\\n\\n3. Communicate with people from diverse backgrounds and situations\\n\\n \\n\\n3.1 Show respect for diversity in communication with all people\\n\\n3.2 Use verbal and non-verbal communication constructively to establish, develop and maintain effective relationships, mutual trust and confidence\\n\\n3.3 Where a language barrier exists, use effective strategies to communicate in the most efficient way possible\\n\\n3.4 Seek assistance from interpreters or other persons according to communication needs\\n\\n\\n \\n\\n\\n4. Promote understanding across diverse groups\\n\\n \\n\\n4.1 Identify issues that may cause communication misunderstandings or other difficulties\\n\\n4.2 Where difficulties or misunderstandings occur, consider the impact of social and cultural diversity\\n\\n4.3 Make an effort to sensitively resolve differences, taking account of diversity considerations\\n\\n4.4 Address any difficulties with appropriate people and seek assistance when required\",\n\"FoundationSkills\": \n\"Foundation skills\\n\\nThe Foundation Skills describe those required skills (language, literacy, numeracy and employment skills) that are essential to performance.\\n\\n\\n\\n\\nFoundation skills essential to performance are explicit in the performance criteria of this unit of competency.\",\n\"PerformanceEvidence\": \n\"Performance evidence\\n\\nThe candidate must show evidence of the ability to complete tasks outlined in elements and performance criteria of this unit, manage tasks and manage contingencies in the context of the job role. There must be evidence that the candidate has:\\n\\nundertaken a structured process to reflect on own perspectives on diversity\\nrecognised and respected the needs of people from diverse social and cultural backgrounds in at least 3 different situations:\\nselected and used appropriate verbal and non verbal communication\\nrecognised situations where misunderstandings may arise from diversity and formed appropriate responses\",\n\"KnowledgeEvidence\": \n\"Knowledge evidence\\n\\nThe candidate must be able to demonstrate essential knowledge required to effectively complete tasks outlined in elements and performance criteria of this unit, manage tasks and manage contingencies in the context of the work role. This includes knowledge of:\\n\\nconcepts of cultural awareness, cultural safety and cultural competence and how these impact different work roles\\nconcepts and definitions of diversity\\nown culture and the community attitudes, language, policies and structures of that culture and how they impact on different people and groups\\nfeatures of diversity in Australia and how this impacts different areas of work and life:\\npolitical\\nsocial\\neconomic\\ncultural\\nlegal and ethical considerations (international, national, state/territory, local) for working with diversity, how these impact individual workers, and the consequences of breaches:\\ndiscrimination:\\nage\\ndisability\\nracial\\nsex\\nhuman rights:\\nUniversal declaration of human rights\\nrelationship between human needs and human rights\\nframeworks, approaches and instruments used in the workplace\\nrights and responsibilities of workers, employers and clients, including appropriate action when rights are being infringed or responsibilities not being carried out\\nkey areas of diversity and their characteristics, including:\\nculture, race, ethnicity\\ndisability\\nreligious or spiritual beliefs\\ngender, including transgender\\nintersex\\ngenerational\\nsexual orientation/sexual identity - lesbian, gay, bisexual, heterosexual\\nkey aspects, and the diversity, of Australia’s Aboriginal and/or Torres Strait Islander cultures, including:\\nsocial, political and economic issues affecting Aboriginal and/or Torres Strait Islander people\\nown culture, western systems and structures and how these impact on Aboriginal and/or Torres Strait Islander people and their engagement with services\\npotential needs of marginalised groups, including:\\nprotective factors\\nphysical, mental and emotional health issues/care needs\\nconsideration of impacts of discrimination, trauma, exclusion and negative attitudes\\nresources that support individuals and organisations to embrace and respond to diversity\\nlanguage and cultural interpreters\\nimagery\\ninfluences and changing practices in Australia and their impact on the diverse communities that make up Australian society\\nimpact of diversity practices and experiences on personal behaviour, interpersonal relationships, perception and social expectations of others\",\n\"AssessmentConditions\": \n\"Assessment conditions\\n\\nSkills must have been demonstrated in the workplace or in a simulated environment that reflects workplace conditions. Where simulation is used, it must reflect real working conditions by modelling industry operating conditions and contingencies, as well as, using suitable facilities, equipment and resources.\\n\\nAssessors must satisfy the Standards for Registered Training Organisations (RTOs) 2015/AQTF mandatory competency requirements for assessors.\"\n}\n}",
          "options": {
            "systemPromptTemplate": "You are a highly specialized extraction algorithm.\n\nExtract only the explicitly relevant information from the provided text.\nDo not summarize, paraphrase, or correct any content.\nExtract the requested sections verbatim, preserving their original wording.\nIf an attribute's value is not found in the text, return an empty string for that attribute."
          },
          "schemaType": "fromJson",
          "text": "={{ $json.data.markdown.toJsonString() }}"
        },
        "position": [
          460,
          200
        ],
        "type": "@n8n/n8n-nodes-langchain.informationExtractor",
        "typeVersion": 1
      },
      {
        "credentials": {
          "openAiApi": {
            "id": "F3fJ2WILchdegSmA",
            "name": "OpenAi account"
          }
        },
        "id": "2d707ad4-65af-4e6d-9498-1ef0f4acce63",
        "name": "OpenAI Chat Model",
        "parameters": {
          "model": "gpt-4.1",
          "options": {}
        },
        "position": [
          420,
          400
        ],
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1
      },
      {
        "credentials": {
          "openAiApi": {
            "id": "F3fJ2WILchdegSmA",
            "name": "OpenAi account"
          }
        },
        "id": "0f7e9875-7e1f-4850-8385-f8b117803a9e",
        "name": "OpenAICHath",
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "position": [
          940,
          400
        ],
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2
      },
      {
        "id": "22c28b2b-dfdd-433a-9661-976665b78a0d",
        "name": "Extract Title",
        "parameters": {
          "attributes": {
            "attributes": [
              {
                "description": "uoc title",
                "name": "Title"
              }
            ]
          },
          "options": {
            "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\n\nExtract the title found after the Show history text and before Usage Recommendation\n\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
          },
          "text": "={{ $json.output.capturedTexts.UOCpage }}"
        },
        "position": [
          940,
          200
        ],
        "type": "@n8n/n8n-nodes-langchain.informationExtractor",
        "typeVersion": 1.2
      },
      {
        "id": "69a4a6db-b6d3-40ed-b490-4ee08ad751cc",
        "name": "Webhook",
        "parameters": {
          "httpMethod": "POST",
          "options": {},
          "path": "84ff47f3-435b-4e4f-a05d-1a23f34d7c86",
          "responseData": "noData",
          "responseMode": "lastNode"
        },
        "position": [
          -120,
          200
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "webhookId": "84ff47f3-435b-4e4f-a05d-1a23f34d7c86"
      },
      {
        "credentials": {
          "firecrawlApi": {
            "id": "AaRv7xx3VFiC2d9K",
            "name": "Firecrawl account"
          }
        },
        "id": "3b26e62b-2fc3-4051-a5fa-a2325130763b",
        "name": "Scrape a url and get its content",
        "parameters": {
          "operation": "scrape",
          "requestOptions": {},
          "scrapeOptions": {
            "options": {
              "headers": {}
            }
          },
          "url": "={{ $json.body.originUrl }}"
        },
        "position": [
          200,
          200
        ],
        "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
        "typeVersion": 1
      }
    ],
    "updatedAt": "2025-11-28T18:15:14.136Z",
    "versionId": "4c756abf-2209-4a13-a341-e59d44b99689",
    "workflowId": "scslSyK1AAOrmBna",
    "workflowPublishHistory": [
      {
        "createdAt": "2025-10-14T07:15:13.000Z",
        "event": "activated",
        "id": 6,
        "userId": null,
        "versionId": "4c756abf-2209-4a13-a341-e59d44b99689",
        "workflowId": "scslSyK1AAOrmBna"
      }
    ]
  },
  "activeVersionId": "4c756abf-2209-4a13-a341-e59d44b99689",
  "connections": {
    "Extract Title": {
      "main": [
        [
          {
            "index": 0,
            "node": "UOC Sections Supabase",
            "type": "main"
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "index": 0,
            "node": "Extract Title",
            "type": "main"
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Information Extractor",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "OpenAICHath": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Extract Title",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Scrape a url and get its content": {
      "main": [
        [
          {
            "index": 0,
            "node": "Information Extractor",
            "type": "main"
          }
        ]
      ]
    },
    "UOC Sections Supabase": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "Scrape a url and get its content",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-20T06:33:36.465Z",
  "description": null,
  "id": "scslSyK1AAOrmBna",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "UOCScrape",
  "nodes": [
    {
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "6ZjoNeve5UWvaUfY",
          "name": "Supabase account"
        }
      },
      "executeOnce": true,
      "id": "d6c5dde2-68cb-451f-93ec-097ccaddef22",
      "name": "UOC Sections Supabase",
      "parameters": {
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "epc",
              "fieldValue": "={{ $('Information Extractor').item.json.output.capturedTexts.ElementsAndPerformanceCriteria }}"
            },
            {
              "fieldId": "fs",
              "fieldValue": "={{ $('Information Extractor').item.json.output.capturedTexts.FoundationSkills }}"
            },
            {
              "fieldId": "pe",
              "fieldValue": "={{ $('Information Extractor').item.json.output.capturedTexts.PerformanceEvidence }}"
            },
            {
              "fieldId": "ke",
              "fieldValue": "={{ $('Information Extractor').item.json.output.capturedTexts.KnowledgeEvidence }}"
            },
            {
              "fieldId": "ac",
              "fieldValue": "={{ $('Information Extractor').item.json.output.capturedTexts.AssessmentConditions }}"
            },
            {
              "fieldId": "applciation",
              "fieldValue": "={{ $('Information Extractor').item.json.output.capturedTexts.Application }}"
            },
            {
              "fieldId": "UOCpage",
              "fieldValue": "={{ $('Scrape a url and get its content').item.json.data.markdown }}"
            },
            {
              "fieldId": "Link",
              "fieldValue": "={{ $('Webhook').item.json.body.originUrl }}"
            },
            {
              "fieldId": "unitCode",
              "fieldValue": "={{ $('Webhook').item.json.body.originUrl.substring(41,$('Webhook').item.json.body.originUrl.lastIndexOf('/'))}}"
            },
            {
              "fieldId": "Type",
              "fieldValue": "auto"
            },
            {
              "fieldId": "Status",
              "fieldValue": "auto"
            },
            {
              "fieldId": "qualificationLink",
              "fieldValue": "single"
            },
            {
              "fieldId": "Title",
              "fieldValue": "={{ $json.output.Title }}"
            }
          ]
        },
        "tableId": "UnitOfCompetency"
      },
      "position": [
        1440,
        200
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "id": "e32f12fa-08dc-4c2f-92db-9186b5f782ed",
      "name": "Information Extractor",
      "parameters": {
        "jsonSchemaExample": "{\n\n\"capturedTexts\": \n{\n\"UOCpage\": \n\"Unit of competency\\n|\\nShow history\\nno\\nCHCDIV001 Work with diverse people\\nUsage recommendation\\nCurrent\\n06/Aug/2015\\ninfo\\ninfo\\nRelease\\n1\\nexpand_more\\nCurrent\\n06/Aug/2015\\ndownload\\nDownload\\nUnit details\\nexpand_more\\nUnit of competency\\nModification history\\nRelease Comments\\n\\n\\nRelease 1\\n\\n \\n\\nThis version was released in CHC Community Services Training Package release 2.0 and meets the requirements of the 2012 Standards for Training Packages.\\n\\nMerged HLTHIR403C/CHCCS405C. Significant changes to the elements and performance criteria. New evidence requirements for assessment, including volume and frequency.\\n\\nApplication\\n\\nThis unit describes the skills and knowledge required to work respectfully with people from diverse social and cultural groups and situations, including Aboriginal and/or Torres Strait Islander people.\\n\\nThis unit applies to all workers.\\n\\nThe skills in this unit must be applied in accordance with Commonwealth and State/Territory legislation, Australian/New Zealand standards and industry codes of practice.\\n\\nElements and performance criteria\\nElement Performance criteria\\n\\n\\nElements define the essential outcomes\\n\\n \\n\\nPerformance criteria describe the performance needed to demonstrate achievement of the element\\n\\n\\n \\n\\n\\n1. Reflect on own perspectives\\n\\n \\n\\n1.1 Identify and reflect on own social and cultural perspectives and biases\\n\\n1.2 Work with awareness of own limitations in self and social awareness\\n\\n1.3 Use reflection to support own ability to work inclusively and with understanding of others\\n\\n1.4 Identify and act on ways to improve own self and social awareness\\n\\n\\n \\n\\n\\n2. Appreciate diversity and inclusiveness, and their benefits\\n\\n \\n\\n2.1 Value and respect diversity and inclusiveness across all areas of work\\n\\n2.2 Contribute to the development of work place and professional relationships based on appreciation of diversity and inclusiveness\\n\\n2.3 Use work practices that make environments safe for all\\n\\n\\n \\n\\n\\n3. Communicate with people from diverse backgrounds and situations\\n\\n \\n\\n3.1 Show respect for diversity in communication with all people\\n\\n3.2 Use verbal and non-verbal communication constructively to establish, develop and maintain effective relationships, mutual trust and confidence\\n\\n3.3 Where a language barrier exists, use effective strategies to communicate in the most efficient way possible\\n\\n3.4 Seek assistance from interpreters or other persons according to communication needs\\n\\n\\n \\n\\n\\n4. Promote understanding across diverse groups\\n\\n \\n\\n4.1 Identify issues that may cause communication misunderstandings or other difficulties\\n\\n4.2 Where difficulties or misunderstandings occur, consider the impact of social and cultural diversity\\n\\n4.3 Make an effort to sensitively resolve differences, taking account of diversity considerations\\n\\n4.4 Address any difficulties with appropriate people and seek assistance when required\\n\\nFoundation skills\\n\\nThe Foundation Skills describe those required skills (language, literacy, numeracy and employment skills) that are essential to performance.\\n\\n\\n\\n\\nFoundation skills essential to performance are explicit in the performance criteria of this unit of competency.\\n\\nUnit mapping information\\n\\nNo equivalent unit.\\n\\nAssessment requirements\\nModification history\\nRelease Comments\\n\\n\\nRelease 1\\n\\n \\n\\nThis version was released in CHC Community Services Training Package release 2.0 and meets the requirements of the 2012 Standards for Training Packages.\\n\\nMerged HLTHIR403C/CHCCS405C. Significant changes to the elements and performance criteria. New evidence requirements for assessment, including volume and frequency.\\n\\nPerformance evidence\\n\\nThe candidate must show evidence of the ability to complete tasks outlined in elements and performance criteria of this unit, manage tasks and manage contingencies in the context of the job role. There must be evidence that the candidate has:\\n\\nundertaken a structured process to reflect on own perspectives on diversity\\nrecognised and respected the needs of people from diverse social and cultural backgrounds in at least 3 different situations:\\nselected and used appropriate verbal and non verbal communication\\nrecognised situations where misunderstandings may arise from diversity and formed appropriate responses\\nKnowledge evidence\\n\\nThe candidate must be able to demonstrate essential knowledge required to effectively complete tasks outlined in elements and performance criteria of this unit, manage tasks and manage contingencies in the context of the work role. This includes knowledge of:\\n\\nconcepts of cultural awareness, cultural safety and cultural competence and how these impact different work roles\\nconcepts and definitions of diversity\\nown culture and the community attitudes, language, policies and structures of that culture and how they impact on different people and groups\\nfeatures of diversity in Australia and how this impacts different areas of work and life:\\npolitical\\nsocial\\neconomic\\ncultural\\nlegal and ethical considerations (international, national, state/territory, local) for working with diversity, how these impact individual workers, and the consequences of breaches:\\ndiscrimination:\\nage\\ndisability\\nracial\\nsex\\nhuman rights:\\nUniversal declaration of human rights\\nrelationship between human needs and human rights\\nframeworks, approaches and instruments used in the workplace\\nrights and responsibilities of workers, employers and clients, including appropriate action when rights are being infringed or responsibilities not being carried out\\nkey areas of diversity and their characteristics, including:\\nculture, race, ethnicity\\ndisability\\nreligious or spiritual beliefs\\ngender, including transgender\\nintersex\\ngenerational\\nsexual orientation/sexual identity - lesbian, gay, bisexual, heterosexual\\nkey aspects, and the diversity, of Australia’s Aboriginal and/or Torres Strait Islander cultures, including:\\nsocial, political and economic issues affecting Aboriginal and/or Torres Strait Islander people\\nown culture, western systems and structures and how these impact on Aboriginal and/or Torres Strait Islander people and their engagement with services\\npotential needs of marginalised groups, including:\\nprotective factors\\nphysical, mental and emotional health issues/care needs\\nconsideration of impacts of discrimination, trauma, exclusion and negative attitudes\\nresources that support individuals and organisations to embrace and respond to diversity\\nlanguage and cultural interpreters\\nimagery\\ninfluences and changing practices in Australia and their impact on the diverse communities that make up Australian society\\nimpact of diversity practices and experiences on personal behaviour, interpersonal relationships, perception and social expectations of others\\nAssessment conditions\\n\\nSkills must have been demonstrated in the workplace or in a simulated environment that reflects workplace conditions. Where simulation is used, it must reflect real working conditions by modelling industry operating conditions and contingencies, as well as, using suitable facilities, equipment and resources.\\n\\nAssessors must satisfy the Standards for Registered Training Organisations (RTOs) 2015/AQTF mandatory competency requirements for assessors.\",\n\"Application\": \n\"Application\\n\\nThis unit describes the skills and knowledge required to work respectfully with people from diverse social and cultural groups and situations, including Aboriginal and/or Torres Strait Islander people.\\n\\nThis unit applies to all workers.\\n\\nThe skills in this unit must be applied in accordance with Commonwealth and State/Territory legislation, Australian/New Zealand standards and industry codes of practice.\",\n\"ElementsAndPerformanceCriteria\": \n\"Elements and performance criteria\\nElement Performance criteria\\n\\n\\nElements define the essential outcomes\\n\\n \\n\\nPerformance criteria describe the performance needed to demonstrate achievement of the element\\n\\n\\n \\n\\n\\n1. Reflect on own perspectives\\n\\n \\n\\n1.1 Identify and reflect on own social and cultural perspectives and biases\\n\\n1.2 Work with awareness of own limitations in self and social awareness\\n\\n1.3 Use reflection to support own ability to work inclusively and with understanding of others\\n\\n1.4 Identify and act on ways to improve own self and social awareness\\n\\n\\n \\n\\n\\n2. Appreciate diversity and inclusiveness, and their benefits\\n\\n \\n\\n2.1 Value and respect diversity and inclusiveness across all areas of work\\n\\n2.2 Contribute to the development of work place and professional relationships based on appreciation of diversity and inclusiveness\\n\\n2.3 Use work practices that make environments safe for all\\n\\n\\n \\n\\n\\n3. Communicate with people from diverse backgrounds and situations\\n\\n \\n\\n3.1 Show respect for diversity in communication with all people\\n\\n3.2 Use verbal and non-verbal communication constructively to establish, develop and maintain effective relationships, mutual trust and confidence\\n\\n3.3 Where a language barrier exists, use effective strategies to communicate in the most efficient way possible\\n\\n3.4 Seek assistance from interpreters or other persons according to communication needs\\n\\n\\n \\n\\n\\n4. Promote understanding across diverse groups\\n\\n \\n\\n4.1 Identify issues that may cause communication misunderstandings or other difficulties\\n\\n4.2 Where difficulties or misunderstandings occur, consider the impact of social and cultural diversity\\n\\n4.3 Make an effort to sensitively resolve differences, taking account of diversity considerations\\n\\n4.4 Address any difficulties with appropriate people and seek assistance when required\",\n\"FoundationSkills\": \n\"Foundation skills\\n\\nThe Foundation Skills describe those required skills (language, literacy, numeracy and employment skills) that are essential to performance.\\n\\n\\n\\n\\nFoundation skills essential to performance are explicit in the performance criteria of this unit of competency.\",\n\"PerformanceEvidence\": \n\"Performance evidence\\n\\nThe candidate must show evidence of the ability to complete tasks outlined in elements and performance criteria of this unit, manage tasks and manage contingencies in the context of the job role. There must be evidence that the candidate has:\\n\\nundertaken a structured process to reflect on own perspectives on diversity\\nrecognised and respected the needs of people from diverse social and cultural backgrounds in at least 3 different situations:\\nselected and used appropriate verbal and non verbal communication\\nrecognised situations where misunderstandings may arise from diversity and formed appropriate responses\",\n\"KnowledgeEvidence\": \n\"Knowledge evidence\\n\\nThe candidate must be able to demonstrate essential knowledge required to effectively complete tasks outlined in elements and performance criteria of this unit, manage tasks and manage contingencies in the context of the work role. This includes knowledge of:\\n\\nconcepts of cultural awareness, cultural safety and cultural competence and how these impact different work roles\\nconcepts and definitions of diversity\\nown culture and the community attitudes, language, policies and structures of that culture and how they impact on different people and groups\\nfeatures of diversity in Australia and how this impacts different areas of work and life:\\npolitical\\nsocial\\neconomic\\ncultural\\nlegal and ethical considerations (international, national, state/territory, local) for working with diversity, how these impact individual workers, and the consequences of breaches:\\ndiscrimination:\\nage\\ndisability\\nracial\\nsex\\nhuman rights:\\nUniversal declaration of human rights\\nrelationship between human needs and human rights\\nframeworks, approaches and instruments used in the workplace\\nrights and responsibilities of workers, employers and clients, including appropriate action when rights are being infringed or responsibilities not being carried out\\nkey areas of diversity and their characteristics, including:\\nculture, race, ethnicity\\ndisability\\nreligious or spiritual beliefs\\ngender, including transgender\\nintersex\\ngenerational\\nsexual orientation/sexual identity - lesbian, gay, bisexual, heterosexual\\nkey aspects, and the diversity, of Australia’s Aboriginal and/or Torres Strait Islander cultures, including:\\nsocial, political and economic issues affecting Aboriginal and/or Torres Strait Islander people\\nown culture, western systems and structures and how these impact on Aboriginal and/or Torres Strait Islander people and their engagement with services\\npotential needs of marginalised groups, including:\\nprotective factors\\nphysical, mental and emotional health issues/care needs\\nconsideration of impacts of discrimination, trauma, exclusion and negative attitudes\\nresources that support individuals and organisations to embrace and respond to diversity\\nlanguage and cultural interpreters\\nimagery\\ninfluences and changing practices in Australia and their impact on the diverse communities that make up Australian society\\nimpact of diversity practices and experiences on personal behaviour, interpersonal relationships, perception and social expectations of others\",\n\"AssessmentConditions\": \n\"Assessment conditions\\n\\nSkills must have been demonstrated in the workplace or in a simulated environment that reflects workplace conditions. Where simulation is used, it must reflect real working conditions by modelling industry operating conditions and contingencies, as well as, using suitable facilities, equipment and resources.\\n\\nAssessors must satisfy the Standards for Registered Training Organisations (RTOs) 2015/AQTF mandatory competency requirements for assessors.\"\n}\n}",
        "options": {
          "systemPromptTemplate": "You are a highly specialized extraction algorithm.\n\nExtract only the explicitly relevant information from the provided text.\nDo not summarize, paraphrase, or correct any content.\nExtract the requested sections verbatim, preserving their original wording.\nIf an attribute's value is not found in the text, return an empty string for that attribute."
        },
        "schemaType": "fromJson",
        "text": "={{ $json.data.markdown.toJsonString() }}"
      },
      "position": [
        460,
        200
      ],
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "F3fJ2WILchdegSmA",
          "name": "OpenAi account"
        }
      },
      "id": "2d707ad4-65af-4e6d-9498-1ef0f4acce63",
      "name": "OpenAI Chat Model",
      "parameters": {
        "model": "gpt-4.1",
        "options": {}
      },
      "position": [
        420,
        400
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "F3fJ2WILchdegSmA",
          "name": "OpenAi account"
        }
      },
      "id": "0f7e9875-7e1f-4850-8385-f8b117803a9e",
      "name": "OpenAICHath",
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "position": [
        940,
        400
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2
    },
    {
      "id": "22c28b2b-dfdd-433a-9661-976665b78a0d",
      "name": "Extract Title",
      "parameters": {
        "attributes": {
          "attributes": [
            {
              "description": "uoc title",
              "name": "Title"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\n\nExtract the title found after the Show history text and before Usage Recommendation\n\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        },
        "text": "={{ $json.output.capturedTexts.UOCpage }}"
      },
      "position": [
        940,
        200
      ],
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2
    },
    {
      "id": "69a4a6db-b6d3-40ed-b490-4ee08ad751cc",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "84ff47f3-435b-4e4f-a05d-1a23f34d7c86",
        "responseData": "noData",
        "responseMode": "lastNode"
      },
      "position": [
        -120,
        200
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "84ff47f3-435b-4e4f-a05d-1a23f34d7c86"
    },
    {
      "credentials": {
        "firecrawlApi": {
          "id": "AaRv7xx3VFiC2d9K",
          "name": "Firecrawl account"
        }
      },
      "id": "3b26e62b-2fc3-4051-a5fa-a2325130763b",
      "name": "Scrape a url and get its content",
      "parameters": {
        "operation": "scrape",
        "requestOptions": {},
        "scrapeOptions": {
          "options": {
            "headers": {}
          }
        },
        "url": "={{ $json.body.originUrl }}"
      },
      "position": [
        200,
        200
      ],
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-20T06:33:36.469Z",
      "project": {
        "createdAt": "2024-10-22T21:15:58.126Z",
        "creatorId": "ce4bc9dd-417b-4637-a89e-1ea49435b48d",
        "description": null,
        "icon": null,
        "id": "l4KvHHgKuODqlMQC",
        "name": "Kevin Dyer <kdyer1000@gmail.com>",
        "projectRelations": [
          {
            "createdAt": "2024-10-22T21:15:58.126Z",
            "projectId": "l4KvHHgKuODqlMQC",
            "updatedAt": "2024-10-22T21:15:58.126Z",
            "user": {
              "createdAt": "2024-10-22T21:15:57.570Z",
              "disabled": false,
              "email": "kdyer1000@gmail.com",
              "firstName": "Kevin",
              "id": "ce4bc9dd-417b-4637-a89e-1ea49435b48d",
              "isPending": false,
              "lastActiveAt": "2026-01-19",
              "lastName": "Dyer",
              "mfaEnabled": false,
              "personalizationAnswers": {
                "personalization_survey_n8n_version": "1.64.0",
                "personalization_survey_submitted_at": "2024-10-22T21:38:04.796Z",
                "version": "v4"
              },
              "settings": {
                "dismissedCallouts": {
                  "ragStarterCallout": true
                },
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "4MQL5umSvDprkDtp",
                "isOnboarded": true,
                "npsSurvey": {
                  "lastShownAt": 1768798709616,
                  "responded": true
                },
                "userActivated": true,
                "userActivatedAt": 1729653350737
              },
              "updatedAt": "2026-01-20T02:03:46.000Z"
            },
            "userId": "ce4bc9dd-417b-4637-a89e-1ea49435b48d"
          }
        ],
        "type": "personal",
        "updatedAt": "2024-10-22T21:37:59.985Z"
      },
      "projectId": "l4KvHHgKuODqlMQC",
      "role": "workflow:owner",
      "updatedAt": "2025-07-20T06:33:36.469Z",
      "workflowId": "scslSyK1AAOrmBna"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-14T07:15:13.000Z",
  "versionCounter": 5,
  "versionId": "4c756abf-2209-4a13-a341-e59d44b99689"
}
