workflows/sv4K0SeyOi2sfG0C_TwilioSheet.json
{
  "active": true,
  "activeVersion": {
    "authors": "system migration",
    "autosaved": false,
    "connections": {
      "Read Phone Numbers": {
        "main": [
          [
            {
              "index": 0,
              "node": "Send SMS",
              "type": "main"
            }
          ]
        ]
      },
      "Send SMS": {
        "main": [
          [
            {
              "index": 0,
              "node": "Update Status to Sent",
              "type": "main"
            }
          ],
          []
        ]
      },
      "Webhook for SMS Reply": {
        "main": [
          [
            {
              "index": 0,
              "node": "Update Sheet with Reply",
              "type": "main"
            }
          ]
        ]
      },
      "Webhook receive from Sheets Button": {
        "main": [
          [
            {
              "index": 0,
              "node": "Read Phone Numbers",
              "type": "main"
            }
          ]
        ]
      }
    },
    "createdAt": "2025-11-28T18:15:14.136Z",
    "description": null,
    "name": null,
    "nodes": [
      {
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "3RozXq9Cb7LXbMra",
            "name": "Google Sheets account"
          }
        },
        "id": "cdfcd80e-ac64-43a1-81b8-2337af083607",
        "name": "Read Phone Numbers",
        "parameters": {
          "documentId": {
            "__rl": true,
            "mode": "url",
            "value": "https://docs.google.com/spreadsheets/d/1SBG9fe5BtxeTxy5fbam-ugMY5Fg7mFGMNQSG7sKz1-s/edit?usp=sharing"
          },
          "options": {},
          "sheetName": {
            "__rl": true,
            "mode": "name",
            "value": "numbers"
          }
        },
        "position": [
          -256,
          -128
        ],
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 3
      },
      {
        "alwaysOutputData": true,
        "continueOnFail": true,
        "credentials": {
          "twilioApi": {
            "id": "UGNTVs4tbhgahMB4",
            "name": "Twilio account"
          }
        },
        "id": "cbfbda24-02e9-4e9c-95b3-7a3f9a371d51",
        "name": "Send SMS",
        "onError": "continueRegularOutput",
        "parameters": {
          "from": "+1 928 593 4845",
          "message": "={{ $('Webhook receive from Sheets Button').item.json.body.msg }}",
          "options": {},
          "to": "=+{{ $json.Number }}"
        },
        "position": [
          -48,
          -128
        ],
        "type": "n8n-nodes-base.twilio",
        "typeVersion": 1
      },
      {
        "id": "b9fb0591-e301-4f2f-be70-0ae5aa8d61c9",
        "name": "Webhook for SMS Reply",
        "parameters": {
          "options": {},
          "path": "sms-reply-update-sheet"
        },
        "position": [
          -368,
          160
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "webhookId": "4d490461-68f3-4119-bab3-7eb771d97472"
      },
      {
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "3RozXq9Cb7LXbMra",
            "name": "Google Sheets account"
          }
        },
        "id": "920a80cb-0465-45e4-9af7-b3b50445f000",
        "name": "Update Sheet with Reply",
        "parameters": {
          "columnToMatchOn": "Number",
          "documentId": {
            "__rl": true,
            "mode": "url",
            "value": "https://docs.google.com/spreadsheets/d/1SBG9fe5BtxeTxy5fbam-ugMY5Fg7mFGMNQSG7sKz1-s/edit?usp=sharing"
          },
          "fieldsUi": {
            "values": [
              {
                "column": "Response",
                "fieldValue": "={{ $json.query.Body }}"
              },
              {
                "column": "Date Response Received",
                "fieldValue": "={{ $now }}"
              }
            ]
          },
          "operation": "update",
          "options": {},
          "sheetName": {
            "__rl": true,
            "mode": "name",
            "value": "numbers"
          },
          "valueToMatchOn": "={{ $json.query.From?.toNumber() }}"
        },
        "position": [
          -48,
          160
        ],
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 3
      },
      {
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "3RozXq9Cb7LXbMra",
            "name": "Google Sheets account"
          }
        },
        "id": "c5432bb3-4ae6-450d-8d40-209a3a75e0af",
        "name": "Update Status to Sent",
        "parameters": {
          "columnToMatchOn": "Number",
          "documentId": {
            "__rl": true,
            "mode": "url",
            "value": "https://docs.google.com/spreadsheets/d/1SBG9fe5BtxeTxy5fbam-ugMY5Fg7mFGMNQSG7sKz1-s/edit?usp=sharing"
          },
          "fieldsUi": {
            "values": [
              {
                "column": "Date Message Sent",
                "fieldValue": "={{ $ifEmpty($json.error,$now) }} "
              }
            ]
          },
          "operation": "update",
          "options": {},
          "sheetName": {
            "__rl": true,
            "mode": "name",
            "value": "numbers"
          },
          "valueToMatchOn": "={{ $json.to?.toNumber() }}"
        },
        "position": [
          240,
          -128
        ],
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 3
      },
      {
        "id": "fd294fef-f918-4f4f-831e-0fcd65219c89",
        "name": "Webhook receive from Sheets Button",
        "parameters": {
          "httpMethod": "POST",
          "options": {},
          "path": "67c44e06-02e8-4d37-98ff-73699bacce24"
        },
        "position": [
          -496,
          -128
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "webhookId": "67c44e06-02e8-4d37-98ff-73699bacce24"
      }
    ],
    "updatedAt": "2025-11-28T18:15:14.136Z",
    "versionId": "905ef317-5870-42e5-8aaf-e10428ac0bd5",
    "workflowId": "sv4K0SeyOi2sfG0C",
    "workflowPublishHistory": [
      {
        "createdAt": "2025-10-14T07:20:01.000Z",
        "event": "activated",
        "id": 7,
        "userId": null,
        "versionId": "905ef317-5870-42e5-8aaf-e10428ac0bd5",
        "workflowId": "sv4K0SeyOi2sfG0C"
      }
    ]
  },
  "activeVersionId": "905ef317-5870-42e5-8aaf-e10428ac0bd5",
  "connections": {
    "Read Phone Numbers": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send SMS",
            "type": "main"
          }
        ]
      ]
    },
    "Send SMS": {
      "main": [
        [
          {
            "index": 0,
            "node": "Update Status to Sent",
            "type": "main"
          }
        ],
        []
      ]
    },
    "Webhook for SMS Reply": {
      "main": [
        [
          {
            "index": 0,
            "node": "Update Sheet with Reply",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook receive from Sheets Button": {
      "main": [
        [
          {
            "index": 0,
            "node": "Read Phone Numbers",
            "type": "main"
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-14T09:19:05.477Z",
  "description": null,
  "id": "sv4K0SeyOi2sfG0C",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "TwilioSheet",
  "nodes": [
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3RozXq9Cb7LXbMra",
          "name": "Google Sheets account"
        }
      },
      "id": "cdfcd80e-ac64-43a1-81b8-2337af083607",
      "name": "Read Phone Numbers",
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1SBG9fe5BtxeTxy5fbam-ugMY5Fg7mFGMNQSG7sKz1-s/edit?usp=sharing"
        },
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "numbers"
        }
      },
      "position": [
        -256,
        -128
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3
    },
    {
      "alwaysOutputData": true,
      "continueOnFail": true,
      "credentials": {
        "twilioApi": {
          "id": "UGNTVs4tbhgahMB4",
          "name": "Twilio account"
        }
      },
      "id": "cbfbda24-02e9-4e9c-95b3-7a3f9a371d51",
      "name": "Send SMS",
      "onError": "continueRegularOutput",
      "parameters": {
        "from": "+1 928 593 4845",
        "message": "={{ $('Webhook receive from Sheets Button').item.json.body.msg }}",
        "options": {},
        "to": "=+{{ $json.Number }}"
      },
      "position": [
        -48,
        -128
      ],
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1
    },
    {
      "id": "b9fb0591-e301-4f2f-be70-0ae5aa8d61c9",
      "name": "Webhook for SMS Reply",
      "parameters": {
        "options": {},
        "path": "sms-reply-update-sheet"
      },
      "position": [
        -368,
        160
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "webhookId": "4d490461-68f3-4119-bab3-7eb771d97472"
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3RozXq9Cb7LXbMra",
          "name": "Google Sheets account"
        }
      },
      "id": "920a80cb-0465-45e4-9af7-b3b50445f000",
      "name": "Update Sheet with Reply",
      "parameters": {
        "columnToMatchOn": "Number",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1SBG9fe5BtxeTxy5fbam-ugMY5Fg7mFGMNQSG7sKz1-s/edit?usp=sharing"
        },
        "fieldsUi": {
          "values": [
            {
              "column": "Response",
              "fieldValue": "={{ $json.query.Body }}"
            },
            {
              "column": "Date Response Received",
              "fieldValue": "={{ $now }}"
            }
          ]
        },
        "operation": "update",
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "numbers"
        },
        "valueToMatchOn": "={{ $json.query.From?.toNumber() }}"
      },
      "position": [
        -48,
        160
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3
    },
    {
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3RozXq9Cb7LXbMra",
          "name": "Google Sheets account"
        }
      },
      "id": "c5432bb3-4ae6-450d-8d40-209a3a75e0af",
      "name": "Update Status to Sent",
      "parameters": {
        "columnToMatchOn": "Number",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1SBG9fe5BtxeTxy5fbam-ugMY5Fg7mFGMNQSG7sKz1-s/edit?usp=sharing"
        },
        "fieldsUi": {
          "values": [
            {
              "column": "Date Message Sent",
              "fieldValue": "={{ $ifEmpty($json.error,$now) }} "
            }
          ]
        },
        "operation": "update",
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "numbers"
        },
        "valueToMatchOn": "={{ $json.to?.toNumber() }}"
      },
      "position": [
        240,
        -128
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3
    },
    {
      "id": "fd294fef-f918-4f4f-831e-0fcd65219c89",
      "name": "Webhook receive from Sheets Button",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "67c44e06-02e8-4d37-98ff-73699bacce24"
      },
      "position": [
        -496,
        -128
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "67c44e06-02e8-4d37-98ff-73699bacce24"
    }
  ],
  "pinData": {
    "Webhook receive from Sheets Button": [
      {
        "json": {
          "body": {
            "msg": "Link to Google Sheets:  https://docs.google.com/spreadsheets/d/1SBG9fe5BtxeTxy5fbam-ugMY5Fg7mFGMNQSG7sKz1-s/edit?usp=sharing"
          },
          "executionMode": "production",
          "headers": {
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "35.187.143.36",
            "cf-ipcountry": "US",
            "cf-ray": "96f36089f8c4a347-SIN",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-length": "134",
            "content-type": "application/json",
            "host": "n8n-gtoa.onrender.com",
            "render-proxy-ttl": "4",
            "rndr-id": "c367df94-fe66-4f39",
            "true-client-ip": "35.187.143.36",
            "user-agent": "Mozilla/5.0 (compatible; Google-Apps-Script; beanserver; +https://script.google.com; id: UAEmdDd-IT8wD5kqcHz8YSVcsf13jGzWQUg)",
            "x-forwarded-for": "199.87.208.106,35.187.143.36, 172.71.81.242",
            "x-forwarded-proto": "https",
            "x-request-start": "1755205178093258"
          },
          "params": {},
          "query": {},
          "webhookUrl": "https://n8n-gtoa.onrender.com/webhook/67c44e06-02e8-4d37-98ff-73699bacce24"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-14T09:19:05.479Z",
      "project": {
        "createdAt": "2024-10-22T21:15:58.126Z",
        "creatorId": "ce4bc9dd-417b-4637-a89e-1ea49435b48d",
        "description": null,
        "icon": null,
        "id": "l4KvHHgKuODqlMQC",
        "name": "Kevin Dyer <kdyer1000@gmail.com>",
        "projectRelations": [
          {
            "createdAt": "2024-10-22T21:15:58.126Z",
            "projectId": "l4KvHHgKuODqlMQC",
            "updatedAt": "2024-10-22T21:15:58.126Z",
            "user": {
              "createdAt": "2024-10-22T21:15:57.570Z",
              "disabled": false,
              "email": "kdyer1000@gmail.com",
              "firstName": "Kevin",
              "id": "ce4bc9dd-417b-4637-a89e-1ea49435b48d",
              "isPending": false,
              "lastActiveAt": "2026-01-19",
              "lastName": "Dyer",
              "mfaEnabled": false,
              "personalizationAnswers": {
                "personalization_survey_n8n_version": "1.64.0",
                "personalization_survey_submitted_at": "2024-10-22T21:38:04.796Z",
                "version": "v4"
              },
              "settings": {
                "dismissedCallouts": {
                  "ragStarterCallout": true
                },
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "4MQL5umSvDprkDtp",
                "isOnboarded": true,
                "npsSurvey": {
                  "lastShownAt": 1768798709616,
                  "responded": true
                },
                "userActivated": true,
                "userActivatedAt": 1729653350737
              },
              "updatedAt": "2026-01-20T02:03:46.000Z"
            },
            "userId": "ce4bc9dd-417b-4637-a89e-1ea49435b48d"
          }
        ],
        "type": "personal",
        "updatedAt": "2024-10-22T21:37:59.985Z"
      },
      "projectId": "l4KvHHgKuODqlMQC",
      "role": "workflow:owner",
      "updatedAt": "2025-08-14T09:19:05.479Z",
      "workflowId": "sv4K0SeyOi2sfG0C"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2026-01-20T02:08:10.416Z",
  "versionCounter": 6,
  "versionId": "905ef317-5870-42e5-8aaf-e10428ac0bd5"
}
